<div class="row">
  <div class="col-md-4">
    <dv-widget name="ShowEvent" fqelement="dv-organization-event"
     [fields]="fields" [hosts]="hosts">
    </dv-widget>
  </div>
  <div class="col-md-4">
    <dv-widget name="EditConsumer" fqelement="dv-organization-allocator"
     [fields]="fields" [hosts]="hosts">
    </dv-widget>
  </div>
  <div class="col-md-4">
    <dv-widget name="SendEmail" fqelement="dv-messaging-email"
     [fields]="fields" [hosts]="hosts">
    </dv-widget>
  </div>
</div>
