#search-container {
  float: left;
}

#sort-dropdown {
  float: right;
}

#journal-sort-search-container {
  font-family: 'Asap', sans-serif;
  position: absolute;
  margin-left: 23vw;
  margin-top: 10px;
  max-width: 78%;
  min-width: 50vw;
}
