<potluck-nav-bar (loggedInUser)="user=$event"></potluck-nav-bar>

<div class="container" id="homepage-container">
  <div class="col-md-8" id="namebox">
    <dv-link href="parties" class="btn btn-primary">
      Return to Your Parties
    </dv-link>
    <h4 class="create-party-title">Create a New Party</h4>
    <form class="form-horizontal">
      <dv-tx>
        <div class="row">
          <div class="col-md-5">
            <dv-id (id)="partyId=$event"></dv-id>
            <dv-status savedText="Party created"></dv-status>

            <property-create-object
              dvOf="party"
              [id]="partyId"
              [showOptionToSubmit]="false">
            </property-create-object>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <event-create-event
              [id]="partyId"
              [showOptionToSubmit]="false">
            </event-create-event>
          </div>
        </div>
        <hr class="divider">
        <div class="row">
          <div class="col-md-5">
            <group-create-group
              [id]="partyId"
              [showMember]="{type: showGuestUsername}"

              memberAutocompletePlaceholder="Choose Guest"
              stageMemberButtonLabel="Add to Guest List"
              [showOptionToAddGroups]="false"
              [showOptionToSubmit]="false">
            </group-create-group>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <market-stage-goods
              [createGood]="{
                type: createSupply,
                outputMap: {good: 'supply'}
              }"
              [showGood]="{
                type: showSupply,
                inputMap: {good: 'supply'}
              }"

              stageGoodsButtonLabel="Add Item"
              supplyLabel="Quantity"
              [showOptionToInputPrice]="false"
              [showOptionToInputSeller]="false"

              (stagedGoods)="stagedSupplies=$event">
            </market-stage-goods>
          </div>
        </div>

        <market-create-market
          [id]="partyId"
          [goods]="stagedSupplies"
          [hidden]="true">
        </market-create-market>

        <property-create-objects
          dvOf="supply"
          [objects]="stagedSupplies"
          [hidden]="true">
        </property-create-objects>
          
        <div class="party-form-footer">
          <dv-button>Create Party</dv-button>
        </div>
      </dv-tx>
    </form>
  </div>
</div>
