.dvd-row {
  min-height: 100px;
  flex: 1
}

.action {
  border: 3px solid white; /* TODO: configurable */
  border-radius: 5px;
  width: fit-content;
}

.action:hover {
  border-color:rgba(16, 219, 255, .5);
}
