<div class="dvd-row" dragula="action" [attr.data-index]="rowNum">
  <div
    *ngFor="let action of row.actions; let i = index"
    class="action"
    [attr.data-index]="i"
  >
    <!-- unfortunately we can't apply inputs conditionally -->
    <div *ngIf="action.of.inputs.length === 0">
      <app-action-instance [actionInstance]="action"></app-action-instance>
    </div>
    <div
      *ngIf="action.of.inputs.length > 0"
      #menuTrigger="matMenuTrigger"
      [matMenuTriggerFor]="menu"
    >
      <app-action-instance [actionInstance]="action"></app-action-instance>
      <mat-menu #menu="matMenu" [overlapTrigger]="false" (closed)="onMenuClosed(action)">
        <div class="popup-menu" (click)="$event.stopPropagation()">
          <mat-form-field *ngFor="let input of action.of.inputs">
            <input
              matInput
              class="input-value"
              [placeholder]="input"
              [name]="input"
              [(ngModel)]="action.inputSettings[input]">
          </mat-form-field>
        </div>
      </mat-menu>
    </div>
  </div>
</div>