@import "~leaflet/dist/leaflet.css";
@import "~leaflet-routing-machine/dist/leaflet-routing-machine.css";
@import "~leaflet-control-geocoder/dist/Control.Geocoder.css";

.map {
  height: 500px;
  padding: 0;
}

/* Required for @agm/core. Height must be in pixels.*/
agm-map {
  height: 500px;
  margin: 0px;
  padding: 0px;
  position: relative;
  overflow: hidden;
}
