<form (ngSubmit)="onSubmit()" #newListForm="ngForm" class="form-horizontal">
  <fieldset class="form-group">
    <label class="sr-only" for="list-name">List Name</label>
    <input required id="list-name" class="form-control" name="list-name" type="text"
      [(ngModel)]="list.name" placeholder="Write something..." />
  </fieldset>
  <div class="form-group">
    <button type="submit" class="btn btn-default btn-sm pull-right"
     [disabled]="!newListForm.valid">Create New List</button>
  </div>
</form>
