.nav-item {
  display: inline-block;
  margin: 0 1em;
}

.popuptext {
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.5em 1em;
  z-index: 1;
}

.navbar-brand {
  color: lightgrey;
}
