@import "~css-star-rating/dist/css/star-rating.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~leaflet/dist/leaflet.css";
@import "~leaflet-routing-machine/dist/leaflet-routing-machine.css";
@import "~leaflet-control-geocoder/dist/Control.Geocoder.css";
@import url('https://fonts.googleapis.com/css?family=Mogra');
md-icon {
  font-family: 'Material Icons' !important;
}

/* Basics */
p {
  white-space: pre-wrap;
  font-family: 'Lato', sans-serif;
}

a {
  color: #44a7f2;
}

a:hover {
  cursor: pointer;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #44a7f2;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #44a7f2;
}

h3 {
  font-family: 'Lato', sans-serif;
  margin: 10px;
}

div {
  font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
}

html,
body,
main {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff !important;
}

/* Layouts */
.center-column {
  margin: 30px 70px;
}

.center-column-dynamic-thin {
  padding-top: 40px;
  margin: auto;
  width: 25%;
}

.center-column-dynamic-medium {
  padding-top: 40px;
  margin: auto;
  width: 35%;
}

.center-column-dynamic-auth {
  margin: auto;
  padding-top: 40px;
  width: 280px;
}

.left-column, .dv-stage-stage-entity {
  float: left;
  width: 35%;
  padding: 30px 50px;
}

.fourth-column {
  float: left;
  width: 25%;
  padding: 30px 50px;
}

.right-column, .dv-stage-stage-header,
.dv-stage-staged-entities {
  float: right;
  width: 65%;
  padding: 30px 50px;
}

.individual-card {
  margin: 30px 0;
}

.inline-block {
  display: inline-block;
}

.small-vertical-margin {
  margin: 10px 0;
}

/* Auth Related */
.theme-button button.mat-button,
authentication-sign-in button.mat-button {
  background-color: #44a7f2;
  color: #FFFFFF !important;
  border: 2px solid white;
  font-size: 20px;
  line-height: 20px;
  transition: all 250ms ease;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 25px;
  display: block;
}

.theme-button button.mat-button:hover, .sign-up-btn button.mat-button:hover,
authentication-sign-in button.mat-button:hover {
  color: #44a7f2 !important;
  background-color: white;
  border: 2px solid #44a7f2;
}

/* Navbar */
.navbar a{
  color: #FFFFFF;
  text-shadow: 2px 2px #000000;
  display: inline-block;
  text-align:center;
  vertical-align: middle;
  margin:5px;
}

.navbar a:hover {
  text-decoration: none;
  text-shadow: none;
  color: #054575;
}

.navbar-right a, .navbar-right-elem {
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  color: white;
}

.navbar {
  background-color: #44a7f2;
}

.login-btn a,
.register-btn a {
  color: #44a7f2;
}

/* Other */
.mat-option {
  font-size: inherit;
  line-height: 2em !important;
  height: 4.5em !important;
}

.panel {
  border: solid 1px rgba(160, 160, 160, 0.3);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  margin: 50px 70px;
  padding: 50px;
}

.bold {
  display: inline-block !important;
  font-weight: 600 !important;
}

.plain {
  display: inline-block !important;
}

.pull-right {
  float: right;
}

.disabled {
  float: none;
  color: #959ca6;
}

.inline-card {
  display: inline-block;
  float: left;
  width: 350px;
}

.property-filter-objects-property {
  margin: 30px;
  display: inline-block;
}
.property-filter-objects-property-title {
  font-weight:bold;
}
.authentication-show-user-username {
  display: inline-block;
}
.list-group {
  display:inline-block;
}
.list-group-item {
  margin: 10px !important;
  width: 400px !important;
  vertical-align: top;
  display:inline-block
}
.list-group-item:first-child {
  border-radius: .25rem;
}

/*.property-create-objects-each-object, .dv-show-entities-entity-item {*/
  /*margin: 20px 0;*/
  /*height: 150px;*/
  /*width: 120px;*/
/*}*/

.rating {
  display: inline-block;
  text-align: left;
  vertical-align: bottom;
}

/deep/ .mat-expansion-indicator::after {
}

.rating-show-avg-rating-stars-container {
  display: inline-block;
}

.rating-show-avg-rating-stars-vote-count {
  display: inline-block;
}

.property-show-object-property {
  display: inline-block;
  margin: 10px;
}

.rating-filter-targets-option {
  display: block;
}
