<!-- GuestSignInWithRedirect -->
<form (ngSubmit)="onSubmit()" #signInForm="ngForm" class="form-horizontal" [ngClass]="{'has-error': error}">
    <fieldset class="form-group">
        <label class="sr-only" for="signin-username">Username</label>
        <input type="text" required class="form-control authentication" name="username"
            [(ngModel)]="user.username" ngControl="username" placeholder="Username"
        />
    </fieldset>

    <fieldset class="form-group">
        <label class="sr-only" for="signin-password">Password</label>
        <input type="password" required class="form-control authentication" name="password"
            [(ngModel)]="user.password" ngControl="password" placeholder="Password"
        />
    </fieldset>

    <button type="submit" class="btn btn-default btn-sm pull-right" 
            [disabled]="!signInForm.form.valid">Sign In</button>

    <div id="signin-status" class="alert alert-danger" [hidden]="!error">
        Wrong username or password
    </div>
</form>
