<style type="text/css">
#profile-content {
max-width: 400px;
}

.modal-body {
  margin: 20px;
}
</style>

<dv-widget name="NavBarLoggedIn"></dv-widget>

<div id="main-content">
  <h1>Your Profile</h1>
  <div id="profile-content">
    <dv-widget name="ShowProfile" of="Profile"></dv-widget>
    <dv-widget name="ShowAverageRating" of="Rating"></dv-widget>
    <!-- Note that the original GroceryShip differentiates between Requester and Shopper ratings, but this version does not. -->
  </div>

  <input type="button" class="btn btn-primary" data-toggle="modal" data-target="#profile-edit-modal" value="Edit Profile">
  <input type="button" class="btn btn-primary" data-toggle="modal" data-target="#change-password-modal" value="Change Password">
</div>

<div id="profile-edit-modal" class="modal fade" role="dialog">
  <div class="modal-messages"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Profile</h4>
      </div>
      <div class="modal-body">
        <dv-widget name="UpdateProfile" of="Profile"></dv-widget>
        <label class="col-sm-3 control-label"><b>Dorm coming soon?</b></label>
      </div>     
    </div>
  </div>
</div>

<div id="change-password-modal" class="modal fade" role="dialog">
  <div class="modal-messages"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change Password</h4>
      </div>
      <div class="modal-body">
        <dv-widget name="ChangePassword" of="StandardAuthentication"></dv-widget>
      </div>     
    </div>
  </div>
</div>
