<div class="white-back">
    <img src="./components/landing/banner.png" class="background" />
    <div class="container text-center">
        <h1 class="head">Welcome to Live Scorecard</h1>
        <h3>I am a &hellip;</h3>

        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 text-center">
                <a routerLink="/host-login" type="button" class="btn btn-default choice active">
                    Host
                </a>
                <a routerLink="/climber" type="button" class="climber-button btn btn-default">
                    Climber
                </a>
                <a routerLink="/spectator" type="button" class="specatator-button btn btn-default">
                    Spectator
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 text-center">
                <dv-widget name="SignInWithRedirect" of="StandardAuthentication"></dv-widget>
                <p>Don't have an account? Sign up
                    <a routerLink="/host-register" class="link">here</a>
                </p>
            </div>
        </div>
    </div>
</div>