$mainFont: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$primaryColor: white;
$linkColor: #007bff;
$linkHoverColor: #0056b3;
$backgroundColor: white;
$textColor: #212529;
$headingColor: #212529;

$navbarHeight: 61px;
$navbarTextColor: #212529;
$navbarLinkColor: #262626;
$navbarVerticalAlign: baseline;
$navbarBorderBottom: 1px solid #e0e0e0;

$formWidth: 180px;
$headingFontWeight: normal;

@mixin dv-navbar-link-hover {
  text-decoration: none;
}

@mixin dv-button {
  border-color: #208a46;
  color: #fff;
  background: #29b35b linear-gradient(to bottom, #2ec866, #29b35b);
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(32, 138, 70, 0.3);

  &:hover {
    background: #449d44;
    border-color: #398439;
  }
}

@import './source/template.scss';
