
$primaryColor: #ff6600 !default;
$textColor: #000000 !default;
$linkColor: #002002 !default;
$backgroundColor: #f6f6ef !default;
$errorMessageColor: #f44336 !default;

$navbarBackgroundColor: $primaryColor !default;
$navbarTextColor: black !default;
$navbarHeight: 56px !default;
$navbarButtonPadding: 0 10px !default;

$mainFont: 'Arial', san-serif !default;

$pagePadding: 15px 40px !default;

@import './template.scss';
