
$primaryColor: #ff6600 !default;
$linkColor: #002002 !default;
$backgroundColor: #f6f6ef !default;
$errorMessageColor: #f44336 !default;

$navbarTextColor: black !default;
$navbarLinkColor: black !default;
$navbarLinkHoverColor: black !default;

$mainFont: 'Arial', san-serif !default;

$pagePadding: 15px 40px !default;

@import './template.scss';
