// ultimate default color: blue

$primaryColor: #00237d !default;
$textColor: #000000 !default;
$linkColor: #000000 !default;
$backgroundColor: #ededed !default;
$errorMessageColor: #f44336 !default;

$navbarBackgroundColor: $primaryColor !default;
$navbarTextColor: #FFFFFF !default;
$navbarHeight: 56px !default;
$navbarButtonPadding: 0 10px !default;

$mainFont: 'Arial', san-serif !default;

$pagePadding: 15px 40px !default;




// theming doc starts
// TODO: costomizable font size for h1, h2, h3...
a:root, a:root:hover, div:root, p:root, h1:root, h2:root, h3:root {
  color: $textColor;
  font-family: $mainFont;
}

nav {
  background: $navbarBackgroundColor;
  height: $navbarHeight;
  align-content: center;

  a, div, p, h1, h2, h3 {
    color: $navbarTextColor;
    padding: $navbarButtonPadding;
  }
}

html,
body{
  background: $backgroundColor;
}

.main {
  background-color: $backgroundColor;
  margin-top: $navbarHeight;
  padding: $pagePadding;
}


// Material UI related:
// TODO: make a palette and use the material UI import
@import "~@angular/material/theming";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-error {
  color: $errorMessageColor;
  font-size: 12px;
}

.mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: $errorMessageColor;
}

.mat-input-element {
  caret-color: $textColor;
}
