
// default color palatte when nothing is overwritten
$primaryColor: #00237d !default;
$textColor: #000000 !default;
$linkColor: #0000EE !default;
$backgroundColor: #f5f5f5 !default;
$errorMessageColor: #f44336 !default;

$navbarBackgroundColor: $primaryColor !default;
$navbarTextColor: #FFFFFF !default;
$navbarHeight: 56px !default;
$navbarButtonPadding: 0 10px !default;
$navbarLinkColor: #0000EE !default;
$navbarLinkHoverColor: #0000EE !default;

$mainFont: 'Arial', san-serif !default;
$textFont: $mainFont !default;

// theming doc starts
a:root, a:root:hover, div:root, p:root, h1:root, h2:root, h3:root {
  color: $linkColor;
  font-family: $mainFont;
}

nav {
  background: $navbarBackgroundColor;
  height: $navbarHeight;
  align-content: center;

  div, h1, h2, h3 {
    color: $navbarTextColor;
  }

  a {
    color: $navbarLinkColor;
    padding: $navbarButtonPadding;
  }

  a:hover {
    color: $navbarLinkHoverColor;
  }
}

html,
body{
  background: $backgroundColor;
}

main {
  background-color: $backgroundColor;
  margin-top: $navbarHeight;
}


// Material UI
.mat-error {
  color: $errorMessageColor;
  font-size: 12px;
}

.mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: $errorMessageColor;
}

.mat-input-element {
  caret-color: $textColor;
}

.dv-mat-button {
  display: inline;
}

// About mat-button
// there are three ways to overwrite the button information
//  1. Have a wrapper class called "dv-mat-button" on every
//     in any concept [CHOSEN]
//  2. Put an important tag after class "mat-button"
//  3. Not use mat-button

// Option 1: Overwrite mat-button by wrapping each
//           instance of the mat-button in a different class
.dv-mat-button button.mat-button {
  background: $primaryColor;
  color: $textColor;
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: 1px solid black;
  outline: none;
  @if mixin-exists(dv-button) {@include dv-button};
}

@import "~@angular/material/theming";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@include mat-core();
