<dv-widget name="NavBar"></dv-widget>
<div class="events-container">
  <div class="events-panel panel panel-default">
    <div class="panel-body events-panel-body">
      <dv-widget name="CreateMarkerTitle" of="Map"></dv-widget>
      <dv-widget name="NewEventContent" of="Event"></dv-widget>
      <dv-widget name="CreateMarkerPosition" of="Map"></dv-widget>
      <dv-widget name="NewEventButton" of="Event"></dv-widget>
      <!--TODO: add missing fields beyond basic event-->
    </div>
  </div>
</div>
