#create-event-heading {
  background-color: #ffa599;
}

.card-body {
  padding: 15px;
}

#host-display {
  float: left;
  margin-top: 4px;
}

#host-name {
  color: black;
  margin-left: 5px;
}

td {
  width: 30%;
}

.guidelines {
  margin-top: 3px;
  width: 100%;
}

.cc-buttons {
  float: right;
}

#back {
  margin-top: 10px;
  width: 80px;
}

#tags {
  padding-top: 0px;
}

.event-title-info {
  margin-top: 2em;
}
