<!-- TODO: users should not be able to access this page if not logged in -->
<!-- they should be redirected to the login page -->
<hackernews-navbar (loggedInUser)="user=$event"></hackernews-navbar>

<div class="main">
  <div *ngIf="user">
    <dv-tx>
      <dv-id (id)="postId=$event"></dv-id>
      <property-create-object
        buttonLabel="submit"
        [id]="postId"
        [initialValue]="{ author: user.username }"
        newObjectSavedText="Post submitted"
        (object)="post=$event"
        [showExclude]="['author']"
        [showOptionToSubmit]="user"
      >
      </property-create-object>
      <scoring-create-score
        dvOf="scoringposts"
        [targetId]="postId"
        [value]="0"
        [hidden]="true"
      >
      </scoring-create-score>

      <dv-link href="/item" [params]="{ id: postId }" [hidden]="true"></dv-link>
    </dv-tx>
  </div>

  <div *ngIf="!user">
    <hackernews-redirect-to-login linkText="login to submit">
    </hackernews-redirect-to-login>
  </div>
</div>
