<hackernews-navbar (loggedInUser)="user=$event"></hackernews-navbar>

<dv-tx>
  <authentication-logged-in></authentication-logged-in>
  <dv-redirect href="/login" [params]="{ callback: '/submit' }"
    [onEvalFailure]="true">
  </dv-redirect>
</dv-tx>

<div class="main">
  <div class="container">
    <div *ngIf="user">
      <dv-tx>
        <dv-id (id)="postId=$event"></dv-id>
        <authentication-authenticate
          [id]="user.id" [hidden]="true">
        </authentication-authenticate>
        <property-create-object
          buttonLabel="Submit"
          [id]="postId"
          [initialValue]="{ author: user.username }"
          newObjectSavedText="Post submitted"
          (object)="post=$event"
          [showExclude]="['author']"
          [showOptionToSubmit]="user"
        >
        </property-create-object>
        <!-- use author as sourceId of initial score -->
        <!-- also allows database to prevent author from upvoting own post -->
        <scoring-create-score
          dvOf="scoringposts"
          [sourceId]="user.username"
          [targetId]="postId"
          [value]="0"
          [hidden]="true"
        >
        </scoring-create-score>

        <dv-link href="/item" [params]="{ id: postId }" [hidden]="true">
        </dv-link>
      </dv-tx>
    </div>
  </div>
</div>
