<ng-container *ngIf="selectedApp">
  <div>{{selectedApp.getName()}}</div>
  <div id="page-preview" *ngIf="!empty; else noPages">
      <!-- putting it in a list ensures that the dv-project-preview-widget 
        is refreshed everytime the selected widget changes  -->
    <dv-project-preview-widget
      *ngFor="let page of [selectedPage]"
      (dblclick)="selectProject()"
      id="page"
      [userApp]="selectedApp"
      [widget]="page">
    </dv-project-preview-widget>
  </div>
  <div 
      id="preview-prev-page"
      (click)="swipe(-1)">
    <span class="glyphicon glyphicon-chevron-left" id="preview-prev-page-icon"></span>
  </div>
  <div 
      id="preview-next-page"
      (click)="swipe(1)">
    <span class="glyphicon glyphicon-chevron-right" id="preview-next-page-icon"></span>
  </div>
</ng-container>

<ng-template #noPages>
  This project has no pages
</ng-template>