:host {
  position: relative;
}


#page{
  background: lavender;
}


#project-name-preview{
  display: block;
}

#preview-prev-page, #preview-next-page{
  /*display: inline-block;*/
  height: 400px;
  width: 30px;
  position: relative;
  cursor: pointer;
}

#preview-prev-page{
  float: left;
}

#preview-next-page{
  float: right;
}

#preview-prev-page-icon, #preview-next-page-icon{
  position:absolute;
  top:50%;
  left:0;
  width:100%;
}


/*===================================================
                 COMPONENTS
===================================================*/
.display-component {
  white-space: initial;
  font-weight: 400;
}

.lbl-small, .btn-size-xs {
  font-size: 64%;
}
.lbl-default, .btn-size-df {
  font-size: 14px ;
}
.lbl-large {
  font-size: 150%;
}
.lbl-heading, .btn-size-lg {
  font-size: 200%;
}
.btn-group-vertical>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 4px !important;
}

li.widget {
  display: none;
  position: absolute;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border: 1px solid #e1e1e1;
  line-height: 20px;
  color: #6f6f6f;

}

#page-preview:hover li.widget{
  display: block;
}

.label-container {
  position: absolute;
  top: 0;
  /*background: #fff;*/
  border: #e0e0e0 solid 1px;
  display: block;
}
p.label {
  white-space: initial;
}
