#zoom-slider-and-value {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

#zoom-slider-and-value[hidden] {
  display: none;
}

#zoom-slider {
  height: 40px;
  width: 160px;
}

#zoom-control-value {
  height: 20px;
  width: 160px;
}

.zoom-control-button {
  font-size: 20px;
  background-color: rgba(0, 60, 136, 0.5);
  color: white;
  border: white solid 1px;
  line-height: 90%;
}

.zoom-control-button:hover {
  background-color: rgba(0, 60, 136, 0.8);
}

#zoom-in {
  border-radius: 6px;
}
#zoom-out {
  border-radius: 6px;
}

.btn {
  margin: 0 3px;
  height: 40px;
  border-radius: 5px;
}

.btn[hidden] {
  display: none;
}
