#configure-action {
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
}

mat-dialog-actions {
  display: flex;
  justify-content: space-between;
}

mat-checkbox {
  margin-right: 8px;
}

.homepage {
  display: inline-block;
  font-style: italic;
  margin-bottom: 8px;
}

mat-list-item mat-form-field {
  flex: 1;
}

.io-name {
  padding-right:16px;
  margin-left:-8px;
}
