<div id="configure-action">
  <h1>Configure Action</h1>
  <form
    #configureActionForm="ngForm"
    (ngSubmit)="save(configureActionForm)">

    <mat-form-field>
      <input
        matInput
        required
        name="name"
        #ngFormName="ngModel"
        placeholder="Name"
        [(ngModel)]="name"
      >
    </mat-form-field>

    <div class="mat-form-field">
      <mat-checkbox *ngIf="!home" name="page" [(ngModel)]="page">
        Page
      </mat-checkbox>
      <button
        mat-button
        *ngIf="!home && page && data.action"
        color="accent"
        (click)="makeHomepage()"
      >
        Make Homepage
      </button>
      <span *ngIf="home" class="message">Homepage</span>
    </div>

    <div class="mat-form-field">
      <mat-checkbox name="transaction" [(ngModel)]="transaction">
        Transaction
      </mat-checkbox>
    </div>

    <div *ngFor="let ioType of ioTypes" class="mat-form-field">
      <div style="display:flex">
        <h2>{{ioType + 's'}}</h2>
        <button
          class="mat-small mat-small-y"
          mat-button
          color="primary"
          (click)="addIO(ioType)"
          type="button"
        >
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </div>
      <mat-list>
        <mat-list-item *ngFor="let io of currentIO[ioType]; let i = index">
          <mat-form-field class="io-name">
            <input
              matInput
              [name]="ioType + i + 'Name'"
              placeholder="Name"
              [(ngModel)]="io.name"
            >
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              [name]="ioType + i + 'Value'"
              [placeholder]="(ioType === 'Input' ? 'Default' : '') + ' Value'"
              [(ngModel)]="io.value"
            >
          </mat-form-field>
          <button
            mat-button
            color="warn"
            class="mat-small mat-small-y"
            (click)="removeIO(ioType, i)"
            type="button"
          >
            <mat-icon>remove_circle_outline</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </div>

    <div class="buttons">
      <button
        mat-button
        type="button"
        (click)="cancel()"
      >Cancel</button>
      <button
        mat-button
        *ngIf="data.action"
        color="warn"
        type="button"
        (click)="delete()"
        [disabled]="!canDelete"
      >Delete</button>
      <button
        mat-button
        color="primary"
        type="submit"
        [disabled]="!validate(configureActionForm)"
      >Save</button>
    </div>
  </form>
</div>