<div class="body">
  <chorestar-nav-bar for="parent" (loggedInUser)="user=$event">
  </chorestar-nav-bar>

  <div class="container-fluid main">
    <div class="row">

      <div class="col-md-6">

        <div class="white-box">
          <chorestar-create-chore [user]="user"></chorestar-create-chore>
        </div>

        <div class="white-box">
          <dv-tx>
            <h2>Add a New Reward</h2>
            <dv-id (id)="rewardId=$event"></dv-id>
            <dv-status savedText="Reward created"></dv-status>
            <property-create-object
              dvOf="reward"
              [id]="rewardId"
              [showOptionToSubmit]="false"
            >
            </property-create-object>
            <dv-button>Create Reward</dv-button>
          </dv-tx>
        </div>

        <div class="white-box">
          <dv-tx>
            <h2>Add a New Child</h2>
            <dv-id (id)="childId=$event"></dv-id>
            <dv-status savedText="Child created"></dv-status>
            <property-create-object dvOf="child"
              [id]="childId" [showOptionToSubmit]="false">
            </property-create-object>
            <authentication-register-user dvOf="childauthentication"
              [id]="childId"
              [signIn]="false"
              [showOptionToSubmit]="false">
            </authentication-register-user>
            <group-add-to-group
              [id]="user?.id"
              [memberId]="childId"
              [hidden]="true">
            </group-add-to-group>
            <dv-button>Create Child</dv-button>
          </dv-tx>
        </div>

      </div>

      <div class="col-md-6">

        <div class="white-box">
          <h2>Chores to Approve</h2>
          <task-show-tasks
            [approved]="false"
            [completed]="true"
            [assignerId]="user?.id"
            [showTask]="{
              type: showChore,
              tag: 'chorestar-show-chore',
              inputMap: {task: 'chore'},
              inputs: {showOptionToApprove: true}
            }"
            dvAlias='chores-to-approve'
            noTasksToShowText="No chores to approve">
          </task-show-tasks>
        </div>

        <!-- TODO: rewards to approve -->

        <div class="white-box">
          <h2>Assigned Chores</h2>
          <task-show-tasks
            [assignerId]="user?.id"
            [completed]="false"
            [showTask]="{
              type: showChore,
              tag: 'chorestar-show-chore',
              inputMap: { task: 'chore' }
            }"
            dvAlias='chores-assigned'
            noTasksToShowText="No assigned chores">
          </task-show-tasks>
        </div>

        <div class="white-box">
          <h2>Offered Rewards</h2>
          <property-show-objects
            dvOf="reward"
            [showObject]="{
              type: showReward,
              tag: 'chorestar-show-reward',
              inputMap: {
                object: 'reward'
              }
            }"
          >
          </property-show-objects>
        </div>

      </div>

    </div>
  </div>
</div>
