<div class="body">
  <authentication-logged-in (user)="user=$event"
    dvOf="parentauthentication">
  </authentication-logged-in>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">ChoreStar</a>
      </div>
      <ul class="navbar-nav">
        <li>
          <authentication-show-user [user]="user"
            dvOf="parentauthentication">
          </authentication-show-user>
        </li>
        <li>
          <dv-tx>
            <authentication-sign-out dvOf="parentauthentication">
            </authentication-sign-out>
            <dv-link href="/" [hidden]="true"></dv-link>
          </dv-tx>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid main">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <dv-tx class="col-md-5 white-box">
              <h2>Add a New Chore</h2>
              <dv-id (id)="choreId=$event"></dv-id>
              <dv-status savedText="Chore created"></dv-status>
              <property-create-object dvOf="chore"
                [id]="choreId"
                [showOptionToSubmit]="false">
              </property-create-object>
              <task-create-task
                [id]="choreId"
                [assignerId]="user?.id"
                assigneeSelectPlaceholder="For Child"
                (selectedAssignee)="choreAssignee=$event"
                [showAssignee]="{
                  type: showUser, dvOf: 'childauthentication'
                }"
                [showOptionToSubmit]="false">
              </task-create-task>
              <market-create-good
                [id]="choreId"
                priceLabel="Star Value"
                [sellerId]="choreAssignee?.id"
                [marketId]="user?.id"
                supply=1
                [showOptionToInputSeller]="false"
                [showOptionToInputSupply]="false"
                [showOptionToSubmit]="false">
              </market-create-good>
              <dv-button>Create Chore</dv-button>
            </dv-tx>
            <dv-tx class="col-md-5 offset-md-1 white-box">
              <h2>Add a New Reward</h2>
              <dv-id (id)="rewardId=$event"></dv-id>
              <dv-status savedText="Reward created"></dv-status>
              <property-create-object dvOf="reward"
                [id]="rewardId" [showOptionToSubmit]="false">
              </property-create-object>
              <market-create-good
                [id]="rewardId"
                [sellerId]="user?.id"
                [marketId]="user?.id"
                supply=1
                priceLabel="Star Cost"
                [showOptionToInputSeller]="false"
                [showOptionToInputSupply]="false"
                [showOptionToSubmit]="false">
              </market-create-good>
              <dv-button>Create Reward</dv-button>
            </dv-tx>
          </div>
          <div class="row">
            <div class="col-md-5 white-box">
              <h2>Assigned Chores</h2>
              <task-show-tasks
                [assignerId]="user?.id"
                [showTask]="{
                  type: showChore,
                  inputMap: { task: 'chore' }
                }"
                noTasksToShowText="No assigned chores">
              </task-show-tasks>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 white-box">
              <h2>Chores to Approve</h2>
              <task-show-tasks
                [approved]="false"
                [completed]="true"
                [assignerId]="user?.id"
                [showTask]="{
                  type: showChore,
                  inputMap: {task: 'chore'},
                  inputs: {showOptionToApprove: true}
                }"
                [showOptionToApprove]="false"
                noTasksToShowText="No chores to approve">
              </task-show-tasks>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 white-box">
              <h2>Offered Rewards</h2>
              <market-show-goods
                [sellerId]="user?.id"
                [marketId]="user?.id"
                [waitOn]="['sellerId', 'marketId']"
                [showGood]="{
                  type: showReward,
                  inputMap: { good: 'reward' }
                }"
                [showOptionToBuy]="false"
                noGoodsToShowText="No offered rewards">
              </market-show-goods>
            </div>
          </div>
          <div class="row">
            <dv-tx class="col-md-5 white-box">
              <h2>Add a New Child</h2>
              <dv-id (id)="childId=$event"></dv-id>
              <dv-status savedText="Child created"></dv-status>
              <property-create-object dvOf="child"
                [id]="childId" [showOptionToSubmit]="false">
              </property-create-object>
              <authentication-register-user dvOf="childauthentication"
                [id]="childId"
                [signIn]="false"
                [showOptionToSubmit]="false">
              </authentication-register-user>
              <task-create-assignee [id]="childId" [hidden]="true">
              </task-create-assignee>
              <market-create-party
                [id]="childId"
                balance=0
                [hidden]="true">
              </market-create-party>
              <group-create-member
                [id]="childId"
                [inGroupId]="user?.id"
                [hidden]="true">
              </group-create-member>
              <dv-button>Create Child</dv-button>
            </dv-tx>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
