<div class="col-xs-12 col-ms-6 col-sm-4 col-md-3 col-lg-3">
  <div class="tile request-tile" (click)="openRequestDetailsDialog($event);">
    <h4 class="tile-title">
      <property-show-object
        dvOf="request" [id]="request.id" [showOnly]="['itemName']">
      </property-show-object>
    </h4>
    <div *ngIf="request.assignee">
      <p class="tile-subtitle">
        Shopper: <authentication-show-user [id]="request.assignee.id">
        </authentication-show-user>
      </p>
    </div>

    <!-- A request can only be canceled if no one has claimed it yet. -->
    <div *ngIf="!request.assignee">
      <p class="tile-subtitle"><i>unclaimed</i></p>
      <dv-tx>
        <market-cancel-compound-transaction
          [id]="id"
          canceledText="Request canceledå">
        </market-cancel-compound-transaction>
        <!-- using approve and complete to "delete" task -->
        <task-approve-task [id]="id" [hidden]="true"></task-approve-task>
        <task-complete-task [id]="id" [hidden]="true"></task-complete-task>
      </dv-tx>
    </div>
  </div>
</div>
