#num-attendees {
  width: 100%;
}

.badge {
  color: black;
  margin-left: 5px;
}

#event-summary-table {
  margin-top: -45px;
}

.event-header {
  display: flex;
  justify-content: space-between;
}

.details {
  margin-top: -20px;
}
