<div style="overflow: auto;">
  <div id="content" class="streetView"
    style="text-align: center; margin-left: 25px;">
    <h1>{{event.title}}</h1>
    <div id="bodyContent">
      <p>
        <!-- HACK: change to get street view from cliche widget -->
        <img width="400" height="300"
          src="https://maps.googleapis.com/maps/api/streetview?size=400x300&amp;location={{event.lat}},{{event.lng}}&amp;key=AIzaSyA5FujsPVvdddbyjep6zWjO_44QnTuL8YU"
          alt="Street View of {{event.title}}">
      </p>
      <a [dvLink]="to_event_details" id="eventPage"
        class="button btn submitButtons"
        style="margin-top: 0px; margin-left: 0px;">
        View Event Page
      </a>
    </div>
  </div>
</div>

<!-- HACK: Remove once default fields are always populated -->
<dv-widget name="SignOutWithRedirect" of="Auth" style="display:none">
</dv-widget>
