<div
  *ngIf="componentInstance"
  class="component-instance"
  [attr.dvOf]="componentInstance.from.name"
  [ngStyle]="componentInstance.of.styles || {}"
  [hidden]="hidden"
>
  <div>
    <div #templateElem>
      <ng-template *ngIf="componentInstance.of.component"
        propertyDynamicComponent>
      </ng-template>
    </div>

    <!-- if you have rows, it's an app component -->
    <div *ngIf="componentInstance.of.rows"
      [attr.dvAlias]="componentInstance.of.transaction ? 'dv-tx' : 'user-component'">
      <div
        *ngFor="let row of componentInstance.of.rows"
        class="dvd-row"
        [ngClass]="['j' + row.hJust, 'a' + row.vAlign]"
      >
        <div
          *ngFor="let component of row.components"
          [ngClass]="component.styles.stretch ? 'stretch' : ''"
        >
          <app-component-instance
            [componentInstance]="component"
            [parentScopeIO]="scopeIO"
          >
          </app-component-instance>
        </div>
      </div>
    </div>
  </div>
</div>
