<dv.component name="vote">
  <dv.tx>
    <authentication.authenticate as auth-show-score
      user=$loggedInUser hidden=true />
    <scoring.show-score
      sourceId=$loggedInUser?.id
      targetId=$listId
      hidden=true />
  </dv.tx>

  <div class="vote-buttons">
    <dv.tx>
      <authentication.authenticate as auth-upvote
        user=$loggedInUser hidden=true />
      <dv.button>
        <dv.if condition=scoring.show-score.loadedScore?.value === 1>
          <img
             className="vote-button upvote"
             src="assets/active-upvote.svg"/>
        </dv.if>
        <dv.if condition=!scoring.show-score.loadedScore ||
          scoring.show-score.loadedScore?.value !== 1>
          <img
             className="vote-button upvote"
             src="assets/upvote.svg"/>
        </dv.if>
      </dv.button>
      <scoring.create-score as upvote-create-score
        buttonDisabled=!$loggedInUser || scoring.show-score.loadedScore
        class="vote-button upvote"
        newScoreSavedText=""
        showOptionToInputValue=false
        showOptionToSubmit=false
        sourceId=$loggedInUser?.id
        targetId=$listId
        value=1 />
    </dv.tx>

    <!-- show vote count only when it's nonzero -->
    <dv.tx>
      <authentication.authenticate as auth-show-target
        user=$loggedInUser waitOn=['user'] hidden=true />
      <scoring.show-target
        id=$listId
        showId=false
        showScores=false
        hidden=true />
    </dv.tx>
    <dv.if condition=scoring.show-target.loadedTarget?.total !== 0>
      <p
        className=scoring.show-target.loadedTarget?.total gt 0 ?
        'vote-count vote-count-positive' : 'vote-count vote-count-negative' >
          <scoring.show-target
            totalLabel=""
            target=scoring.show-target.loadedTarget
            showId=false
            showScores=false />
      </p>
    </dv.if>

    <dv.tx>
      <authentication.authenticate as auth-downvote
        user=$loggedInUser hidden=true />
      <dv.button>
        <dv.if condition=scoring.show-score.loadedScore?.value === -1>
          <img
             className="vote-button downvote"
             src="assets/active-downvote.svg"/>
        </dv.if>
        <dv.if condition=!scoring.show-score.loadedScore ||
          scoring.show-score.loadedScore?.value !== -1>
          <img
             className="vote-button downvote"
             src="assets/downvote.svg"/>
        </dv.if>
      </dv.button>

      <scoring.create-score as downvote-create-score
        buttonDisabled=!$loggedInUser || scoring.show-score.loadedScore
        class="vote-button downvote"
        newScoreSavedText=""
        showOptionToInputValue=false
        showOptionToSubmit=false
        sourceId=$loggedInUser?.id
        targetId=$listId
        value=-1 />
    </dv.tx>
  </div>
</dv.component>
