@import "~@deja-vu/themes/scss/stylish-pink.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~leaflet/dist/leaflet.css";
@import "~leaflet-routing-machine/dist/leaflet-routing-machine.css";
@import "~leaflet-control-geocoder/dist/Control.Geocoder.css";

body,
html {
  overflow-x: hidden;
  overflow-y: auto;
}

// link that looks like a button
.button a {
  color: black;
}

.button a:hover {
  text-decoration: none;
  color: gray;
}

div.index {
  background-image: url(http://i.imgur.com/HEMIlLe.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: auto;
}

h3 {
  font-weight: 500;
  font-size: 32px;
  padding: 0;
  margin: 0;
}

.inline-block {
  display: inline-block;
}

textarea {
  resize: vertical;
}

.mat-input-wrapper {
  font-family: 'Raleway', sans-serif;
}

table {
  border: none;
}

select {
  width: 50vh;
  height: 1000px;
  border: 1px solid #ddd;
  padding: 5px;
}

.card>.card-body>p {
  display: inline-block;
  word-wrap: break-word;
}

[class*='col-'] {
  float: left;
}

.inline {
  display: inline-block;
}

.btn>input {
  color: blue;
}

.group-join-leave-btn {
  background-color: #ffd0cc;
  color: black;
  margin-bottom: 2px;
  border-radius: 5px !important;
  border: 1px solid #B3594D !important;
  font-weight: normal;
}

.new-event {
  width: 75%;
  margin: 0 auto;
  margin-top: 50px;
}

.event-display {
  width: 100%;
  padding-top: 20px;
  border-radius: 5px;
  border: 0px;
  margin-top: 60px;
  text-align: center;
}

.event-display table {
  border: 1px solid #CC9088;
}

.event-display td {
  border-top: 1px solid #CC9088;
}

.event-display td:first-child {
  border-top: none;
}

.event-display th {
  border: 1px solid #CC9088;
  background-color: #FFEFEE;
  text-align: center;
}

.button {
  background-color: #ffd0cc;
  color: black;
  height: 38px;
  margin-left: 30px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #B3594D;
}

.register-button {
  margin: 0;
  padding: 0;
}

.display-buttons {
  border: 1px solid #B3594D;
  background-color: #E18B7F;
  color: black;
  margin-right: 10px;
  pointer-events: none;
}

.trash {
  border: none;
  background: none;
  padding: 1px;
}

.event-info {
  width: 100%;
  padding-top: 20px;
  border-radius: 5px;
  border: 0px;
  margin-top: 60px;
}

#back {
  background-color: #ffd0cc;
  color: black;
  margin-right: 0.625em;
  margin-top: 0px;
}

#create button {
  background-color: #ffd0cc;
  color: black;
  border-radius: 5px;
  border: 1px solid #B3594D;
  font-family: 'Raleway', sans-serif;
  width: 5em;
  font-size: 1em;
  margin-left: 0;
  margin-top: 10px;
}

.form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
}

.card-header {
  overflow: auto;
  background-image: none;
  background-color: #ffa599;
}

/* make place searchbox look like other inputs on page */

#search-for-place input {
  width: 100%;
  height: 34px;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
  padding: 6px 12px;
  border-color: rgb(204, 204, 204);
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 15px;
  border: 1px solid rgb(204, 204, 204);
  margin-top: 0;
  outline: 1px;
}

#search-for-place input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.not-shown {
  visibility: hidden;
  height: 0;
  width: 0;
  margin: 0;
  border: 0;
  padding: 0;
  display: block;
}

.auth-link a.dvlink,
a.auth-link {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-top: 10px;
  color: #B3594D;
}

authentication-sign-in button.mat-button {
  width: 150px;
}

.profile-button {
  font-size: 0.875em;
  margin: 0 0 0.0625em 0;
  padding: 0.55em 1em;
}

.profile-signout-buttons {
  margin-top: 20px;
}

#events-header {
  display: flex;
  justify-content: space-between;
}

#events-header > h1 {
  margin-top: 15px;
}

.map {
  position: relative;
}

.map-nav,
.map-map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.map-map {
  z-index: -10;
}

group-show-members li.list-group-item {
  border: none;
  background: none;
}

comment-create-comment .mat-input-container {
  width: 80%;
}

.host-name .dvlink {
  color: black;
  pointer-events: all;
}

.host-name .dvlink:hover {
  text-decoration: none;
}

.edit-button {
  margin: 20px;
}

.filter-selector {
  margin: 10px 15px;
}
