@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~leaflet/dist/leaflet.css";
@import "~leaflet-routing-machine/dist/leaflet-routing-machine.css";
@import "~leaflet-control-geocoder/dist/Control.Geocoder.css";

@import url('https://fonts.googleapis.com/css?family=Raleway');

md-icon {
  font-family: 'Material Icons' !important;
}

body, html {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

.button a {
  color: black;
}

div.index {
  background-image: url(http://i.imgur.com/HEMIlLe.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: auto;
}

h3 {
  font-weight: 500;
  font-size: 32px;
}

.inline-block {
  display: inline-block;
}

textarea {
  resize: vertical;
}

table {
  border: none;
}

select {
  width: 50vh;
  height: 1000px;
  border: 1px solid #ddd;
  padding: 5px;
}

.popper {
  font-family: 'Raleway', sans-serif;
}

.popper-content {
  font-family: 'Raleway', sans-serif;
}

.panel > .panel-heading {
  background-image: none;
  background-color: #ffa599;
}

.panel > .panel-body > p {
  display: inline-block;
  word-wrap: break-word;
}

[class*='col-'] {
  float: left;
}

.inline {
  display: inline-block;
}

.btn > input {
  color: blue;
}

.select-buttons {
  border: 0;
  background-color: #ffd0cc;
  color: black;
  margin-bottom: 2px;
  border-radius: 5px;
  border: 1px solid #B3594D;
  width: 50px;
}

.new-event{
  width: 75%;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  margin-top: 50px;
}

.event-display {
  width: 100%;
  padding-top: 20px;
  border-radius: 5px;
  border: 0px;
  margin-top: 60px;
  text-align: center;
}

.event-display table {
  border: 1px solid #CC9088;
}

.event-display td {
  border-top: 1px solid #CC9088;
}
.event-display td:first-child {
  border-top: none;
}

.event-display th {
  border: 1px solid #CC9088;
  background-color: #FFEFEE;
  text-align: center;
}

.button, #create button{
  border: 0;
  background-color: #ffd0cc;
  color: black;
  margin-left: 30px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #B3594D;
}

.display-buttons {
  border: 1px solid #B3594D;
  background-color: #E18B7F;
  color: black;
  margin-right: 10px;
  pointer-events: none;
}

.trash {
  border: none;
  background: none;
  padding: 1px;
}

#event-info{
  width: 100%;
  padding-top: 20px;
  border-radius: 5px;
  border: 0px;
  margin-top: 60px;
}

#back{
  background-color: #ffd0cc;
  color: black;
  margin-right: 10px;
}

#create button{
  background-color: #ffd0cc;
  color: black;
  margin-right: 10px;
  float: none!important;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  margin-top: 10px;
  margin-left: 10px;
  width: 80px;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left:  0px;
}

.panel-heading {
  overflow: auto;
}


/* make place searchbox look like other inputs on page */
#search-for-place input {
  width: 100%;
  height: 34px;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
  padding: 6px 12px;
  border-color: rgb(204, 204, 204);
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 15px;
  border: 1px solid rgb(204, 204, 204);
  margin-top: 0;
  outline: 1px;
}
#search-for-place input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.not-shown {
  visibility: hidden;
  height: 0;
  width: 0;
  margin: 0;
  border: 0;
  padding: 0;
  display: block;
}

