@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";


@import url('https://fonts.googleapis.com/css?family=Raleway');

body, html {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

div.index {
  background-image: url(http://i.imgur.com/HEMIlLe.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: auto;
}

h3 {
  font-weight: 500;
  font-size: 32px;
}

textarea {
  resize: vertical;
}

table {
  border: none;
}

select {
  width: 50vh;
  height: 1000px;
  border: 1px solid #ddd;
  padding: 5px;
}

.popper {
  font-family: 'Raleway', sans-serif;
}

.popper-content {
  font-family: 'Raleway', sans-serif;
}

.panel > .panel-heading {
  background-image: none;
  background-color: #ffa599;
}

.panel > .panel-body > p {
  display: inline-block;
  word-wrap: break-word;
}

[class*='col-'] {
  float: left;
}

.inline {
  display: inline-block;
}

.btn > input {
  color: blue;
}

.selectButtons {
  border: 0;
  background-color: #ffd0cc;
  color: black;
  margin-bottom: 2px;
  border-radius: 5px;
  border: 1px solid #B3594D;
  width: 50px;
}

.new_event{
  width: 75%;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  margin-top: 50px;
}

.event_display {
  width: 100%;
  padding-top: 20px;
  border-radius: 5px;
  border: 0px;
  margin-top: 60px;
  text-align: center;
}

.event_display table {
  border: 1px solid #CC9088;
}

.event_display td {
  border-top: 1px solid #CC9088;
}
.event_display td:first-child {
  border-top: none;
}

.event_display th {
  border: 1px solid #CC9088;
  background-color: #FFEFEE;
  text-align: center;
}

.button, #create button{
  border: 0;
  background-color: #ffd0cc;
  color: black;
  margin-left: 30px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #B3594D;
}

.displayButtons {
  border: 1px solid #B3594D;
  background-color: #E18B7F;
  color: black;
  margin-right: 10px;
  pointer-events: none;
}

.trash {
  border: none;
  background: none;
  padding: 1px;
}

#event_info{
  width: 100%;
  padding-top: 20px;
  border-radius: 5px;
  border: 0px;
  margin-top: 60px;
}

#back{
  background-color: #ffd0cc;
  color: black;
  margin-right: 10px;
}

#create button{
  background-color: #ffd0cc;
  color: black;
  margin-right: 10px;
  float: none!important;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  margin-top: 10px;
  margin-left: 10px;
  width: 80px;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left:  0px;
}

.list-group-item {
  background: none;
  border: none;
}

.event-info-table {
  background-color: #FFEFEE;
  border: 1px solid #CC9088;
  margin-bottom: 20px;
}

#welcome {
  position: absolute;
  right: 0;
  z-index: 99;
}

.panel-heading {
  overflow: auto;
}

#sign-out-btn button {
  background-color: #ffd0cc;
  margin-top: 10px;
  border: 1px solid #b3594d;
}

#edit-prof-btn {
  margin-left:0;
  margin-top:0;
}

/* makes labels show as a plain comma-separated list */
#rlvnt-intrsts ul {
  padding: 0 !important;
  margin: 0;
}
#rlvnt-intrsts li {
  background: none;
  color: black;
  font-size: 12;
  top: 0;
  margin-left: 1px;
  margin-right: 2px;
  padding: 0;
}
#rlvnt-intrsts li:after {
  content: ",";
  margin-left: -3px;
}
#rlvnt-intrsts li:last-child:after {
  content: "";
}

/* make place searchbox look like other inputs on page */
#srch-fr-plc input {
  width: 100%;
  height: 34px;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
  padding: 6px 12px;
  border-color: rgb(204, 204, 204);
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 15px;
  border: 1px solid rgb(204, 204, 204);
  margin-top: 0;
  outline: 1px;
}
#srch-fr-plc input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.not-shown {
  visibility: hidden;
  height: 0;
  width: 0;
  margin: 0;
  border: 0;
  padding: 0;
  display: block;
}

#all-evnts .row {
  margin: 0;
}

#all-evnts li {
  padding: 0;
  margin: 10 0 10 0;
}

#evnts-by-hst ul {
  padding-left: 0;
  list-style: none;
  margin-left: 0;
  margin-right: 0;
}

#evnts-by-hst .container {
  width: 100%;
  padding: 0;
}

#attendeesDiv ul {
  margin: 0;
}

#attendeesDiv li {
  display: inline-block;
  padding: 0;
  margin-right: 10px;
}

#attendeesDiv show-member {
  color: black;
  margin-left: 5px;
  background-color: white;
  border: 1px solid #B3594D;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
}

#shw-pst .row {
  margin-left: 0;
  margin-right: 0;
}

#evnts-by-attnd .list-group-item {
  padding-left: 0;
  padding-right: 0;
}

#jn-lv-grp {
  float: left;
  margin-top: 30px;
  margin-left: 0px;
}

#jn-lv-grp button {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  border: none;
  background: #ffd0cc;
}

#add-comment {
  border-color: #CC9088;
  background-color: #F0F0F0;
  padding: 15px;
}

.show-comment {
  background-color: #FFEFEE;
  padding: 15px;
}

#comment-table {
  text-align: left;
  border: 1px solid #CC9088;
  margin-top: 0px;
}

#comment-table li {
  width: 100%;
  padding: 0;
}

#comment-table ul {
  padding: 0;
  margin: 0;
}

#comment-table tr {
  display: block;
}

#add-comment-row {
  display: table-row !important;
}

#comment-table td {
  display: block;
}

dv-link:link {
  text-decoration: none;
}

dv-link:visited {
  text-decoration: none;
}

dv-link:hover {
  text-decoration: underline;
}

dv-link:active {
  text-decoration: underline;
}
