<authentication-logged-in (user)="user=$event; outputAsLoggedInUser($event)">
</authentication-logged-in>

<nav class="navbar fixed-top">
  <div class="container">
    <dv-link class="black-link navbar-brand" href="/">DV Hacker News</dv-link>

    <dv-link class="black-link" [href]="user ? '/submit' : '/login'"
      [params]="user ? {} : { goto: '/submit' }">Submit</dv-link>

    <span class="space-filler"></span>
    <div *ngIf="user">
      <span class="username">{{user.username}}</span>
      <span>
        <dv-tx>
          <authentication-sign-out>
          </authentication-sign-out>
          <dv-link href="/" [hidden]="true"></dv-link>
        </dv-tx>
      </span>
    </div>
    <div *ngIf="!user">
      <dv-link class="black-link" href="/login">Login</dv-link>
    </div>
  </div>
</nav>
