
/*
 Colors:
 - body light gray: #F0F1F2
 - light header:    #EBEBEB
 - body selected:   #E0E0E0
 - dark gray:       #D5D5D5
 - td selected:     #4F9FCF
 */

/*===================================================
                   BASE STYLES
===================================================*/
html {
    color: #222;
    font-size: 1em;
    font-weight: 200;
    margin: 0px;
    line-height: 1.4;
}
body { margin: 0px; min-width:600px; }
ul { list-style-type: none; }
li { list-style-type: none; }
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 */
audio, canvas, iframe, img, svg, video { vertical-align: middle; }
/* Remove default fieldset styles. */
fieldset { border: 0; margin: 0; padding: 0; }
.clearfix:before, .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after { clear: both; }


/*===================================================
                   MENUBAR
===================================================*/
.menubar {
    width: 100%;
    display: block;
    height: 70px;
    background-color: #F0F1F2;
    overflow-x: scroll;
    z-index: 600;
}

.menubar-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 70px;
    background-color: #F0F1F2;

}

.menu-item {
    float: left;
    margin: 15px 5px 15px 5px;
}

.menu-item.logo {
    width: 200px;
    color: #555555;
    font-weight: bold;
    font-size: 23px;
    font-family: "Adobe Garamond";
}

/*===================================================
                  COMPONENTS
===================================================*/
.components {
    float: left;
    border: #d5d5d5 1px solid;
    height: 100%;
    width: 200px;

}

.header {
    border-top: solid 5px #D5D5D5;
    text-align: center;
    line-height: 250%;
    background-color: #EBEBEB;
}

.content {
    overflow: scroll;
    text-align: left;
    resize: vertical;
}

.basic_components .content {
    height: 300px;
}

.cliche_components .content {
    height: 200px;
}


#rename_component {
    cursor: pointer;
}

.content li {
    margin: 10px 10px 0px 0px;
    padding: 5px;
}
.content ul {
    padding-left: 15px;
    padding-right: 5px;
}
.content li:hover {
    background-color: #E0E0E0;
}

li.selected {
    background-color: #E0E0E0;
}

.content img {
    width: 20px;
    height: 20px;
    margin: 0px 15px 0px 5px;
}




/*===================================================
                  GRID
===================================================*/
.table_outter {
    border: 10px solid white;
    table-layout: fixed !important;
    border-collapse: inherit;
}

td {
    background-color: #F0F1F2;
    width: 170px;
    min-width: 100px;
    height: 170px;
    border: 15px solid white;
    resize: both;
    position: relative;
}

.droppable:hover {
    background-color: rgba(55, 131, 198, 0.2);
}

#grid-container {
    height: 600px;
    width: 850px;
    margin-left: 200px;
}

.widget:hover {
    cursor: -webkit-grab;
    cursor: grab;
    background-color: #E0E0E0;

}

.highlight {
    background-color: rgba(55, 131, 198, 0.2);
}
.dropped {
    background-color: #F9F9F9;
    text-align: center;
}

.edit-btn {
    display: none;
    position: absolute;
    top: 2px;
    right: 2px;
}

.dropped:hover .edit-btn{
    display: inline-block;
}

.form-lbl {
    text-align: right;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    padding-right: 0px;
}

.form-lbl-header {
    text-align: center;
    font-weight: bold;
}

td.dropped li.widget {
    position: absolute;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border: 1px solid #e1e1e1;
    line-height: 20px;
    color: #6f6f6f;

}
.nav {
    margin-bottom: 10px;
}

@media (max-width: 1050px) {
    #grid-container { width: 650px; }
}



/*===================================================
                  TRASH CAN
===================================================*/
#trash {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 60px;
}

/*===================================================
                  POPUPS
===================================================*/
.not_displayed {
    display: none;
}

.close_btn {
    position: absolute; !important
    opacity: 1;
    top: 5px;
    right: 9px;
}

.tooltip {
    display: none;
    left: -60px;
    width: 350px;

}

.dropped .tooltip {
    background: #fff;
    border: #d5d5d5 solid 1px;
    border-radius: 4px;
    bottom: 0%;
    display: inline-block;
    margin-bottom: 30px;
    opacity: 0;
    padding: 0px;
    position: absolute;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.dropped .tooltip.open {
    opacity: 1;
    z-index: 2;
}

/* Triangle */
.dropped .tooltip:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #fff 10px;
    bottom: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
}

.apply {
    padding-left: 10px;
}

.panel {
    margin-bottom: 0px;
    border-width: 0px;
}

.tabs .col-sm-4 {
    padding-right: 0px;
}
.tabs .col-sm-5 {
    padding-right: 0px;
}

/* Image popup */
/* layout.css Style */
.upload-drop-zone {
    height: 50px;
    border-width: 2px;
    margin-bottom: 0px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #2d2d2d;
    border-style: dashed;
    border-color: #ccc;
    line-height: 50px;
    text-align: center
}
.upload-drop-zone.hover {
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}




/*===================================================
                   COMPONENTS
===================================================*/
.display_component {
    font-weight: 300;
    line-height: 1.4;
}

.label {
    font-size: 20px;
    color: black;
}

.link {
    font-size: 20px;

}