/*===================================================
                  COMPONENTS
===================================================*/
.project-options-container{
    position: absolute;
    height: 550px;
    overflow-y: scroll;
}

.components, .layout, .style {
    margin-top: 75px;
    float: left;
    /*border: #d5d5d5 1px solid;*/
    width: 250px;
    position: absolute;
}

.layout, .style {
    display: none;
}

.header {
    border-top: solid 5px #D5D5D5;
    text-align: center;
    line-height: 250%;
    background-color: #EBEBEB;
}

.project-name .header{
    border: none;
    background-color: white;
    font-weight: bold;
}

.project-options{
    float: left;
    width: 250px;
    height: 75px;
}


#back-to-projects{
    display: inline-block;
    text-align: center;
}

.inner-component-options{
    display: none;
}

.component-options, .inner-component-options{
    margin-left: 267px;
    padding: 5px 20px;
    width: 500px;
}

.component-options .component-name-container{
    width: 175px;
    border-radius: 5px;
    background-color: #E0E0E0;
}

.component-options #delete-options{
    display: inline-block;
    float: right;

}

.content {
    text-align: left;
}

.components .content{
    min-height: 120px;
}

.layout .content{
    padding: 15px;
}

.layout .content input[type='text']{
    width: 60px;
    float: right;
    border: 1px grey solid;
    margin-right: 30px;
    text-align: right;
    padding: 5px 10px;
    vertical-align: baseline;
}
.layout .content input[type='checkbox'] {
    float: right;
    margin-right: 40px;
}

.add-remove-inputs div{
    padding: 10px;
}

.layout .content .btn{
    text-align: center;
}

.dropdown-trigger {
    cursor: pointer;
}

a{
    cursor: pointer;
}

.component-name{
    padding: 6px 12px;
}

.components .component-name-container{
    width: 95%;
}
.component-name-container{
    display: inline-block;
    cursor: pointer;
}

#user-components-list li{
    height: 50px;
}

#main-pages-list li{
    height: 50px;
}

.components .btn-delete-component{
    display: none;
    vertical-align: top;

}

.btn-delete-component{
    cursor: pointer;
}

.content {
    border: 1px #F0F1F2 solid;
}

.content li {
    margin: 10px 10px 0px 0px;
    padding: 5px;
}
.content ul {
    padding-left: 15px;
    padding-right: 5px;
}
.components .content li:hover {
    background-color: #E0E0E0;
}

li.selected {
    background-color: #E0E0E0;
}

.components .content img {
    width: 20px;
    height: 20px;
    margin: 0px 15px 0px 5px;
}

.components .index-page-toggle{
    border: 1px #888888 solid;
    border-radius: 5px;
    height: 100%;
    width: 5%;
    display: inline-block;
    float: right;
    cursor: pointer;
}

.components .selected-index-page .index-page-toggle{
    background: green;
}

/*===================================================
                  MAIN TABLE
===================================================*/
.main-table {
    table-layout: fixed !important;
    border-collapse: inherit;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
    padding: 10px;
    position: relative;
}

#main-cell-table{
    padding: 9px 10px 10px 9px;
}


#main-grid-table{
    padding: 10px 10px 10px 10px;
}


/*.main-table::after {*/
    /*content: 'Component name: ';*/
    /*display: block;*/
    /*position: absolute;*/
    /*left: 20px;*/
    /*bottom: 100%;*/
    /*width: 200px;*/
    /*height: 20px;*/
    /*border-bottom: 20px solid white;*/
    /*-webkit-box-shadow: 0 -3px 3px rgba(0,0,0,0.1);*/
    /*padding: 2px 2px 4px 10px;*/
/*}*/


td {
    background-color: #F0F1F2;
    width: 170px;
    /*min-width: 100px;*/
    height: 170px;
    border: 5px solid white;
    resize: both;
    position: relative;
    /*vertical-align: top;*/
}

.droppable:hover {
    background-color: rgba(55, 131, 198, 0.2);
}


#outer-container {
    width: 670px;
    height: 550px;
    border: 1px solid #dddddd;
    margin-left: 267px;
    overflow: scroll;
    position: relative;
}

#table-container, #guide-grid-container{
    height: 3000px;
    width: 3000px;
    margin: 50px 100px 10px 50px;
    float: left;
    position: absolute;
}

#guide-grid-container {
    pointer-events: none;
    visibility: hidden;
}

#guide-grid-container td {
    background-color: transparent;
    pointer-events: none;

    border: 1px;
    padding: 4px;
}

.zero-height{
    height: 1px;
    border: 0;
    visibility: hidden;
}

.zero-width{
    width: 1px;
    border: 0;
    visibility: hidden;
}

.drag-handle{
    z-index: 50;
    display: none;
}

#drag-handle-containers-container{
    position: absolute;
}

.hidden-component{
    display: none;
}

#grid-container2 {
    height: 500px;
    width: 800px;
    float: left;
    text-align: center;
    margin: 50px 100px 10px 100px;
    border: 1px solid #bdbdbd;
    background-color:#F0F1F2;

}
#grid-container3 {
    height: 500px;
    width: 800px;
    float: left;
    text-align: center;
    margin: 50px 100px 50px 50px;
    border: 1px solid #bdbdbd;
    background-color:#F0F1F2;

}
#grid-container4 {
    height: 500px;
    width: 800px;
    float: left;
    text-align: center;
    margin: 50px 100px 100px 100px;
    border: 1px solid #bdbdbd;
    background-color:#F0F1F2;

}
#viewport {
    position: relative;
}

.widget:hover {
    cursor: -webkit-grab;
    cursor: grab;
    background-color: #E0E0E0;

}

.highlight {
    background-color: rgba(55, 131, 198, 0.2);
}
.dropped {
    background-color: #F9F9F9;
    text-align: center;
}

.edit-btn {
    /*display: none;*/
    /*position: absolute;*/
    /*top: 2px;*/
    /*right: 2px;*/
    /*font-size: 15px;*/
}

.inner-component-options-small{
    display: none;
    position: absolute;
    top: 2px;
    right: 2px;
    /*font-size: 15px;*/
}

.config-btns {
    display: none;
    position: absolute;
    top: 3px;
    left: 3px;
}

/*.dropped:hover .edit-btn{*/
    /*display: inline-block;*/
/*}*/

.dropped:hover .inner-component-options-small{
    display: inline-block;
}

.dropped:hover .config-btns{
    display: inline-block;
}

#btn-add-row, #btn-remove-row{
    position: absolute;
    bottom: -33px;
    left: 0;
}

#btn-remove-row{
    left: 40px;
}

#btn-add-col, #btn-remove-col{
    position: absolute;
    top: 0;
    right: -40px;
}

#btn-remove-col{
    top: 33px;
}

.form-lbl {
    text-align: right;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    padding-right: 0px;
}

.form-lbl-header {
    text-align: center;
    font-weight: bold;
}

td.dropped li.widget {
    position: absolute;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border: 1px solid #e1e1e1;
    line-height: 20px;
    color: #6f6f6f;

}
.nav {
    margin-bottom: 10px;
}


.label-container {
    position: absolute;
    top: 0;
    /*width: 200px;*/
    /*height: 200px;*/
    padding: 20% 5% 10% 5%;
    background: #fff;
    border: #e0e0e0 solid 1px;
    display: block;
}
p.label {
    white-space: initial;
}


@media (max-width: 1050px) {
    /*#grid-container { width: 650px; }*/
}



/*===================================================
                  TRASH CAN and ZOOM
===================================================*/
#trash {
    position: fixed;
    bottom: 20px;
    left: 295px;
    font-size: 60px;
}

#zoom-control {
    position: fixed;
    bottom: 20px;
    right: 15px;
    border-radius: 4px;
}

#zoom-slider-and-value {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
#zoom-slider{
    width: 160px;
}

.zoom-control-button {font-size: 20px;
    background-color: rgba(0, 60, 136, 0.5);
    padding: 5px;
    border-radius: 5px;
    color: white;
    border: white solid 1px;
    font-family: 'Lucida Grande';
    line-height: 90%;
    vertical-align: middle;
}

.zoom-control-button:hover {
    background-color: rgba(0, 60, 136, 0.8);
}

#zoomIn { border-radius: 6px 6px 0 0; }
#zoomOut { border-radius: 0 0 6px 6px; display: block; }






/*===================================================
                   COMPONENTS
===================================================*/
.display-component {
    white-space: initial;
    font-weight: 400;
}

.lbl-small, .btn-size-xs {
    font-size: 64%;
}
.lbl-default, .btn-size-df {
    font-size: 14px ;
}
.lbl-large {
    font-size: 150%;
}
.lbl-heading, .btn-size-lg {
    font-size: 200%;
}
.btn-group-vertical>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 4px !important;
}





#blank-bg{
    height: 640px;
    width: 1200px;
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 500;
    pointer-events: none;
    display: none;
}