<dv-widget-options 
    [widget]="widget"
    (applyChanges)="applyChanges($event)">
  <div tooltip>
    <!-- TODO make this better -->
    <div class="row">
      <div class="col-sm-3 form-lbl">
        <h6>Paste link:</h6>
      </div>
      <div class="col-sm-9">
        <input type="text" class="form-control">
      </div>
    </div>
    <br/>

    <!-- Drop Zone -->
    <div class="upload-drop-zone"> Or drop file here </div>
    <br/>

    <div class="input-group image-preview">
      <input placeholder="Or browse" type="text" class="form-control image-preview-filename" disabled="disabled" id="image-name">
      <span class="input-group-btn">
        <!-- image-preview-clear button -->
        <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
          <span class="glyphicon glyphicon-remove"></span> Clear </button>
        <!-- image-preview-input -->
        <div class="btn btn-default image-preview-input">
          <span class="glyphicon glyphicon-folder-open"></span>
          <span class="image-preview-input-title">Browse</span>
          <input type="file" accept="image/*" name="input-file-preview" id="fileselect" />
          <!-- rename it -->
        </div>
        <button type="button" class="apply btn btn-labeled btn-default">
          <span class="btn-label">
            <i class="glyphicon glyphicon-upload"></i>
          </span>Upload</button>
      </span>
    </div>
  </div>
</dv-widget-options>
