/*
The following is slightly better than node_modules/dragula/dist/dragula.css
(it includes pointer-events: none (#508) and this fix (#373)
but you may wish to make your own modifications.
*/

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

/* CUSTOM */

*[dragula] > *:not(*[data-disabled="true"]):not(.no-drag):hover {
  box-shadow: inset 0 0 100px 100px rgba(0,0,0,.15);
  cursor: grab;
}


*[dragula] > *:not(*[data-disabled="true"]):not(.no-drag):active {
  box-shadow: inset 0 0 100px 100px rgba(0,0,0,.15);
  cursor: grabbing;
}
