/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

/* app shall take up full screen with no scrolling */
html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
