@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./dragula.scss";
@import "./app/dvd-app-styles.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";

* {
  box-sizing: border-box;
}

/* app shall take up full screen with no scrolling */
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

/* add class mat-small to mat button to make it fit content */
.mat-button.mat-small {
  min-width: 1%;
}
.mat-button.mat-small-y {
  line-height: 100%;
}

/* styles for custom quill buttons (don't have component) */
.ql-bubble .ql-toolbar button:hover .text-button-text {
  color: white;
}
.ql-bubble .ql-toolbar button .text-button-text {
  color: rgb(204, 204, 204);
}
.text-button-text {
  white-space: nowrap;
}

.mat-tab-label, .mat-tab-label-active{
  min-width: 0!important;
  padding: 3px!important;
  margin: 3px!important;
  flex: 1;
}
