@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./dragula.scss";

* {
  box-sizing: border-box;
}

/* app shall take up full screen with no scrolling */
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

/* Apparently we can't easlily make dragula not clone or drag.
Hacky solution: hide the clone a la The Prestige. */
.page-row > .mat-list-item {
  display: none;
}
