<dv-widget name="BuddyNavBar"></dv-widget>

<div class="container below-navbar buddy">
    <br/>
    <div class="row">
        <div class='col-lg-offset-3 col-lg-6 col-lg-offset-3'>
            <h1 style="color:white">
                <span class="teal">BuddyLog: </span>{{buddy.username}}
            </h1>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 left-space" style="color:white">
            <h2>All Climbs</h2>
            <p>Sort by: (coming soon)</p>
            <form>
                <input type="radio" name="sort-climb" value="climb-number">climber number
                <br>
                <input type="radio" name="sort-climb" value="high-to-low">points: high to low
                <br>
                <input type="radio" name="sort-climb" value="low-to-high">points: low to high
                <br>
                <input type="checkbox" name="filter-climb" value="incomplete">
                <b>show only incomplete climbs</b>
                <br>
                <input type="checkbox" name="filter-climb" value="add-score">
                <b>show only climbs that will count toward your score</b>
            </form>
        </div>

        <div class="col-lg-6 col-lg-offset-3">
            <div class="row">
                <div class="col-xs-2 labels">status</div>
                <div class="col-xs-6 labels">climb-info</div>
                <div class="col-xs-2 labels text-center">sent</div>
                <div class="col-xs-2 labels text-center red">falls</div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <dv-widget name="ShowAllTasks" of="Task" [init]="{assinger: buddy}"></dv-widget>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
