<h4>Members to Add</h4>
<ul *ngIf="membersToAdd && membersToAdd.length > 0"
  class="list-group member-list">
  <li *ngFor="let member of membersToAdd"
    class="list-group-item member-list-item">
    <dv-widget name="ShowMember" [init]="{member: member}"></dv-widget>
  </li>
</ul>
<form (ngSubmit)="queueMemberAdd()" #addMembersForm="ngForm"
  class="form-horizontal">
  <fieldset class="form-group" id="{{wrapId}}">
    <label class="sr-only" for="name">Member Name</label>
    <input required class="form-control typeahead" name="name"
      type="text" autocomplete="off" placeholder="Member Name"/>
  </fieldset>
  <div class="form-group">
    <button type="submit" class="btn btn-default btn-sm pull-right"
     [disabled]="!addMembersForm.valid">Add Member</button>
  </div>
  <div class="alert alert-danger" *ngIf="failed">Member not found.</div>
</form>
