mat-form-field {
  width: 100%;
}

.cfg-wiz-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cfg-wiz-row > *:not(:last-child) {
  margin-right: 16px;
}

mat-checkbox, property-tri-state-checkbox {
  margin-left: 16px;
  margin-right: 16px;
}

button.right {
  display: block;
  margin-left: auto;
}

mat-table {
  margin-bottom: 16px;
}
