<dv-header pageTitle="Test"></dv-header>

<div class="outer-container">
  <dv-worksurface 
    [widget]="selectedWidget"
    [allWidgets]="allWidgets"
    [dimensions]="screenDimensions"
    (onChange)="handleWidgetChange()">
  </dv-worksurface>
</div>
        
<dv-zoom 
  [outerContainerDimensions]="outerContainerDimensions"
  [widgetDimensions]="selectedWidget.getDimensions()"
  [screenDimensions]="screenDimensions"
  (updatedZoom)="handleZoomChange($event)">
</dv-zoom>

<dv-map 
  [outerContainerDimensions]="outerContainerDimensions"
  [outerContainerScroll]="outerContainerScroll"
  [screenDimensions]="screenDimensions"
  [selectedWidget]="selectedWidget"
  [allWidgets]="allWidgets"
  (newScrollPosition)="handleMapScroll($event)">
</dv-map>

<dv-list [allWidgets]="allWidgets"
          [userApp]="userApp">
</dv-list>
