<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<style>
/* Author: Barry */
.page-content {
  margin-top: 56px !important;
}
#nav {
    margin-bottom: 100px;
}

#page-content {
    margin-top: 50px;
}

.proposal {
    margin-bottom: 20px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

p {
    white-space: pre-wrap;
    font-family: 'Raleway', sans-serif;
}

a {
    color: #28bdb1;
}

a:hover {
    cursor: pointer;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #28bdb1;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #28bdb1;
}

h3 {
    font-family: 'Raleway', sans-serif;
}

div {
    font-family: 'Raleway', sans-serif;
}

.btn-default {
    font-family: 'Raleway', sans-serif;
}

.btn-default.view {
    color: black;
    background-color: white;
}

#main-navbar {
    background-color: #28bdb1;
}

.navbar-header {
    width: 150px;
    height: 50px;
    margin-top: 5px;
}

.navbar-brand {
    color: white !important;
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}

.navbar-text {
    cursor: default;
}

.alert-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.ml-5 {
    margin-left: 5px;
}

</style>

<dv-widget name="LoggedIn" of="Auth"></dv-widget>

<nav class="navbar navbar-default navbar-fixed-top" id="main-navbar">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="logo" href="#">
        <img src="http://i.imgur.com/O3k7YpU.png" alt="Accord" style="width:100%; height:120%">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/groups">Dashboard</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Logged In</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Load the group from the route param -->
<dv-widget name="ListFromRoute" of="SongList"></dv-widget>

<div class="container page-content">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Setlist</h1>

      <div>Want to add a proposal?</div>
      <dv-widget name="RedirectToList" of="SongList"></dv-widget>

      <dv-widget name="ShowList" of="SongList"></dv-widget>
    </div>
  </div>
</div>
