<!-- inputs="party, user" -->
<div class="party">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3 class="party-title">
        <group:show-name-of-group [group]="party"></group:show-name-of-group>
      </h3>
      <div class="col-md-12" style="text-align:center">
        <event:show-event [event]="party"></event:show-event>
        <div style="height:20px"></div>
      </div>
      <div class="col-md-4">
        <h4>Invited List</h4>
        <group:show-members-of-group [group]="party">
        </group:show-members-of-group>
        <h4>Invite a User</h4>
        <group:add-member-to-group [group]="party"></group:add-member-to-group>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-7">
        <h4>What's Needed</h4>
        <show-supplies [party]="party" [user]="user"></show-supplies>
        <h4>Request Supplies</h4>
        <request-supply [party]="party" [user]="user"></request-supply>
      </div>
    </div>
  </div>
</div>
