<mat-toolbar id="top-bar" color="primary">
  <h1>Déjà Vu Designer</h1>
  <div class="buttons">
    <button
      mat-button
      class="mat-small"
      (click)="open()"
      [disabled]="opening"
      matTooltip="Open"
    >
      <mat-icon>folder_open</mat-icon>
    </button>
    <button
      mat-button
      class="mat-small"
      (click)="save()"
      [disabled]="saving"
      matTooltip="Save"
    >
      <mat-icon>save</mat-icon>
    </button>
    <button
      mat-button
      class="mat-small"
      (click)="export()"
      [disabled]="exporting"
      matTooltip="Export"
    >
      <mat-icon>publish</mat-icon>
    </button>
  </div>
  <input
    #fileInput
    type="file"
    style="display:none"
    (change)="onUpload($event)"
  >
</mat-toolbar>