#top-bar {
  border-bottom: 1px solid black;
}

#create-action {
  width: 100%;
  font-size: inherit;
  /* consistent with other items in select */
  line-height: 3em;
  height: 3em;
  text-align: left;
}

#create-action * {
  font-size: inherit;
}

.right {
  margin-left: auto;
}