<mat-toolbar class="mat-toolbar" id="top-bar" *ngIf="app">
  <div class="logo">
    <div class="logo-dv">Déjà Vu</div>
    <div class="logo-designer">Designer</div>
  </div>
  <div class="toolbar-app-action">
    <button
      mat-icon-button
      class="mat-small"
      matTooltip="New Action"
      (click)="createAction()"
    >
      <mat-icon>add_circle</mat-icon>
    </button>
    <mat-form-field>
      <mat-select
        name="action"
        placeholder="App Action"
        [(ngModel)]="openAction"
        (selectionChange)="onSelectAction($event)"
      >
        <mat-select-trigger>
          {{openAction.name}}
        </mat-select-trigger>
        <mat-option
          *ngFor="let action of app.actions"
          [value]="action"
        >
        <mat-icon class="action-icon">{{getActionIcon(action)}}</mat-icon>
        {{action.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-icon-button
      class="mat-small"
      (click)="editAction()"
      matTooltip="Configure Action"
    >
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button
      #menuTrigger="matMenuTrigger"
      [matMenuTriggerFor]="menu.matMenu"
      class="mat-small"
      matTooltip="Set Inputs/Outputs of Action"
    >
      <mat-icon>compare_arrows</mat-icon>
    </button>
  </div>
  <div class="toolbar-io-hints">
    <mat-checkbox (change)="ioHintChange($event)">
      Show I/O Hints
    </mat-checkbox>
  </div>

  <div class="toolbar-app-name">
    <mat-form-field>
      <input matInput
        placeholder="App Name"
        name="appName" [(ngModel)]="app.name">
    </mat-form-field>

    <button
      mat-icon-button
      class="mat-small"
      (click)="showPreview()"
      matTooltip="Preview"
    >
      <mat-icon>devices</mat-icon>
    </button>

    <button
      mat-icon-button
      class="mat-small"
      matTooltip="More"
      [matMenuTriggerFor]="moreMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #moreMenu="matMenu">
      <button
        mat-menu-item
        class="mat-small"
        (click)="open()"
        [disabled]="opening"
      >
        <mat-icon>folder_open</mat-icon>
        <span>Open...</span>
      </button>
      <button
        mat-menu-item
        class="mat-small"
        (click)="save()"
        [disabled]="saving"
      >
        <mat-icon>save</mat-icon>
        <span>Save...</span>
      </button>

      <button
        mat-menu-item
        class="mat-small"
        (click)="export()"
        [disabled]="!this.fs || exporting"
      >
        <mat-icon>publish</mat-icon>
        <span>Export...</span>
      </button>
    </mat-menu>
  </div>

  <app-floating-menu
    #menu
    [title]="app.name + '-' + openAction.name"
    (opened)="clickFirstTab(menuContent)"
    (shouldClose)="closeMenu(menuTrigger)"
  >
    <mat-tab-group #menuContent class="popup-menu action-menu">
      <mat-tab label="Outputs">
        <button mat-button color="primary" (click)="addIO('output')" class="add-io">
          <mat-icon>add_circle</mat-icon> New Output
        </button>
        <div class="io-container">
          <div
            *ngFor="let output of openAction.outputSettings"
            class="io-and-button"
          >
            <mat-form-field>
              <input
                matInput
                class="input-value"
                [placeholder]="output.name"
                [name]="output.name"
                [(ngModel)]="output.value"
                dragula="expression-io"
                (addOutput)="addOutput(output, $event)"
              >
            </mat-form-field>
            <button
              mat-icon-button
              (click)="removeIO(output)"
              class="mat-small hide-on-drag"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div *ngIf="openAction.outputSettings.length === 0">
            This action has no outputs.
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Inputs">
        <button mat-button color="primary" (click)="addIO('input')" class="add-io">
          <mat-icon>add_circle</mat-icon> New Input
        </button>
        <div dragula="expression-io" class="inputtables io-container">
          <div
            class="io-and-button"
            *ngFor="let input of openAction.inputSettings"
            [attr.data-output]="'$' + input.name"
          >
            <div>
                {{input.name}}
            </div>
            <button
              mat-button
              (click)="removeIO(input)"
              class="mat-small hide-on-drag"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div *ngIf="openAction.inputSettings.length === 0"
            class="no-drag" class="no-inputs-hint">
            This action has no inputs.
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </app-floating-menu>
</mat-toolbar>

<!-- invisible elements needed for rather hacky reasons -->
<div style="display:none">
  <input #fileInput type="file"
    accept=".json,application/json"
    (change)="onUpload($event)">
  <input #directoryInput type="file" webkitdirectory (change)="onSelectExportDir($event)">
  <a #downloadAnchor></a>
</div>
