<mat-toolbar class="mat-toolbar" id="top-bar">
  <button
    mat-button
    id="edit-action"
    class="mat-small"
    (click)="editAction()"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-form-field>
    <mat-select
      name="action"
      [(ngModel)]="openAction"
      (selectionChange)="onSelectAction($event)"
    >
      <button
        mat-raised-button
        id="create-action"
        color="primary"
        (click)="createAction()"
      >
        <mat-icon>add_circle</mat-icon> Create Action
      </button>
      <mat-option
        *ngFor="let action of app.actions"
        [value]="action"
      >
        {{action.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="right">
    <mat-form-field>
      <input matInput name="appName" [(ngModel)]="app.name">
    </mat-form-field>
    <button
      mat-button
      class="mat-small"
      (click)="open()"
      [disabled]="opening"
      matTooltip="Open"
    >
      <mat-icon>folder_open</mat-icon>
    </button>
    <button
      mat-button
      class="mat-small"
      (click)="save()"
      [disabled]="saving"
      matTooltip="Save"
    >
      <mat-icon>save</mat-icon>
    </button>
    <button
      mat-button
      class="mat-small"
      (click)="export()"
      [disabled]="!this.fs || exporting"
      matTooltip="Export"
    >
      <mat-icon>publish</mat-icon>
    </button>
  </div>
</mat-toolbar>

<!-- invisible elements needed for rather hacky reasons -->
<div style="display:none">
  <input #fileInput type="file"(change)="onUpload($event)">
  <a #downloadAnchor></a>
</div>