#top-bar {
  border-bottom: 1px solid black;
  font-size: 16px;
  padding-top: 20px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  padding-right: 0px;
}

.logo {
  line-height: 1.2em;
  margin-bottom: 20px;
}

.logo-dv {
  font-weight: 200;
}

.logo-designer {
}

.io-container {
  padding: 16px;
  mat-form-field {
    width: 100%;
  }
  .io-and-button {
    width: 100%;
    display: flex;
    align-items: baseline;
    >:first-child {
      flex: 1 1 0;
    }
    button {
      padding: 0;
      // largest that works, empirically
      width: 44px;
      height: 44px;
    }
  }
}

button.add-io {
  width: 60%;
  display: block;
  margin: 16px auto;
}

mat-tab-group {
  height: 100%;
}

.popup-menu {
  height: 250px;
  width: 256px; // chosen empirically
}
