#top-bar {
  border-bottom: 1px solid black;
}

#edit-action {
  margin-right: 8px;
}

#create-action {
  width: 100%;
  font-size: inherit;
  /* consistent with other items in select */
  line-height: 3em;
  height: 3em;
  text-align: left;
}

#create-action * {
  font-size: inherit;
}

.right {
  margin-left: auto;
}

.io-container {
  padding: 16px;
  mat-form-field {
    width: 100%;
  }
  .io-and-button {
    width: 100%;
    display: flex;
    align-items: baseline;
    >:first-child {
      flex: 1 1 0;
    }
    button {
      padding: 0;
      // largest that works, emperically
      width: 44px;
      height: 44px;
    }
  }
}

button.add-io {
  width: 60%;
  display: block;
  margin: 16px auto;
}

mat-tab-group {
  height: 100%;
}
