<div class="content">
  <div class="name-container">
      <span class="name"> {{widget.getName()}} </span>
      <div class="submit-rename"
            [hidden]="true">
          <input type="text" class="new-name-input form-control" autofocus>
      </div>
  </div>
  <button *ngIf="isDeletable"
          type="button"
          class="btn btn-default btn-delete"
          (click)="handleDelete()">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
  <ng-container *ngIf="widget.isUserType()">
    <button *ngIf="widget.getInnerWidgetIds().length > 0"
            (click)="toggleShow()">
      <span [hidden]="innerShown"> > </span>
      <span [hidden]="!innerShown"> v </span>
    </button>
    <div *ngFor="let id of widget.getInnerWidgetIds()">
      <dv-list-item [widget]="widget.getInnerWidget(id)"
                    [isDraggable]="false"
                    [isDeletable]="true"
                    [hidden]="!innerShown">
      </dv-list-item>
    </div>
  </ng-container>
</div> 