<div class="content">
  <div class="name-container">
    <div (click)="widgetSelected()">
      <div *ngIf="widget.isBaseType(); else usertypeicon">
        <ng-container *ngIf="widget.isLink()">
          <img src="assets/link_icon.png" width="15px" height="15px">
        </ng-container>
        <ng-container *ngIf="widget.isLabel()">
          <img src="assets/label_icon.png" width="15px" height="15px">
        </ng-container>
        <!-- TODO -->
        <ng-container *ngIf="false">
          <img src="assets/image_icon.png" width="15px" height="15px"> Media
          <img src="assets/tabs_icon.png" width="15px" height="15px"> Nav tabs
          <img src="assets/menu_icon.png" width="15px" height="15px"> Menu
          <img src="assets/panel_icon.png" width="15px" height="15px"> Panel
          <img src="assets/empty_icon.png" width="15px" height="15px"> Blank
        </ng-container>
      </div>
      <ng-template #usertypeicon> 
        <img src="assets/user_icon.png" width="15px" height="15px">
      </ng-template>
    </div>
    <!-- TODO make it is not a new widget creator -->
    <span class="name" (dblclick)="renameStart($event)"
      [hidden]="renameVisible"> {{widget.getName()}} </span>
    <div class="submit-rename"
        *ngIf="!createNew"
          [hidden]="!renameVisible">
      <input type="text" 
              class="new-name-input form-control" 
              autofocus
              (input)="rename($event)"
              (keyup.enter)="renameVisible = false"
              (blur)="renameVisible = false" [value]="widget.getName()">
    </div>
  </div>
  <button *ngIf="isDeletable"
          type="button"
          class="btn btn-default btn-delete"
          (click)="handleDelete()">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
  <ng-container *ngIf="widget.isUserType()">
    <button *ngIf="widget.getInnerWidgetIds().length > 0"
            class="btn btn-default"
            (click)="toggleShow()">
      <span [hidden]="innerShown"> > </span>
      <span [hidden]="!innerShown"> v </span>
    </button>
    <div *ngFor="let id of widget.getInnerWidgetIds()">
      <dv-list-item [widget]="widget.getInnerWidget(id)"
                    [isDraggable]="false"
                    [isDeletable]="true"
                    [hidden]="!innerShown">
      </dv-list-item>
    </div>
  </ng-container>
</div> 

<dv-widget *ngIf="isDraggable"
            class="drop-widget"
            #ghost 
            [hidden]="true"
            [widget]="widget"
            [isSelected]="false"
            [isMovable]="false">
</dv-widget>