.content {
  text-align: left;
}

input[type='text']{
  min-width: 60px;
  border: 1px grey solid;
  padding: 5px 10px;
  vertical-align: baseline;
}

.dropdown-trigger {
  cursor: pointer;
}

a {
  cursor: pointer;
}

.component-name {
  padding: 6px 12px;
}

.name-container {
  display: inline-block;
  cursor: pointer;
}

.btn-delete {
  cursor: pointer;
}

.content {
  margin-left: 20px;
  padding: 10px;
  border: 1px #F0F1F2 solid;
}

.content li {
  margin: 10px 10px 0px 0px;
  padding: 5px;
}
.content ul {
  padding-left: 15px;
  padding-right: 5px;
}
.components .content li:hover {
  background-color: #E0E0E0;
}

li.selected {
  background-color: #E0E0E0;
}

.components .content img {
  width: 20px;
  height: 20px;
  margin: 0px 15px 0px 5px;
}