<div class="content">
  <div class="name-container" >
    <div *ngIf="widget.isBaseType()">
      <ng-container *ngIf="widget.isLink()">
        <img src="assets/link_icon.png" width="15px" height="15px">
      </ng-container>
      <ng-container *ngIf="widget.isLabel()">
        <img src="assets/label_icon.png" width="15px" height="15px">
      </ng-container>
      <!-- TODO -->
      <ng-container *ngIf="false">
          <img src="images/image_icon.png" width="15px" height="15px"> Media
          <img src="images/tabs_icon.png" width="15px" height="15px"> Nav tabs
          <img src="images/menu_icon.png" width="15px" height="15px"> Menu
          <img src="images/panel_icon.png" width="15px" height="15px"> Panel
          <img src="images/empty_icon.png" width="15px" height="15px"> Blank
      </ng-container>
    </div>
    <span class="name"> {{widget.getName()}} </span>
    <div class="submit-rename" *ngIf="widget.isUserType()"
          [hidden]="true">
        <input type="text" class="new-name-input form-control" autofocus>
    </div>
  </div>
  <button *ngIf="isDeletable"
          type="button"
          class="btn btn-default btn-delete"
          (click)="handleDelete()">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
  <ng-container *ngIf="widget.isUserType()">
    <button *ngIf="widget.getInnerWidgetIds().length > 0"
            (click)="toggleShow()">
      <span [hidden]="innerShown"> > </span>
      <span [hidden]="!innerShown"> v </span>
    </button>
    <div *ngFor="let id of widget.getInnerWidgetIds()">
      <dv-list-item [widget]="widget.getInnerWidget(id)"
                    [isDraggable]="false"
                    [isDeletable]="true"
                    [hidden]="!innerShown">
      </dv-list-item>
    </div>
  </ng-container>
</div> 

<dv-widget *ngIf="isDraggable"
            class="drop-widget"
            #ghost 
            [hidden]="true"
            [widget]="widget"
            [isSelected]="false"
            [isMovable]="false">
</dv-widget>