.list-option-name {
  font-size: 20px;
  font-weight:400;
  display:block;
  float:left;
  margin-top:0px;
  margin-bottom:0px;
}

.list-option-description {
  font-size: 17px;
  font-weight:300;
  margin-top:30px;
}

.list-option-image {
  float: right;
}

.list-option-image img {
  float: right;
  max-width: 100px;
  max-height: 100px;
}

.list-option-rank {
  padding-left:10px;
  color:#9B9B9B;
  font-size:25px;
  float:left;
  margin-top:-5px;
  margin-right:10px;
}
