.space-filler {
  flex: 1 1 auto;
}

.navbar {
  background-color: #FAF9F9;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-brand a {
  color: #E52F4F;
}

.profile-image {
  height: 40px;
  width: 40px;
  margin-top: 0;
}
