<mapmit-nav-bar (loggedInUser)="user=$event"></mapmit-nav-bar>

<div id="my-groups-column-container">

  <div class="my-groups-column" id="my-groups-column-left">
    <!-- Show groups owned by user -->
    <div class="panel panel-default">
      <div class="panel-body groups-panel-body">
        <h2>Groups I Own</h2>
        <!-- TODO -->
        <p>Coming soon</p>
      </div>

      <!-- Create group -->
      <div class="panel panel-default">
        <div class="panel-body groups-panel-body">
          <h2>Create a Group</h2>
          <dv-tx>
            <dv-id (id)="groupId=$event"></dv-id>
            <dv-status savedText="Group created"></dv-status>
            <group-create-group 
              class="create-group-name-input"
              [id]="groupId"
              [memberIds]="getMemberIds()"
              [showOptionToAddMembers]="false"
              [hidden]="true">
            </group-create-group>
            <!-- <authorization-create-resource
              [id]="groupId"
              [ownerId]="user?.id"
              [hidden]="true">
            </authorization-create-resource>
            <authentication-authenticate
              [id]="loggedInUserId" [hidden]="true">
            </authentication-authenticate> -->
            <dv-button class="btn btn-blue create-group-btn vertical-align-top">
              Create Group
            </dv-button>
          </dv-tx>
        </div>
      </div>
    </div>
  </div>

    <!-- Show groups for which the user is a member -->

  <div class="my-groups-column" id="my-groups-column-right">
    <div class="panel panel-default">
      <div class="panel-body groups-panel-body">
        <h2>Groups I'm In</h2>
        <group-show-groups 
          [withMemberId]="user?.id" 
          [showMembers]="false"
          [showGroup]="{
            type: showGroup, tag: 'mapmit-show-group',
            inputMap: { group: 'group' },
            inputs: { loggedInUserId: user?.id }
          }">
        </group-show-groups>
      </div>
    </div>
  </div>
  
</div>
