.my-groups-column {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

#my-groups-column-left {
  padding-right: 1%;
  width: 33%;
}

#my-groups-column-right {
  padding-left: 1%;
  width: 65%;
}

#my-groups-column-container {
  margin-left: 30px;
  margin-right: 30px;
}

.create-group-name-input {
  margin-left: 15px;
  width: 200px;
  display: inline-block;
}

.create-group-btn {
  margin-left: 5px;
  display: inline-block;
}

.groups-panel-body {
	margin-bottom: 10px;
}

.vertical-align-top {
  vertical-align: top;
}
