<dv.component name="login-signup">
  <dv.tx>
    <authentication.logged-in />
    <dv.redirect href="/home/trending" onEvalSuccess=true />
  </dv.tx>

  <div class="login-container">
    <div class="row content">
      <div class="welcome-container">
        <div class="col-md">
          <img class="welcome-logo" src="assets/logo.svg" />
          <h2>Welcome to Listify</h2>
          <div>
            <p>1. Create a Poll</p>
            <p>2. Have people rank their preferences</p>
            <p>3. See what you've all agreed upon!</p>
          </div>
        </div>
      </div>


      <div class="form-container col-md">
        <h2 class="tabs">
          <div class="inline-block">
            <dv.tx>
              <dv.button>
                <span class=$isLogin ? 'selected-tab' : ''>Login</span>
              </dv.button>
              <dv.link href="/login" />
            </dv.tx>|
            <dv.tx>
              <dv.button>
                <span class=!$isLogin ? 'selected-tab' : ''>Sign up</span>
              </dv.button>
              <dv.link href="/signup" />
            </dv.tx>
          </div>
        </h2>
        <dv.if condition=$isLogin>
          <dv.tx>
            <authentication.sign-in />
            <dv.callback defaultHref="/home/trending" onExecSuccess=true
              hidden=true />
          </dv.tx>
        </dv.if>
        <dv.if condition=!$isLogin>
          <dv.tx>
            <authentication.register-user />
            <dv.callback defaultHref="/home/trending" onExecSuccess=true
              hidden=true />
          </dv.tx>
        </dv.if>
      </div>
    </div>
  </div>
</dv.component>
