.post-separator {
  width: 300px;
  margin-top: -10px;
  float: left;
}

.post-show-comments {
  margin-top: 20px;
}

:host /deep/ .list-group-item {
  background-color: initial;
  padding: 0;
  padding-bottom: 1rem;
  border: none;
}
