.post-separator {
  width: 300px;
  margin-top: -10px;
  float: left;
}

.post-show-comments {
  margin-top: 20px;
}

.write-comment-container {
  margin: 20px;
  margin-top: 0px;
  margin-left: 45px;
}

:host /deep/ .list-group-item {
  background-color: initial;
  padding: 0;
  padding-bottom: 1rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
