<!-- 'tab-viewer' -->
<!-- if (!value) { -->
<ul class="nav nav-pills nav-stacked display-component">
  <li role="presentation" class="active">
    <a data-toggle="tab">Tab 1</a>
  </li>
  <li role="presentation">
    <a data-toggle="tab">Tab 2</a>
  </li>
  <li role="presentation">
    <a data-toggle="tab">Tab 3</a>
  </li>
</ul>

<ul class="nav nav-pills nav-stacked display-component">
  <li role="presentation" class="active">
    <a href="#1a" data-toggle="tab">{{value.tab1.text}}</a>
  </li>
  <li role="presentation">
    <a href="#2a" data-toggle="tab">{{value.tab2.text}}</a>
  </li>
  <li role="presentation">
    <a href="#3a" data-toggle="tab">{{value.tab3.text}}</a>
  </li>
  <!--//TODO: tab target -->
</ul>

<!-- 'menu' -->
<!-- if (!value) { -->
<div class="btn-group display-component" role="group">
  <a type="button" class="btn btn-default" role="button">Item 1</a>
  <a type="button" class="btn btn-default" role="button">Item 2</a>
  <a type="button" class="btn btn-default" role="button">Item 3</a>
</div>

<div class="btn-group display-component" role="group">
  <a type="button" class="btn btn-default" role="button" [href]="value.menu_item1.value">
    {{value.menu_item1.text}}
  </a>
  <a type="button" class="btn btn-default" role="button" [href]="value.menu_item2.value">
    {{value.menu_item2.text]]
  </a>
  <a type="button" class="btn btn-default" role="button" [href]="value.menu_item3.value">
    {{value.menu_item3.text}}
  </a>
</div>


<!-- 'panel' -->
<!-- if (!value) { -->
<!-- value = {heading: "Type heading...", content: "Type content..."}; -->
<!-- } -->
<div class="panel panel-default display-component">
  <div class="panel-heading">
    <h3 contenteditable="true" class="panel-title">{{value.heading}}</h3>
  </div>
  <div contenteditable="true" class="panel-body">{{value.content}}</div>
</div>

<!-- 'blank' -->
<div class="blank display-component"></div>

<!-- 'user' -->
<div class="blank display-component"></div>



<!--EDIT PROPERTIES POPUPS-->


<div id="tab-viewer-popup-holder">
  <div id="tab-popup" class="tooltip">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Tab Viewer</strong>
        <button type="button" class="close close-btn">
          <small>x</small>
        </button>
      </div>
      <div class="panel-body tabs">
        <div class="row">
          <div class="col-sm-2 form-lbl-header"> </div>
          <div class="col-sm-4 form-lbl-header">Title </div>
          <div class="col-sm-5 form-lbl-header">Target </div>

        </div>
        <br/>
        <div class="row">
          <div class="col-sm-2 form-lbl">Tab 1 </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" required autofocus/>
          </div>
          <div class="col-sm-5">
            <input type="text" class="form-control" required/>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 form-lbl">Tab 2 </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" />
          </div>
          <div class="col-sm-5">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 form-lbl">Tab 3 </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" />
          </div>
          <div class="col-sm-5">
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 form-lbl"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-2 apply">
          <button class="btn btn-primary">Apply</button>
        </div>
      </div>
      <br/>
    </div>

  </div>
</div>

<div id="menu-popup-holder">
  <div id="menu-popup" class="tooltip">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Menu</strong>
        <button type="button" class="close close-btn">
          <small>x</small>
        </button>
      </div>
      <div class="panel-body tabs">
        <div class="row">
          <div class="col-sm-2 form-lbl-header"> </div>
          <div class="col-sm-4 form-lbl-header">Title </div>
          <div class="col-sm-5 form-lbl-header">Target </div>

        </div>
        <br/>
        <div class="row">
          <div class="col-sm-2 form-lbl">Item 1 </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" required autofocus/>
          </div>
          <div class="col-sm-5">
            <input type="text" class="form-control" required/>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 form-lbl">Item 2 </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" />
          </div>
          <div class="col-sm-5">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 form-lbl">Item 3 </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" />
          </div>
          <div class="col-sm-5">
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 form-lbl"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-2 apply">
          <button class="btn btn-primary">Apply</button>
        </div>
      </div>
      <br/>
    </div>

  </div>
</div>

<div id="panel-popup-holder">
  <div class="tooltip">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Panel</strong>
        <button type="button" class="close close-btn">
          <small>x</small>
        </button>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-2 form-lbl">Heading: </div>
          <div class="col-sm-7">
            <input type="text" class="form-control" required autofocus/>
          </div>
          <div class="col-sm-4"></div>
        </div>
        <br/>
        <div class="row">
          <div class="col-sm-2 form-lbl">Content: </div>
          <div class="col-sm-7">
            <input type="text" class="form-control" required />
          </div>
          <div class="col-sm-2 apply">
            <button class="btn btn-primary">Apply</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tab-content">
  <div class="tab-pane active" id="1a"></div>
  <div class="tab-pane" id="2a"></div>
  <div class="tab-pane" id="3a"></div>
</div>