<form id="configure-component"
  #configureComponentForm="ngForm"
  (ngSubmit)="save(configureComponentForm)"
>
  <h1 mat-dialog-title>
    {{ data.component ? 'Configure': 'New' }} Component
  </h1>

  <mat-dialog-content>
    <mat-form-field>
      <input
        matInput
        required
        name="name"
        #ngFormName="ngModel"
        placeholder="Name"
        [(ngModel)]="name"
      >
    </mat-form-field>

    <div class="mat-form-field page-container">
      <div>
        <mat-checkbox [disabled]="home" name="page" [(ngModel)]="page">
          Page
        </mat-checkbox>
        <div
          class="mat-input-hint-wrapper mat-form-field-hint-wrapper checkbox-hint">
          <div class="mat-hint">
            Check this box if you want this component to be accessible via a URL
          </div>
        </div>
      </div>
      <button
        mat-button
        *ngIf="!home && page && data.component"
        color="accent"
        (click)="makeHomepage()"
      >
        Make Homepage
      </button>
      <span *ngIf="home" class="homepage">Homepage</span>
    </div>

    <div class="mat-form-field">
      <mat-checkbox name="transaction" [(ngModel)]="transaction">
        Transaction
      </mat-checkbox>
      <div class="mat-input-hint-wrapper mat-form-field-hint-wrapper checkbox-hint">
        <div class="mat-hint">
          Check this box if you want child cliché components to run together
        </div>
      </div>
    </div>

    <div class="mat-form-field">
      <mat-accordion class="presentation-headers-align">
        <mat-expansion-panel hideToggle class="presentation-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>Presentation</mat-panel-title>
            <mat-panel-description>
              Change this component's format and style
              <mat-icon>palette</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field>
            <input
              matInput
              required
              name="backgroundColor"
              #ngFormName="ngModel"
              placeholder="Background Color"
              [(ngModel)]="styles.backgroundColor"
            >
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              required
              name="padding"
              #ngFormName="ngModel"
              placeholder="Padding"
              [(ngModel)]="styles.padding"
            >
          </mat-form-field>

          <div class="mat-form-field">
            <label>Border</label>
            <div class="compound-input">
              <mat-form-field>
                <input
                  matInput
                  required
                  name="borderWidth"
                  #ngFormName="ngModel"
                  placeholder="Width"
                  [(ngModel)]="styles.borderWidth"
                >
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  required
                  name="borderColor"
                  #ngFormName="ngModel"
                  placeholder="Color"
                  [(ngModel)]="styles.borderColor"
                >
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  required
                  name="borderStyle"
                  #ngFormName="ngModel"
                  placeholder="Style"
                  [(ngModel)]="styles.borderStyle"
                >
              </mat-form-field>
            </div>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-dialog-content>


  <mat-dialog-actions [ngClass]="data.component ? 'delete-save' : 'save-only'">
    <button
      mat-button
      *ngIf="data.component"
      color="warn"
      type="button"
      (click)="delete()"
      [disabled]="!canDelete"
    >Delete</button>
    <div class="save">
      <button
        mat-button
        type="button"
        (click)="cancel()"
      >Cancel</button>
      <button
        mat-button
        color="primary"
        type="submit"
        [disabled]="!validate(configureComponentForm)"
      >
        {{ data.component ? 'Save' : 'Create' }}
      </button>
    </div>
  </mat-dialog-actions>
</form>
