<link rel="stylesheet" href="./components/dashboard/dashboard.css">

<dv-widget name="NavBarLoggedIn"></dv-widget>

<div id="main-content">
  <div id="notifications">
    <span class="title-toggle" id="notifications-toggle" data-toggle="collapse" data-target="#dashboard-notifications">
      <h3>Notifications <span class="badge hide notifs-count">0</span> <span class="glyphicon glyphicon-chevron-down" id="requests-chevron-toggle"></span>
      </h3>
    </span>
    <div id="dashboard-notifications" class="collapse in">
      <dv-widget name="ShowUnapprovedTasks" of="Task"></dv-widget>
      <dv-widget name="ShowPendingApprovalTasks" of="Task"></dv-widget>
    </div>
  </div>
  <div id="request">
    <span class="title-toggle" id="requests-toggle" data-toggle="collapse" data-target="#dashboard-requests">
      <h3>Your Requests <span class="badge requests-count">0</span><span class="glyphicon glyphicon-chevron-right" id="requests-chevron-toggle"></span>
      </h3>
    </span>
    <div id="dashboard-requests" class="collapse">
      <dv-widget name="ShowAssignedTasks" of="Task"></dv-widget>
      <dv-widget name="ShowUnassignedTasks" of="Task"></dv-widget>
      <dv-widget name="ShowPendingApprovalTasks" of="Task"></dv-widget>
      
      <div class="col-xs-12 col-ms-6 col-sm-4 col-md-3 col-lg-3">
        <div class="tile add-request-tile">
          <div [routerLink]="['/request']" class="glyphicon tile-image" id="add-request-icon">+</div>
        </div>
      </div>
    </div>
  </div>
  <div id="deliver">
    <span class="title-toggle" id="deliver-toggle" data-toggle="collapse" data-target="#dashboard-deliver">
      <h3>To Deliver <span class="badge deliveries-count">0</span> <span class="glyphicon glyphicon-chevron-right" id="requests-chevron-toggle"></span>
      </h3>
    </span>
    <div id="dashboard-deliver" class="collapse">
      <p>Remember to contact the requester first to set a pickup time!</p>
      <dv-widget name="ShowUncompletedTasks" of="Task"></dv-widget>
    </div>
  </div>
</div>
