#dashboard-notifications, #dashboard-requests {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Add request tile styling */
.request-tile, .add-request-tile {
  height: 150px;
}

#add-request-icon {
  font-size: 150px;
}

.add-request-tile {
  text-align: center;
  vertical-align: middle;
}

.tile:hover{
  background-color: rgba(22, 160, 133,0.25);
}
