<dv-tx>
  <authentication-logged-in (user)="user=$event; outputAsLoggedInUser($event)">
  </authentication-logged-in>

  <dv-redirect *ngIf="redirectParams" href="/login" [params]="redirectParams"
    [onEvalFailure]="true">
  </dv-redirect>
</dv-tx>

<div *ngIf="showTitle">
  <div id="returnToMain">R E N D E Z V O U S</div>
  <div class="inline" style="float: left;">
    <dv-link
      mat-icon-button
      type="button"
      id="back" style="margin-right: 50px;"
      class="btn button btn-info"
      href="/main">
      <mat-icon>arrow_back</mat-icon>
    </dv-link>
  </div>
</div>

<div style="float:right;">
  <div style="text-align:center">
    <div class="inline">
      <dv-link *ngIf="showProfileButton"
        type="button"
        class="btn button"
        style="margin: 0px; width: 100%;"
        href="/profile"
        [params]="{ id: user?.id }">
        My Profile
      </dv-link>
      <dv-tx>
        <authentication-sign-out
          class="btn button"
          style="margin: 0px; margin-top: 10px; width: 100%;"
          buttonLabel="Logout">
        </authentication-sign-out>
        <dv-link href="/login" [hidden]="true"></dv-link>
      </dv-tx>
    </div>
  </div>
</div>
