<div id="side-menu">
  <mat-accordion id="cliche-list" *ngIf="app">
    <mat-expansion-panel *ngFor="let collection of actionCollections">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{collection.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list class="action-list" dragula="action">
        <mat-list-item
          *ngFor="let action of collection.actions"
          [attr.data-source]="collection.name"
          [attr.data-action]="action.name"
        >
          {{action.name}}
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>