#side-menu {
  width: 264px; /* same as GSites */
  height: 100%;
  border-left: 1px solid black;
  text-align: center;
}

#import-concept {
  margin-top: 16px;
}

button.settings {
  padding: 0;
  margin-right: 8px;
}

mat-panel-title {
  align-items: center;
}

mat-expansion-panel-header {
  padding-left: 16px;
}

#side-menu /deep/.mat-tab-label,
#side-menu /deep/.mat-tab-label-active{
  min-width: 100px !important;
  padding: 3px !important;
  margin: 3px !important;
  width: 100%;
  height: 58px !important;
  font-size: 18px;
}

#side-menu /deep/.mat-tab-label-content {
  padding-top: 15px;
  font-weight: 500;
}


.spacer {
  display: inline-block;
  width: 32px;
}

mat-list-item[data-disabled="true"] {
  color: gray;
  cursor: not-allowed;
}
