<div id="side-menu">
  <mat-tab-group>
    <mat-tab label="Components">
      <app-insert-component [app]="app" [openComponent]="openComponent">
      </app-insert-component>
    </mat-tab>
    <mat-tab label="Concepts">
      <app-concept-instances
        [app]="app"
        (conceptAdded)="conceptAdded.emit($event)"
        (conceptRemoved)="conceptRemoved.emit($event)">
      </app-concept-instances>
    </mat-tab>
    <mat-tab label="Themes">
      <app-theme-palette>
        [app]="app"
      </app-theme-palette>
    </mat-tab>
  </mat-tab-group>
</div>
