<link href="https://fonts.googleapis.com/css?family=Fruktur|Roboto"
 rel="stylesheet">
<style>
.left-align-row {
  text-align: left;
}

#child-chores-table > .row , #child-rewards > .row {
  margin-top: 2px;
  margin-bottom: 2px;
}

.star-balance {
  font-size: 60px;
  color: yellow;
  text-align: center;
}

#child-heading {
  position: center;
}

#child-heading-container > div {
  display: inline-block;
}
</style>
<div class="body">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">ChoreStar</a>
      </div>
      <dv-widget name="SignOutWithRedirect" of="ChildAuth">
      </dv-widget>
    </div>
  </nav>
  <div id="child-homepage-container">
    <div id="child-heading">
      <h1> Hi,
        <dv-widget name="LoggedIn" of="ChildAuth" class="hide-first-child">
        </dv-widget>
      </h1>
      <div class="container-fluid" id="child-heading-container">
          <div class="col-xs-12 star-balance">
            <span class="glyphicon glyphicon-star"></span>
            <dv-widget name="ShowBalance" of="Market"
                class="hide-first-child grandchild-div-display-inline">
            </dv-widget>
          </div>
      </div>
    </div>
    <div class="container-fluid" id="child-data-container">
      <div id="child-chores" class="col-md-6">
        <div class="white-box" id="child-chores-table">
          <h2>Chores</h2>
          <h4>Uncompleted Chores</h4>
          <div class="row left-align-row">
             <dv-widget name="ShowUncompletedTasks" of="Task"></dv-widget>
          </div>
          <h4>Chores Pending Approval</h4>
          <div class="row left-align-row">
             <dv-widget name="ShowUnapprovedTasks" of="Task"></dv-widget>
          </div>
          <h4>Completed and Approved Chores</h4>
          <div class="row left-align-row">
             <dv-widget name="ShowApprovedTasks" of="Task"></dv-widget>
          </div>
        </div>
      </div>

      <div id="child-rewards" class="col-md-6">
        <div class="white-box">
          <h2>Rewards</h2>
            <h3>Rewards You Can Afford</h3>
            <dv-widget name="ShowAffordableGoods" of="Market"></dv-widget>
            <h3>Rewards You Cannot Afford Yet</h3>
            <dv-widget name="ShowUnaffordableGoods" of="Market"></dv-widget>
        </div>
      </div>
    </div>
  </div>
</div>
