<link href="https://fonts.googleapis.com/css?family=Fruktur|Roboto"
 rel="stylesheet">
<style>
.left-align-row {
  text-align: left;
}

#child-chores-table > .row , #child-rewards > .row {
  margin-top: 2px;
  margin-bottom: 2px;
}

.icon-size {
  font-size: 60px;
  color: yellow;
}

.icon-size > span {
  position: absolute;
  left: 34px; /** you can make changes here to change position **/
  top: 18px;
  font-size: 16pt;
  z-index: 3;
  font-family: 'Roboto', sans-serif;
  color: black;
}

#child-heading {
  position: center;
}

#child-heading-container > div {
  display: inline-block;
}
</style>
<div class="body">
  <dv-widget name="LoggedIn" of="ChildAuthentication"></dv-widget>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">ChoreStar</a>
      </div>
      <dv-widget name="SignOutWithRedirect" of="ChildAuthentication">
      </dv-widget>
    </div>
  </nav>
  <div id="child-homepage-container">
    <div id="child-heading">
      <h1> Hi, {{child.name}}!</h1>
      <div class="container-fluid" id="child-heading-container">
          <div class="col-xs-2 col-xs-offset-4"><h4> StarBank Total: </h4></div>
          <div class="col-xs-2 glyphicon glyphicon-star icon-size">
            <dv-widget name="ShowBalance" of="Market"></dv-widget>
          </div>
      </div>
    </div>
    <div class="container-fluid" id="child-data-container">
      <div id="child-chores" class="col-md-6">
        <div class="white-box" id="child-chores-table">
          <h2>Chores</h2>
          <h4>Uncompleted Chores</h4>
          <div class="row left-align-row">
             <dv-widget name="ShowUncompletedTasks" of="Task"></dv-widget>
          </div>
          <h4>Chores Pending Approval</h4>
          <div class="row left-align-row">
             <dv-widget name="ShowUnapprovedTasks" of="Task"></dv-widget>
          </div>
          <h4>Completed and Approved Chores</h4>
          <div class="row left-align-row">
             <dv-widget name="ShowApprovedTasks" of="Task"></dv-widget>
          </div>
        </div>
      </div>

      <div id="child-rewards" class="col-md-6">
        <div class="white-box">
          <h2>Rewards</h2>
            <h3>Rewards You Can Afford</h3>
            <dv-widget name="ShowAffordableGoods" of="Market"></dv-widget>
            <h3>Rewards You Cannot Afford Yet</h3>
            <dv-widget name="ShowUnaffordableGoods" of="Market"></dv-widget>
        </div>
      </div>
    </div>
  </div>
</div>
