<div class="set-inputs" *ngIf="actionInstance">

  <div *ngIf="actionInstance.styles" class="style-input mat-form-field">
    <mat-checkbox [(ngModel)]="actionInstance.styles.stretch">
      Stretch
    </mat-checkbox>
  </div>

  <div *ngIf="actionInstance.isText" class="text-input mat-form-field">
    <button
      mat-button
      class="edit-text"
      (click)="openTextEditor()"
    >
      <span class="value">
        Edit Content
      </span>
    </button>
  </div>

  <div
    *ngFor="let input of actionInputs"
    class="action-input mat-form-field"
    dragula="action"
    (inputAction)="inputAction(input, $event)"
    [matTooltip]="actionInstance.of?.ioDescriptions[input]"
  >
    <span class="prompt no-drag">Replace {{input}}</span>
    <div
      *ngIf="actionInstance.inputSettings[input]"
      dragula="inputted-action"
      (unInputAction)="unInputAction(input)"
    >
      <span class="reminder no-drag">{{input}}</span>
      <button mat-button
        class="inputted-action"
        #menuTrigger="matMenuTrigger"
        [matMenuTriggerFor]="menu.matMenu"
      >
        {{actionInstance.inputSettings[input].fqtag}}
      </button>
      <app-floating-menu
        #menu
        [title]="actionInstance.inputSettings[input].fqtag"
        (shouldClose)="closeMenu(menuTrigger)"
      >
        <div class="menu-content">
          <div class="original-inputs">
            <h3>Inputs to Original Action</h3>
            <div
              *ngIf="actionInput(input).length > 0"
              class="inputtables"
              dragula="expression-io"
              [attr.data-context]="actionInstance.fqtag + '.' + input"
            >
              <div
                *ngFor="let name of actionInput(input)"
                [attr.data-output]="'$' + name"
              >
                {{name}}
              </div>
            </div>
          </div>
          <app-set-inputs
            [app]="app"
            [actionInstance]="actionInstance.inputSettings[input]"
            [openAction]="openAction"
            [context]="actionInstance.fqtag + '.' + input"
          ></app-set-inputs>
        </div>
      </app-floating-menu>
    </div>
  </div>

  <mat-form-field *ngFor="let input of expressionInputs" class="expression-input">
    <input
      matInput
      class="input-value"
      [placeholder]="input"
      [name]="input"
      [(ngModel)]="actionInstance.inputSettings[input]"
      dragula="expression-io"
      (addOutput)="addOutput(input, $event)"
      [attr.data-context]="context"
      [matTooltip]="actionInstance.of?.ioDescriptions[input]"
    >
  </mat-form-field>
</div>