<div class="set-inputs" *ngIf="componentInstance">

  <div *ngIf="componentInstance.styles" class="style-input mat-form-field">
    <mat-checkbox [(ngModel)]="componentInstance.styles.stretch">
      Stretch
    </mat-checkbox>
  </div>

  <div *ngIf="componentInstance.isText" class="text-input mat-form-field">
    <button
      mat-button color="primary"
      (click)="openTextEditor()">
        Edit Content
    </button>
  </div>

  <div
    *ngFor="let input of componentInputs"
    class="component-input mat-form-field"
    dragula="component"
    (inputComponent)="inputComponent(input, $event)"
    [matTooltip]="componentInstance.of.ioDescriptions[input]"
  >
    <span class="prompt no-drag">Replace {{input}}</span>
    <div
      *ngIf="componentInstance.inputSettings[input]"
      dragula="inputted-component"
      (unInputComponent)="unInputComponent(input)"
    >
      <span class="reminder no-drag">{{input}}</span>
      <button mat-button
        class="inputted-component"
        #menuTrigger="matMenuTrigger"
        [matMenuTriggerFor]="menu.matMenu"
      >
        {{componentInstance.inputSettings[input].fqtag}}
      </button>
      <app-floating-menu
        #menu
        [title]="componentInstance.inputSettings[input].fqtag"
        (shouldClose)="closeMenu(menuTrigger)"
      >
        <div class="menu-content">
          <div class="original-inputs">
            <h3>Inputs to Original Component</h3>
            <div
              *ngIf="componentInput(input).length > 0"
              class="inputtables"
              dragula="expression-io"
              [attr.data-context]="componentInstance.fqtag + '.' + input"
            >
              <div
                *ngFor="let name of componentInput(input)"
                [attr.data-output]="'$' + name"
                [matTooltip]="componentInputsIODescriptions[input][name]"
              >
                {{name}}
              </div>
            </div>
            <div *ngIf="componentInput(input).length === 0">
              There are none.
            </div>
          </div>
          <app-set-inputs
            [app]="app"
            [componentInstance]="componentInstance.inputSettings[input]"
            [openComponent]="openComponent"
            [context]="componentInstance.fqtag + '.' + input"
          ></app-set-inputs>
        </div>
      </app-floating-menu>
    </div>
  </div>

  <div *ngFor="let input of expressionInputs">
    <mat-form-field  class="expression-input"
      [ngClass]="errors[input] ? 'mat-form-field-invalid' : ''">
      <input
        matInput
        class="input-value"
        [placeholder]="input"
        [name]="input"
        [(ngModel)]="componentInstance.inputSettings[input]"
        dragula="expression-io"
        (addOutput)="addOutput(input, $event)"
        (blur)="checkExpr(input, $event)"
        [attr.data-context]="context"
        [matTooltip]="componentInstance.of.ioDescriptions[input]"
      >
    </mat-form-field>
    <div *ngIf="errors[input]" class="mat-error error-msg">
      Invalid expression:
      {{errors[input]}}
    </div>
  </div>

</div>
