/*===================================================
                   MENUBAR
===================================================*/
.menubar {
  width: 100%;
  display: flex;
  background-color: #F0F1F2;
  /*overflow-x: scroll;*/
  z-index: 600;
  padding: 0 10px;
  height: 100px;
}
 
.menu-item {
  margin: 10px 15px;
}

.menu-item.logo {
  font-weight: bold;
  font-size: 23px;
  text-align: center;
} 

.navigation{
  flex-grow: 2;
  padding: 6px;
  font-size: medium;
}

a {
  cursor: pointer;
}
