<link href="https://fonts.googleapis.com/css?family=Fruktur|Roboto"
 rel="stylesheet">
<style>
.logo {
  font-family: 'Fruktur', sans-serif;
}
</style>
<div class="body">
  <h1>Welcome to <span class="logo">ChoreStar</span></h1>
  <div class="container-fluid">
    <div class="col-md-5 col-md-offset-1">
      <div class="white-box">
        <h2>Parent Login</h2>
        <dv-widget name="SignInWithRedirect" of="ParentAuthentication"></dv-widget>
      </div>
      <div class="white-box">
        <h2>Parent Registration</h2>
        <dv-widget name="RegisterWithRedirect" of="ParentAuthentication"></dv-widget>
      </div>
    </div>
  
    <div class="col-md-5">
      <div class="white-box">
        <h2>Child Login</h2>
        <dv-widget name="SignInWithRedirect" of="ChildAuthentication"></dv-widget>
      </div>
    </div>
  </div>
</div>
