mat-panel-title {
  align-items: center;
}

mat-expansion-panel-header {
  padding-left: 16px;
}

.spacer {
  display: inline-block;
  width: 32px;
}

mat-list-item[data-disabled="true"] {
  color: gray;
  cursor: not-allowed;
}

.collection-hint {
  font-size: 75%;
  color: rgba(0,0,0,.54);
  padding-left: 5px;
}
