<div class="container main">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <h1>Group meeting organizer</h1>
        </div>
      </div>
      <div class="row box">
        <div class="col-md-12">
          <dv-tx>
            <dv-id (id)="groupMeetingId=$event"></dv-id>
            <dv-status savedText="New group meeting series saved"></dv-status>
            <dv-ids [for]="events" (ids)="meetingIds=$event"></dv-ids>
            <event-create-weekly-series
              (seriesEvents)="events=$event"
              [save]="false"
              [showOptionToSubmit]="false">
            </event-create-weekly-series>
            <event-create-series
              [id]="groupMeetingId"
              [hidden]="true"
              [seriesEvents]="events" [seriesEventsIds]="meetingIds">
            </event-create-series>
            <allocator-create-allocation [hidden]="true"
              [id]="groupMeetingId" [resourceIds]="meetingIds"
              [consumerIds]="['Ben', 'Alyssa']">
            </allocator-create-allocation>
            <dv-button>Create Group Meeting Series</dv-button>
          </dv-tx>
      </div>
      <div class="row box">
          <div class="col-md-12">
            <event-choose-and-show-series
              [showEvent]="{
                type: showGroupMeeting,
                inputMap: {event: 'groupMeeting', events: 'groupMeetings'}
              }"
              noEventsToShowText="No meetings to show"
              chooseSeriesSelectPlaceholder="Choose Meeting Series">
            </event-choose-and-show-series>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
