<div class="row">
  <div class="col-md-offset-2 col-md-6">
    <h1>Group meeting organizer</h1>
    <h2>Create new group meeting series</h2>
    <div class="row">
      <dv-tx>
        <dv-id (id)="groupMeetingId=$event"></dv-id>
        <event-new-weekly-event
          [id]="groupMeetingId" (events)="meetings=$event"
          buttonLabel="Create Group Meeting Series">
        </event-new-weekly-event>
        <allocator-create-allocation [hidden]="true"
          [id]="groupMeetingId"
          [resources]="meetings" [saveResources]="true">
        </allocator-create-allocation>
      </dv-tx>
    </div>
    <h2>Show a group meeting series</h2>
    <div class="row">
      <event-choose-and-show-weekly-event
        [showEvent]="{
          type: showGroupMeeting,
          inputMap: {event: 'groupMeeting'}
        }"
        noEventsToShowText="No meetings to show"
        chooseWeeklyEventSelectPlaceholder="Choose Meeting Series">
      </event-choose-and-show-weekly-event>
    </div>
  </div>
</div>
