authentication-sign-in button {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  display: block;
  width: 100%;
  background-color: #A52C4B !important;
  border-color: #A52C4B !important;
  color: #FFFFFF !important;
}

authentication-sign-in button:hover {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  display: block;
  width: 100%;
  background-color: #721129 !important;
  border-color: #721129 !important;
  color: #FFFFFF !important;
}
