<dv-widget name="NavBar"></dv-widget>
<div id="my-groups-column-container">
  <div class="my-groups-column" id="my-groups-column-left">
    <div class="panel panel-default">
      <div class="panel-body groups-panel-body">
        <h2>Groups I Own</h2>
        <dv-widget name="ShowGroupsByMember" of="Group"></dv-widget>
        <!--TODO: By Owner-->
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body groups-panel-body">
        <h2>Create a Group</h2>
        <dv-widget name="NewGroup" of="Group"></dv-widget>
      </div>
    </div>
  </div>
  <div class="my-groups-column" id="my-groups-column-right">
    <div class="panel panel-default">
      <div class="panel-body groups-panel-body">
        <h2>Groups I'm In</h2>
        <dv-widget name="ShowGroupsByMember" of="Group"></dv-widget>
        <!--TODO: And not owner-->
      </div>
    </div>
  </div>
</div>
