<div class="label-container">
  <p contenteditable="true" class="display-component">{{widget.getValue()}}</p>
</div>

<div [hidden]='tooltipHidden'
     class="tooltip">
  <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Label text</strong>
        <button type="button" class="close close-btn">
          <small>x</small>
        </button>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <textarea class="form-control" rows="2" (change)="updateText($event)">{{value}}</textarea>
          </div>
        </div><br/>
        <button class="apply btn btn-primary pull-right" (click)="applyChanges()">Apply</button>
      </div>
  </div>
</div>

<div class="config-btns">
    <div><!-- class="btn-group-vertical btn-group-xs">-->
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-indent-left"></span> Align
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#" class="premade-style align-center">Center</a></li>
            <li><a href="#" class="premade-style align-right">Right</a></li>
            <li><a href="#" class="premade-style align-left">Left</a></li>
            <li><a href="#" class="premade-style align-justify">Justify</a></li>
        </ul>
    </div>
    <div><!-- class="btn-group-vertical btn-group-xs">-->
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-text-size"></span> Size
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#" class="premade-style lbl-small">Small</a></li>
            <li><a href="#" class="premade-style lbl-default">Default</a></li>
            <li><a href="#" class="premade-style lbl-large">Large</a></li>
            <li><a href="#" class="premade-style lbl-heading">H1</a></li>
        </ul>
    </div>
    <div><!-- class="btn-group-vertical btn-group-xs">-->
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-text-color"></span> Color
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#" class="premade-style lbl-text-default">Default</a></li>
            <li><a href="#" class="premade-style lbl-text-muted">Muted</a></li>
            <li><a href="#" class="premade-style lbl-text-primary">Primary</a></li>
            <li><a href="#" class="premade-style lbl-text-success">Success</a></li>
            <li><a href="#" class="premade-style lbl-text-info">Info</a></li>
            <li><a href="#" class="premade-style lbl-text-warning">Warning</a></li>
            <li><a href="#" class="premade-style lbl-text-danger">Danger</a></li>
        </ul>
    </div>
</div>
