<a class="btn btn-link" [href]="widget.getValue().target">
  {{widget.getValue().text}}
</a>

<div [hidden]='true' class="tooltip">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Link</strong>
      <button type="button" class="close close-btn">
        <small>x</small>
      </button>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-2 form-lbl">Text: </div>
        <div class="col-sm-7">
          <input type="text" class="form-control" required autofocus (change)="updateLinkText($event)" [value]="value.text" />
        </div>
        <div class="col-sm-4"></div>
      </div>
      <br/>
      <div class="row">
        <div class="col-sm-2 form-lbl">Target: </div>
        <div class="col-sm-7">
          <input type="text" class="form-control" required (change)="updateLinkTarget($event)" [value]="value.target"/>
        </div>
        <div class="col-sm-2 apply">
          <button class="btn btn-primary" (click)="applyChanges()">
            Apply
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<dv-widget-options [widget]="widget">
  <div items>
    <button mat-menu-item [matMenuTriggerFor]="styleStyle">Style</button>
    <button mat-menu-item [matMenuTriggerFor]="styleSize">Size</button>    
  </div>
  <div menus>
    <mat-menu #styleStyle="matMenu">
      <button mat-menu-item class="btn-style-link">Link</button>
      <!-- TODO divider -->
      <button mat-menu-item [matMenuTriggerFor]="styleStyleButton">Button</button>
    </mat-menu>
    
    <mat-menu #styleStyleButton="matMenu">
      <button mat-menu-item  class="btn-style-default">Default</button>
      <button mat-menu-item  class="btn-style-primary">Primary</button>
      <button mat-menu-item  class="btn-style-success">Success</button>
      <button mat-menu-item  class="btn-style-info">Info</button>
      <button mat-menu-item  class="btn-style-warning">Warning</button>
      <button mat-menu-item  class="btn-style-danger">Danger</button>
    </mat-menu>
    
    <mat-menu #styleSize="matMenu">
      <button mat-menu-item class="btn-size-xs">Small</button>
      <button mat-menu-item class="btn-size-df">Default</button>
      <button mat-menu-item class="btn-size-lg">Large</button>
    </mat-menu>
  </div>  
</dv-widget-options>