<button class="btn btn-default btn-xs options"
        type="button"
        [matMenuTriggerFor]="options">
  <span class="glyphicon glyphicon-option-vertical"></span>
</button>

<mat-menu #options="matMenu">
  <!-- <button mat-menu-item [disabled]="editDisabled"> -->
  <button *ngIf="!editDisabled"
          mat-menu-item 
          (click)="showTooltip()">
    <span class="glyphicon glyphicon-pencil"></span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="style">Style</button>
  <!-- TODO divider -->
  <button mat-menu-item
          (click)="moveUp()">
    Move up
  </button>
  <button mat-menu-item
          (click)="moveDown()">
    Move down
  </button>
  <!-- TODO divider -->
  <!-- <button (click)="createTemplate()" mat-menu-item>
    Create Template
  </button> -->
  <!-- TODO divider -->
  <button mat-menu-item
          (click)="unlink()">
    Unlink
  </button>
  <button mat-menu-item
          (click)="delete()">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
</mat-menu>

<mat-menu #style="matMenu">
  <ng-content select="[items]"></ng-content>
  <!-- TODO divider -->
  <button mat-menu-item
    (click)="clearStyles()">Clear Styles</button>
</mat-menu>

<ng-content select="[menus]"></ng-content>