<div>
  <button type="button" 
          class="btn btn-default"
          (click)="handleNewProject()">
      <span class="glyphicon glyphicon-plus"></span> New project
  </button>
</div>

<div class="project-container">
  <div class="projects">
    <div class="header">
      <ul class="nav nav-tabs">
        <li [ngClass]="{'active': recentSelected}"
            id="recent-selector"
            (click)="loadProjectList()">
          <a>Recent Projects</a>
        </li>
        <li id="all-selector"
            [ngClass]="{'active': !recentSelected}"
            (click)="loadProjectList(false)">
          <a>All Projects</a>
        </li>
      </ul>
    </div>
    <div class="content">
      <ul [hidden]="projectsToShow.length === 0"
          id="projects-list">
        <li *ngFor="let displayProjectInfo of projectsToShow"
            [ngClass]="{'highlighted': displayProjectInfo.isSelectedProject}">
          <div (click)="projectClicked(displayProjectInfo.filename)">
            <div class="project-name">{{displayProjectInfo.filename}}</div>
            <div class="project-name">{{displayProjectInfo.name}}</div>
            <div class="last-access-time">
              Last Accessed: {{displayProjectInfo.readableDate}}
                at {{displayProjectInfo.readableTime}}
            </div>
          </div>
          <button type="button" 
                  class="btn btn-default btn-load-project"
                  (click)="loadClicked(displayProjectInfo.filename)">
            <span>Load Project</span>
          </button>
          <button type="button" 
                  class="btn btn-default btn-delete-project"
                  (click)="handleDelete(displayProjectInfo.filename)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div class="current-and-preview-container">
    <div class="current-project" *ngIf="currentProject">
      <div class="header">Current project</div>
      <div class="content"
            (click)="currentProjectClicked()">
        {{currentProject.getName()}}
      </div>
    </div>
    <dv-project-preview *ngIf="selectedProject"
      [selectedProject]="selectedProject"
      (projectSelected)="loadProject($event)"
      >
    </dv-project-preview>
  </div>
</div>

<dv-loader [show]="loaderVisible"></dv-loader>