<h3 class="mat-dialog-title">Close Delivery</h3>

<mat-dialog-content>
  <p>
    <span class="text-warning">
      <b>WARNING:</b>
    </span>
    Make sure the requester pays before handing the good to him/her and closing this delivery.
  </p>

  <div>
    <p>Below is a summary of your delivery for 
      <authentication-show-user [id]="request.assigner.id">
      </authentication-show-user>:
    </p>
    <market-show-compound-transaction
      [compoundTransaction]="{ id: request.id }"
      [showId]="false"
      [showTransactionId]="false"
      [showTransactionStatus]="false"
      [showGoodDetails]="false"
      [showOptionToPay]="false"
      [showOptionToCancel]="false">
    </market-show-compound-transaction>

    <property-show-object
      dvOf="request"
      [id]="request.id"
      [showOnly]="['rejectionReason']"
      [hidden]="true"
      (outputObject)="request.rejectionReason=$event">
    </property-show-object>
    <div *ngIf="request.rejectionReason">
      The request delivery was rejected because:
      <i>{{request.rejectionReason}}</i>
    </div>
  </div>

  <hr>

  <p>
    Rate <authentication-show-user [id]="request.assigner.id">
    </authentication-show-user>:
  </p>
  <dv-tx>
    <rating-rate-target
      [sourceId]="request.assignee.id" [targetId]="request.assigner.id">
    </rating-rate-target>

    <dv-button>Rate &amp; Close</dv-button>
  </dv-tx>
</mat-dialog-content>
