<dv-widget name="HostNavBar"></dv-widget>
<div class="show-and-edit-climbers">
    <div class="container below-navbar">
        <div class="row sort-climbers">
            <div class="col-lg-4">
                Coming soon: Sort Alphabetically by First or Last Name
            </div>
        </div>

        <br>

        <div class="row table-header">
            <div class="col-lg-10">
                <div class="col-xs-1"></div>
                <div class="col-xs-3 center">name</div>
                <div class="col-xs-1 center">sex</div>
                <div class="col-xs-2 right">reveal all (soon)</div>
                <div class="col-xs-1">code (soon)</div>
                <div class="col-xs-2">category (soon)</div>
                <div class="col-xs-2"></div>
            </div>
            <div class="col-lg-2"></div>
        </div>

        <div class="row add-climber-form">
            <div class="col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="add-climber">
                            <!-- if this doesn't work, replace with createcustompasskey to move on -->
                            <!-- <dv-widget name="CreateRandomPasskey" of="ClimberAuthentication"></dv-widget> -->

                            <div class="col-xs-1"></div>
                            <div class="col-xs-3">
                                <dv-widget name="EditNameOfMember" of="CompetitionClimbers"></dv-widget>
                            </div>
                            <div class="col-xs-2">coming soon</div>
                            <div class="col-xs-1 right">
                                <!-- Temporary until things actually work -->
                                <!-- Problem with atom_id with group but climber is created -->
                                <dv-widget name="CreateCustomPasskeyContent" of="ClimberAuthentication"></dv-widget>
                            </div>
                            <div class="col-xs-1"></div>
                            <div class="col-xs-2">coming soon</div>
                            <div class="col-xs-2">
                                <dv-widget name="NewMemberButton" of="CompetitionClimbers"></dv-widget>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>

        <div class="show-climbers">
            <dv-widget name="ShowMembersOfGroup" of="CompetitionClimbers"></dv-widget>
        </div>
    </div>
</div>