<dv-widget name="HostNavBar"></dv-widget>

<div class="show-and-edit-climbers">
    <div class="container below-navbar">
        <div class="row sort-climbers">
            <div class="col-lg-4">
                Coming soon: Sort Alphabetically by First or Last Name
            </div>
        </div>

        <br>

        <div class="row table-header">
            <div class="col-lg-10 col-lg-offset-2">
                <div class="col-xs-1"></div>
                <div class="col-xs-3 text-center">name</div>
                <div class="col-xs-1 text-center">sex</div>
                <div class="col-xs-2 right">reveal all (soon)</div>
                <div class="col-xs-1">code (soon)</div>
                <div class="col-xs-2">category (soon)</div>
                <div class="col-xs-2"></div>
            </div>
        </div>

        <dv-widget name="AddClimberForm"></dv-widget>

        <div class="show-climbers">
            <dv-widget name="ShowMembersOfGroup" of="CompetitionClimbers"></dv-widget>
        </div>
    </div>
</div>

<!-- HACK: remove once fields with default values are always included -->
<dv-widget name="SignInWithRedirect" of="HostAuthentication" style="display:none">
</dv-widget>
<dv-widget name="ShowNameOfGroup" of="CompetitionClimbers" style="display:none">
</dv-widget>
