<div class="row">
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-xs-2">
                    <dv-widget name="ShowTask" of="Task"></dv-widget>
                </div>
                <div class="col-xs-3">
                    (soon)
                </div>
                <div class="col-xs-5">
                    (soon)
                </div>
                <div class="col-xs-2">
                    <img src="./components/show-climb/edit.png">
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-2 col-xs-12 center"></div>
</div>