<dv-tx>
  <dv-id (id)="supplyId=$event"></dv-id>
  
  <property-create-object
    dvOf="supply"
    [id]="supplyId"
    [showOptionToSubmit]="false"
    [save]="save"
    (object)="object=$event">
  </property-create-object>

  <market-create-good
    [id]="supplyId"
    [marketId]="partyId"
    [sellerId]="loggedInUserId"
    [showOptionToInputPrice]="false"
    [showOptionToInputSeller]="false"
    [showOptionToSubmit]="false"
    supplyLabel="Quantity"
    [save]="save"
    (good)="good=$event">
  </market-create-good>

  <dv-merge [sources]="[object, good]" (object)="outputAsSupply($event)">
  </dv-merge>

  <dv-button>Add Supply</dv-button>
</dv-tx>
