<!-- CreateCustomPasskey --> 
<form (ngSubmit)="onSubmit()" #createPasskeyForm="ngForm" class="form-horizontal">
    <fieldset class="form-group">
      <label class="sr-only" for="code">Passkey Code</label>
      <input type="text" required class="form-control" name="code"
       [(ngModel)]="passkey.code" ngControl="code" placeholder="Passkey Code"/>
    </fieldset>
    <fieldset class="form-group" [ngClass]="{ 'has-error': error }">
      <button type="submit" class="btn btn-default btn-sm pull-right"
       [disabled]="!createPasskeyForm.form.valid">Create Passkey</button>
       <div id="create-passkey-status" class="alert alert-danger"
       [hidden]="!error">
       Passkey already exists.
    </div>
    </fieldset>
  </form>
