<form
  id="configure-cliche"
  #configureClicheForm="ngForm"
  (ngSubmit)="save(configureClicheForm)"
>
  <h1 mat-dialog-title>
    {{ data.cliche ? 'Configure' : 'Import' }} Cliché
  </h1>

  <mat-dialog-content>
    <mat-form-field>
      <mat-select
        required
        name="cliche"
        #ngFormCliche="ngModel"
        placeholder="Cliché"
        [(ngModel)]="of"
        (selectionChange)="onSelectCliche($event)"
        [disabled]="data.cliche"
      >
        <mat-option
          *ngFor="let clicheDefinition of clicheDefinitions"
          [value]="clicheDefinition"
        >
          {{clicheDefinition.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        required
        name="name"
        #ngFormName="ngModel"
        placeholder="Alias"
        [(ngModel)]="name"
      >
    </mat-form-field>

    <mat-divider></mat-divider>

    <ng-template propertyDynamicComponent>
    </ng-template>

    <mat-form-field [hidden]="!of || !!of.configWizardComponent">
      <textarea
        matInput
        name="config"
        #ngFormConfig="ngModel"
        placeholder="Config (JSON)"
        [(ngModel)]="configString"
        [errorStateMatcher]="jsonValidator"
      >
      </textarea>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions [ngClass]="data.cliche ? 'delete-save' : 'save-only'">
    <button
      mat-button
      *ngIf="data.cliche"
      color="warn"
      type="button"
      (click)="delete()"
    >Delete</button>
    <div class="save">
      <button
        mat-button
        type="button"
        (click)="cancel()"
      >Cancel</button>
      <button
        mat-button
        color="primary"
        type="submit"
        [disabled]="!validate(configureClicheForm)"
      >{{ data.cliche ? 'Save' : 'Import' }}</button>
    </div>
  </mat-dialog-actions>

</form>
