<form
  id="configure-cliche"
  #configureClicheForm="ngForm"
  (ngSubmit)="save(configureClicheForm)"
>
  <h1 mat-dialog-title>
    {{ data.cliche ? 'Configure' : 'New' }} Cliché Instance
  </h1>

  <mat-dialog-content>
    <mat-form-field>
      <mat-select
        required
        name="cliche"
        #ngFormCliche="ngModel"
        placeholder="Cliché"
        [(ngModel)]="of"
        (selectionChange)="onSelectCliche($event)"
        [disabled]="data.cliche"
      >
        <mat-option
          *ngFor="let clicheDefinition of clicheDefinitions"
          [value]="clicheDefinition"
        >
          {{clicheDefinition.name}}
        </mat-option>
      </mat-select>
      <mat-hint>The type of this cliché instance</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        required
        name="name"
        #ngFormName="ngModel"
        placeholder="Alias"
        [(ngModel)]="name"
      >
      <mat-hint>The name to use to refer to this cliché instance</mat-hint>
    </mat-form-field>

    <div class="mat-form-field">
      <mat-accordion class="options-headers-align">
        <mat-expansion-panel hideToggle class="options-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>Options</mat-panel-title>
            <mat-panel-description>
              Set cliché instance options
              <mat-icon>build</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <ng-template propertyDynamicComponent>
          </ng-template>

          <mat-form-field [hidden]="!of || !!of.configWizardComponent">
            <textarea
              matInput
              name="config"
              #ngFormConfig="ngModel"
              placeholder="Config (JSON)"
              [(ngModel)]="configString"
              [errorStateMatcher]="jsonValidator"
            >
            </textarea>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions [ngClass]="data.cliche ? 'delete-save' : 'save-only'">
    <button
      mat-button
      *ngIf="data.cliche"
      color="warn"
      type="button"
      (click)="delete()"
    >Delete</button>
    <div class="save">
      <button
        mat-button
        type="button"
        (click)="cancel()"
      >Cancel</button>
      <button
        mat-button
        color="primary"
        type="submit"
        [disabled]="!validate(configureClicheForm)"
      >{{ data.cliche ? 'Save' : 'Create' }}</button>
    </div>
  </mat-dialog-actions>

</form>
