#configure-cliche {
  text-align: center;
}

h1 {
  font-size: 2rem;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
}

.delete-save {
  display: flex;
  justify-content: space-between;
}

.save-only {
  display: flex;
  justify-content: flex-end;
}

.save {
  justify-content: flex-end;
}

textarea {
  font-family: monospace;
  max-height: 320px; /* prevent scrolling on dialog */
}

mat-divider {
  $m: 32px;
  margin-top: $m;
  margin-bottom: $m;
}
