h1 {
  text-align: center;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
}

mat-dialog-actions {
  display: flex;
  justify-content: space-between;
}

textarea {
  font-family: monospace;
  max-height: 320px; /* prevent scrolling on dialog */
}

mat-divider {
  $m: 32px;
  margin-top: $m;
  margin-bottom: $m;
}
