/deep/ .property-update-objects-each-object {
  margin: 20px 0;
  height: 60px;
  width: 100px;
}

/deep/ .dv-show-entities-entity-item {
  margin: 20px 0;
  padding: 20px 0;
  height: 60px;
  width: 100px;
}

