<div
  id="main-view"
  [attr.data-isaction]="true"
  [attr.dvAlias]="actionInstance.fqtag"
>
  <div
    *ngIf="actionInstance"
    id="page"
    [attr.data-isaction]="!!actionInstance.of.transaction"
    [attr.dvAlias]="'dv-tx'"
  >
    <div
      *ngFor="let row of rows; let rowNum = index"
      class="dvd-row"
      dragula="action"
      [attr.data-index]="rowNum"
    >
      <div
        *ngFor="let action of row.actions; let actionNum = index"
        class="action"
        [attr.data-index]="actionNum"
      >
        <div
          *ngIf="action.of.inputs.length === 0"
          #instanceContainer
          class="instance-container"
        >
          <app-action-instance
            [actionInstance]="action"
            [actionIO]="scopeIO.getActionIO(action)"
          >
          </app-action-instance>
          <div *ngIf="action.showHint" class="hint">
            Hidden: {{action.fqtag}}
          </div>
        </div>
        <div
          *ngIf="action.of.inputs.length > 0"
          #instanceContainer
          #menuTrigger="matMenuTrigger"
          [matMenuTriggerFor]="menu"
          class="instance-container"
        >
          <app-action-instance
            [actionInstance]="action"
            [actionIO]="scopeIO.getActionIO(action)"
          >
          </app-action-instance>
          <div *ngIf="action.showHint" class="hint">
            Hidden: {{action.fqtag}}
          </div>
          <mat-menu #menu="matMenu" [overlapTrigger]="false" (closed)="onMenuClosed(action)">
            <div class="popup-menu" (click)="$event.stopPropagation()">
              <app-set-inputs
                [app]="app"
                [actionInstance]="action"
                [openAction]="actionInstance.of"
              >
              </app-set-inputs>
            </div>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</div>