#main-view {
  width: 100%;
  background: darkgray;
  padding: 16px;
}

#page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.row-container {
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.row-control {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  margin: 4px 0;
  padding-right: 8px;
  display: flex;
  align-items: center;
}

.dvd-row {
  flex: 1;
}

.row-container:last-child {
  flex: 1;
  border-bottom: none;

  .row-control {
    display: none;
  }
}

.action {
  border: 3px solid rgba(255,255,255,0);
  border-radius: 5px;
}

.action:hover {
  border-color:rgba(16, 219, 255, .5);
}

.popup-menu {
  height: 200px;
  padding: 0 16px;
  mat-form-field {
    width: 100%;
  }
  width: 268px;
}

// need clickable area for menu
.instance-container {
  min-height: 25px;
  min-width: 100px;
}

.hint {
  color: rgba(0,0,0,.25);
}

mat-tab {
  height: 100%;
}

mat-checkbox {
  display: block;
  margin: 8px;
}
