.col-md-6 {
  padding-left: 5px;
  padding-right: 5px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.bigger-text {
  font-size: 16px;
}

.event-card-row .panel {
  margin-top: 10px;
  margin-bottom: 0;
}

.col-md-6:nth-child(2n+1) {
  clear: both;
}

.edit-cancel-event-btn-container {
  float: right;
  display: inline-block;
  margin-top: -6px;
}

.edit-event-btn {
  margin-right: 10px;
}
