<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<dv-widget name="NavBar"></dv-widget>
<div class="container page-content">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Setlist</h1>

      <div>Want to add a song?</div>
      <a [dvLink]="on_redirect" class="btn btn-default">Add Song</a>

      <dv-widget name="ShowChecklist" of="SongList"></dv-widget>
    </div>
  </div>
</div>

<!-- HACK: remove once fields with default values are always included -->
<dv-widget name="SignInWithRedirect" of="StandardAuthentication" style="display:none">
</dv-widget>
