<!-- inputs="setlist" fields="user" -->
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<nav-bar (user)="user"></nav-bar>
<div class="container page-content">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Setlist</h1>

      <div>Want to add a song?</div>
      <dv:a next="create-song [setlist]='setlist'"
        class="btn btn-default">
        Add Song
      </dv:a>
      <checklist:show-checklist of="SongList"
        [showItem]="show-song"
        [showItemInputs]="{'song': !item, 'user': user}">
      </checklist:show-checklist>
    </div>
  </div>
</div>
