<tr>
  <th>Item Name</th>
  <td>
    <property-show-object
      dvOf="request" [id]="request.id" [showOnly]="['itemName']">
    </property-show-object>
  </td>
</tr>
<tr>
  <th>Quantity</th>
  <td>
    <property-show-object
      dvOf="request" [id]="request.id" [showOnly]="['quantity']">
    </property-show-object>
  </td>
</tr>
<tr>
  <th>Deadline</th>
  <td>{{request.dueDate}}</td>
</tr>
<tr>
  <th>Pickup Location</th>
  <td>
    <property-show-object
      dvOf="request"
      [id]="request.id"
      [showOnly]="['pickupLocation']">
    </property-show-object>
  </td>
</tr>

<div *ngIf="!request.completed">
  <tr>
    <th>Estimated Price</th>
    <td>
      <property-show-object
        dvOf="request"
        [id]="request.id"
        [showOnly]="['estimatedPrice']">
      </property-show-object>
    </td>
  </tr>
</div>

<div *ngIf="request.completed">
  <tr>
    <th>Pickup Time</th>
    <td><event-show-event [id]="request.id"></event-show-event></td>
  </tr>
</div>

<!-- Tip is usually only relevant when the request hasn't been claimed -->
<div *ngIf="!request.assignee">
  <tr>
    <th>Tip</th>
    <td>
      <market-show-good
        [id]="request.id + '-tip'"
        [showId]="false"
        [showSupply]="false"
        [showSeller]="false"
        [showMarket]="false">
      </market-show-good>
    </td>
  </tr>
</div>

<div *ngIf="showTransactionSummary && !request.assignee">
  <tr>
    <th>Transaction Summary</th>
    <td>
      <market-show-compound-transaction
        [compoundTransaction]="{ id: request.id }"
        [showId]="false"
        [showTransactionId]="false"
        [showTransactionStatus]="false"
        [showGoodDetails]="false"
        [showOptionToPay]="false"
        [showOptionToCancel]="false"
        [showTransaction]="{
          type: showRequestTransaction,
          inputMap: {id: 'id'}
        }">
      </market-show-compound-transaction>
    </td>
  </tr>
</div>

<div *ngIf="myRequest">
  <tr>
    <th>Shopper</th>
    <td>
      <div *ngIf="request.assignee">
        <groceryship-show-party-summary [id]="request.assignee.id">
        </groceryship-show-party-summary>
      </div>
      <div *ngIf="!request.assignee">
        <i>unclaimed</i>
      </div>
    </td>
  </tr>
</div>

<div *ngIf="!myRequest">
  <tr>
    <th>Requester</th>
    <td>
      <!-- only show contact info when user has claimed this request -->
      <groceryship-show-party-summary
        [id]="request.assigner.id"
        [showContactInfo]="request.assignee">
      </groceryship-show-party-summary>
    </td>
  </tr>
</div>
