@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

.main {
  margin-top: 56px; /* height of navbar */
  padding: 15px 40px;
  background-color: #f6f6ef; /* hacker news bg color */
  min-height: 100vh;
}

.inline-block {
  display: inline-block;
}

.subtext {
  color: grey;
  font-size: 9pt; /* hacker news subtext font size */
}

.black-link a,
.black-link a:hover {
  color: black;
}

.mat-icon-button .mat-button-wrapper > * {
  vertical-align: inherit !important;
}

.write-comment-container textarea {
  width: 300px !important;
  height: 4rem;
}

.write-comment-container .mat-form-field, .mat-form-field-wrapper {
  display: block;
  width: 300px;
}

.authentication-show-user-username {
  display: inline;
}

.create-comment-success {
  width: 200px;
}

.dvlink, .dvlink:hover {
  color: gray;
}

h1 {
  font-size: 1.5rem;
}
