// overwrite values should be written here

$textColor: blue;
$navbarBackgroundColor: pink;

@mixin dv-button {
  background: #1FB8CC;
  color: $textColor;
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  outline: none;
}

@import "~@deja-vu/themes/scss/orange-and-black.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";

// user input
// might be grouped with other username displays
.authentication-show-user-username {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.score {
  margin-right: 2px;
}

.subtext {
  color: grey;
  font-size: 9pt; /* hacker news subtext font size */
  display: inline-flex;
}

.sep {
  border-left: 1px solid gray;
  width: 1px;
  height: 12px;
  margin-top: 3px;
  margin-left: 4px;
  margin-right: 4px;
}

.black-sep {
  border-left: 1px solid black;
  width: 1px;
  height: 15px;
  margin-left: 4px;
  margin-right: 4px;
}

.write-comment-container {
  margin: 20px;
  margin-top: 0px;
  margin-left: 45px;
}

.write-comment-container textarea {
  width: 300px !important;
  height: 4rem;
}

h1 {
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.space-filler {
  flex: 1 1 auto;
}

.navbar-brand {
  font-weight: bold;
}
