// overwrite values should be written here

@import "~@deja-vu/themes/scss/sn.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";

// user input
// might be grouped with other username displays
.authentication-show-user-username {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.score {
  margin-right: 2px;
}

.subtext {
  color: grey;
  font-size: 9pt; /* hacker news subtext font size */
  display: inline-flex;
}

.sep {
  border-left: 1px solid gray;
  width: 1px;
  height: 12px;
  margin-top: 3px;
  margin-left: 4px;
  margin-right: 4px;
}

.black-sep {
  border-left: 1px solid black;
  width: 1px;
  height: 15px;
  margin-left: 4px;
  margin-right: 4px;
}

.write-comment-container {
  margin: 20px;
  margin-top: 0px;
  margin-left: 45px;
}

.write-comment-container textarea {
  width: 300px !important;
  height: 4rem;
}

h1 {
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.space-filler {
  flex: 1 1 auto;
}

.navbar-brand {
  font-weight: bold;
}




