.head {
  padding-bottom: 0.3em;
}

.background {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  min-height: 10em;
}

.choice {
  margin: .3em;
}

@media screen and (min-width: 495px) {
  .head {
    margin-top: -1.5em;
  }
}

@media screen and (max-width: 495px) {
  .head {
    margin-top: -2.5em;
  }
}
