<dv.action name="ranking-info-card" listVotes=$listVotes>
  <list.show-object id=$list?.id hidden=true />
  <ranking.show-ranking id=$list?.id sourceId=$loggedInUser?.id hidden=true />

  <div class="card-container">
    <span>This is the consensus ranking for <list.show-object
        class="inline-block"
        object=list.show-object.loadedObject
        showOnly=['name'] /> according to
      <dv.show-entity entity=$listVotes />
        vote(s).
      <dv.if condition=list.show-object.loadedObject?.locked>
       Voting has finished for this list.
      </dv.if>
      <dv.if condition=ranking.show-ranking.loadedRanking>
        <dv.tx>
          <dv.button>View Your Ranking</dv.button>
          <dv.link href="/ranking"
            params={ id: ranking.show-ranking.loadedRanking.id } />
        </dv.tx>
      </dv.if>
      <dv.if condition=!ranking.show-ranking.loadedRanking &&
        !list.show-object.loadedObject?.locked>
        <dv.tx>
          <dv.button>Submit a Ranking</dv.button>
          <dv.link
            href="/lists/rankings/edit"
            params={ id: $list.id } />
        </dv.tx>
      </dv.if>
    </span>
  </div>
</dv.action>
