<authentication-logged-in (user)="user=$event; user=$event; outputAsLoggedInUser($event)"
  [dvOf]="for + 'authentication'">
</authentication-logged-in>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ChoreStar</a>
    </div>
    <ul class="navbar-nav">
      <li class="username">
        <authentication-show-user [user]="user"
          [dvOf]="for + 'authentication'">
        </authentication-show-user>
      </li>
      <li>
        <dv-tx>
          <authentication-sign-out [dvOf]="for + 'authentication'">
          </authentication-sign-out>
          <dv-link href="/" [hidden]="true"></dv-link>
        </dv-tx>
      </li>
    </ul>
  </div>
</nav>
