/*
 Colors:
 - body light gray: #F0F1F2
 - light header:    #EBEBEB
 - body selected :  #E0E0E0
 - dark gray:       #D5D5D5
 */

/*===================================================
                   MENUBAR
===================================================*/
.menubar {
    width: 100%;
    display: block;
    height: 70px;
    background-color: #F0F1F2;
    /*overflow-x: visible;*/
    /*overflow-y: visible;*/
    z-index: 600;
}

.menu-item {
    float: left;
    margin: 15px 5px 15px 5px;
}

.menu-item.logo {
    width: 200px;
    color: #555555;
    font-weight: bold;
    font-size: 23px;
    font-family: "Adobe Garamond";
}

/*===================================================
                  COMPONENTS
===================================================*/
.components {
    float: left;
    border: #d5d5d5 1px solid;
    height: 100vh;
    width: 200px;

}

.header {
    border-top: solid 5px #D5D5D5;
    text-align: center;
    line-height: 250%;
    background-color: #EBEBEB;
}

.content {
    overflow: scroll;
    text-align: left;
}

.basic_components .content {
    height: 300px;
}

.cliche_components .content {
    height: 200px;
}

.content li {
    margin: 10px 10px 0px 0px;
    padding: 5px;
}
.content ul {
    padding-left: 15px;
    padding-right: 5px;
}
.content li:hover {
    background-color: #E0E0E0;
}

.content img {
    width: 15px;
    height: 15px;
    margin: 0px 15px 0px 5px;
}
