<div class="wrapper clearfix">
    <div class="col-1-3">
      <h1 class="inline">EVENTS</h1>
      <div style="text-align:right;">
        <dv-link class="btn button" type="button" href="/create-event">
          Create an Event
        </dv-link>
      </div>

      <!-- TODO: Dropdown or something to show only one set of results -->
      <h4 style="text-align:center;">All Events</h4>
      <event-show-events
        [showEvent]="{
          type: showEventSummary, tag: 'rendezvous-show-event-summary',
          inputMap: { event: 'event' }
        }">
      </event-show-events>

      <h4 style="text-align:center;">Events You're Hosting</h4>
      <rendezvous-show-events-by-host id="evnts-by-hst" [user]="user">
      </rendezvous-show-events-by-host>

      <h4 style="text-align:center;">Events You're Attending</h4>
      <rendezvous-show-events-by-attendee id="evnts-by-attnd" [user]="user">
      </rendezvous-show-events-by-attendee>
    </div>

    <div class="col-2-3">
      <!-- TODO: Map isn't working for some reason -->
      <!-- <geolocation-display-map displayMapId="mainMapId">
      </geolocation-display-map> -->

      <rendezvous-nav-bar
        [showTitle]="false"
        [redirectParams]="{ callback: '/main' }"
        (loggedInUser)="user=$event">
      </rendezvous-nav-bar>
    </div>
  </div>
