<div id="choose-user-form">
    <img src="./components/landing/banner.png" class="background" />
    <div class="container text-center">
        <h1 class="header">Welcome to Live Scorecard</h1>
        <h3>I am a &hellip;</h3>

        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 text-center">
                <a routerLink="/host" id="host-button" type="button" class="btn btn-default">
                    Host
                </a>
                <a routerLink="/climber" id="climber-button" type="button" class="btn btn-default">
                    Climber
                </a>
                <a routerLink="/spectator" id="specatator-button" type="button" class="btn btn-default">
                    Spectator
                </a>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</div>