<nav-bar (user)="user"></nav-bar>
<div class="container page-content">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>My Groups</h1>
      <dv:a [click]="dv:navigate"
        [clickInputs]="{'to': 'create-band'}"
        class="btn btn-default">
        Create Band
      </dv:a>
      <div>
        <group:show-groups-by-member
          [member]="user"
          [showNameOfGroup]="link-to-band"
          [showNameOfGroupInputs]="{'band': !group}">
        </group:show-groups-by-member>
      </div>
    </div>
  </div>
</div>
