@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~leaflet/dist/leaflet.css";
@import "~leaflet-routing-machine/dist/leaflet-routing-machine.css";
@import "~leaflet-control-geocoder/dist/Control.Geocoder.css";
md-icon {
  font-family: 'Material Icons' !important;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #f5f8fa;
}

.navbar-item a {
  color: white;
}

.logo-img {
  width: 80%;
  margin-bottom: 10px;
}

.login-signup-container {
  text-align: center;
}

.blue-background {
  width: 100%;
  height: 100%;
  padding-top: 15%;
  padding-bottom: 25%;
  background-color: #75C7CE;
}

.login-register-panel {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f5f8fa;
}

.switch-login-register {
  color: #808080;
}

h2 {
  margin-top: 0;
}

.card>.card-heading {
  background-color: #f5f8fa;
}

.events-panel {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
}

authentication-register-user button.mat-button,
authentication-register-user button.mat-button:hover,
authentication-sign-in button.mat-button,
authentication-sign-in button.mat-button:hover {
  width: 80%;
  margin-bottom: 5px;
  margin-top: 10px;
}

authentication-register-user .mat-input-container,
authentication-sign-in .mat-input-container {
  width: 80%;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.inline-block {
  display: inline-block;
}

authorization-show-resources li {
  margin-left: auto;
  margin-right: auto;
  background: none;
  padding: 0% 0%
}

.authorization-show-resources-resource-item {
  border: none;
}

.list-group-item {
  width: 100%;
}

.cancel-event-btn .mat-button {
  background-color: #ff392e;
}

.cancel-btn .mat-button {
  margin-right: 10px;
  color: #1fb8cc !important;
  background-color: transparent !important;
}

.mat-button {
  background-color: #1fb8cc;
  color: white !important;
}

.mat-button:disabled {
  background-color: lightgrey !important;
}
