<div class="row show-climber">
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-xs-1"></div>
                <div class="col-xs-3">{{climber.name}}</div>
                <div class="col-xs-2">coming soon</div>
                <div class="col-xs-1 right">coming soon</div>
                <div class="col-xs-1">*****</div>
                <div class="col-xs-2">coming soon</div>
                <div class="col-xs-2">
                        <img src="./components/show-climber/edit.png" class="edit">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-xs-12 center"></div>
</div>