<div class="row">
  <div class="col-md-6">
    <event-show-event [event]="groupMeeting"></event-show-event>
  </div>
  <div class="col-md-4">
    <allocator-edit-consumer
      [resourceId]="groupMeeting.id"
      [allocationId]="groupMeeting.weeklyEventId">
    </allocator-edit-consumer>
  </div>
  <div class="col-md-2">
    <dv-tx>
      <event-delete-event [id]="groupMeeting.id"></event-delete-event>
      <allocator-delete-resource [id]="groupMeeting.id" [hidden]="true">
      </allocator-delete-resource>
    </dv-tx>
  </div>
</div>
