<div class="wrapper clearfix">
  <div class="col-1-3">
    <h1 class="inline">EVENTS</h1>
    <p>Coming Soon: Create an event.</p>
    <p>Coming Soon: Filter by all events, events I'm hosting,
      or events I'm attending.</p>
    <h4 style="text-align:center;">All Events</h4>
    <p>Coming soon: list of events.</p>
  </div>
  <div class="col-2-3">
    <!-- TODO: Recenter Button
    <div id="recenter" style="margin-top:0px;font-family:'Raleway',sans-serif;">
      <div class="inline" style="float:left;">
        <button class="btn button btn-info" id="userMenu" type="button">
          <span>Recenter (Dummy Button)</span>
        </button>
      </div>
    </div>
    -->
    <!-- TODO: Profile / Logout Dropdown
    <div id="welcome">
      <div class="inline" style="float:right;">
        <button class="btn button btn-info popper" data-toggle="popover"
          id="userMenu" style="margin-right:30px;text-align:center;"
          type="button">
          <span class="glyphicon glyphicon-user"></span>
        </button>
        <div class="popper-content hide" style="text-align:center;">
          <a routerLink="/profile" class="btn button">My Profile</a>
          <dv-widget name="SignOutWithRedirect" of="Auth"></dv-widget>
        </div>
      </div>
    </div>
    <dv-widget name="LoggedIn" of="Auth"></dv-widget>
    <div id="userEmail" style="display:none">
      {{user.username}}
    </div>
    -->
    <div id="map_all_events" style="height:100%;">
      <dv-widget name="DisplayMap" of="Map"></dv-widget>
    </div>
  </div>
</div>
