<form (ngSubmit)="onSubmit()" #changePasswordForm="ngForm" class="form-horizontal">
  <fieldset class="form-group" [ngClass]="{'has-error': old_password_error}">
    <label class="sr-only" for="old-password">Old Password</label>
    <input type="password" required class="form-control" name="old-password" 
    [(ngModel)]="user.password" ngControl="old-password" placeholder="Old Password"/>
    <div id="old-password-status" class="alert alert-danger" [hidden]="!old_password_error">
      Old password is incorrect
    </div>
  </fieldset>
  <fieldset class="form-group">
    <label class="sr-only" for="new-password">New Password</label>
    <input type="password" required class="form-control" name="new-password" 
    [(ngModel)]="new_password" ngControl="new-password" placeholder="New Password"/>
  </fieldset>
  <fieldset class="form-group" [ngClass]="{'has-error': confirm_new_password_error}">
    <label class="sr-only" for="confirm-new-password">Confirm New Password</label>
    <input type="password" required class="form-control" name="confirm-new-password"
     [(ngModel)]="confirm_new_password" ngControl="confirm-new-password" 
     placeholder="Confirm New Password"/>
     <div id="confirm-new-password-status" class="alert alert-danger"
     [hidden]="!confirm_new_password_error">
      Passwords don't match
    </div>
  </fieldset>
  <button type="submit" class="btn btn-default btn-sm pull-right"
   [disabled]="!changePasswordForm.form.valid">Confirm Password Change</button>
  <div id="change-password-status" class="alert alert-success"
     [hidden]="!submit_ok.value">
      New password saved!
  </div>
</form>
