<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css" integrity="sha384-ObE+ehRshGuMJ3N47RvNz2kEAWkHvWdZvPtU8pn/MoY9AXPhwksQiaVjB17fWwqn" crossorigin="anonymous">
<link rel="stylesheet" href="./components/nav-bar/nav-bar.css">

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
        <a [routerLink]="['/']" class="navbar-brand"><img class="navbar-logo" src="./components/nav-bar/icon.png"/>GroceryShip</a>
    </div>
  </div>
</div>
