<div *ngIf="id" class="row">
  <div class="col-md-4">
    <property-show-object
      dvOf="supply"
      [id]="id"
      [showOnly]="['item']">
    </property-show-object>
  </div>
  <div class="col-md-4">
    <transfer-show-transfer
      [id]="id"
      [showId]="false"
      [showToId]="false">
    </transfer-show-transfer>
  </div>
  <div class="col-md-4">
    <property-show-object
      dvOf="supply"
      [id]="id"
      [showOnly]="['item']">
    </property-show-object>
  </div>
</div>

<div *ngIf="supply" class="row">
  <div class="col-md-4">
    <div *ngIf="!useIdForObject">
      <property-show-object
        dvOf="supply" [object]="supply"
        [showOnly]="['item']">
      </property-show-object>
    </div>
    <div *ngIf="useIdForObject">
      <property-show-object
        dvOf="supply" [id]="supply.id"
        [showOnly]="['item']">
      </property-show-object>
    </div>
  </div>
  <div class="col-md-4">
    <transfer-show-item-count [itemCount]="supply" [showItemId]="false">
    </transfer-show-item-count>
  </div>
  <div class="col-md-4">
    <div *ngIf="!useIdForObject">
      <property-show-object
        dvOf="supply" [object]="supply"
        [showOnly]="['unit']">
      </property-show-object>
    </div>
    <div *ngIf="useIdForObject">
      <property-show-object
        dvOf="supply" [id]="supply.id"
        [showOnly]="['unit']">
      </property-show-object>
    </div>
  </div>
</div>
