<div *ngIf="id">
  <div class="col-md-8">
    <property-show-object dvOf="supply" [id]="id">
    </property-show-object>
  </div>
  <div class="col-md-4">
    <market-show-good
      [id]="id"
      [showId]="false"
      [showPrice]="false"
      [showSeller]="false"
      [showMarket]="false">
    </market-show-good>
  </div>
</div>

<div *ngIf="supply">
  <div class="col-md-8">
    <div *ngIf="!useIdForObject">
      <property-show-object dvOf="supply" [object]="supply">
      </property-show-object>
    </div>
    <div *ngIf="useIdForObject">
      <property-show-object dvOf="supply" [id]="supply.id">
      </property-show-object>
    </div>
  </div>
  <div class="col-md-4">
    <market-show-good
      [good]="supply"
      [showId]="false"
      [showPrice]="false"
      [showSeller]="false"
      [showMarket]="false">
    </market-show-good>
  </div>
</div>
