<!-- needed to get the buyer since ShowAllGoods doesn't take one -->
<div style="display:none">
	<dv-widget name="LoggedIn" of="Auth"></dv-widget>
</div>


<div class="col-xs-4">
  {{good.name}}
</div>
<div class="col-xs-3">
  {{good.amount_available}}
</div>
<div class="col-xs-5" *ngIf="good.buyer">
	{{good.buyer.atom_id}}
</div>
<div class="col-xs-5" *ngIf="!good.buyer">
  <dv-widget name="BuyGoodButton" of="Market"></dv-widget>
	<dv-widget name="BuyGoodQuantity" of="Market"></dv-widget>
</div>
