<!-- Necessary since ShowSupplyRequest replaces ShowGood -->
<dv-widget name="LoggedIn" of="Auth"></dv-widget>

<div class="col-xs-4" *ngIf="supply_request.name">
  {{supply_request.name}}
</div>
<!--
<div class="col-xs-2" *ngIf="supply_request.quantity">
  {{supply_request.quantity}}
</div>
-->
<div class="col-xs-2" *ngIf="supply_request.supply">
  {{supply_request.supply}}
</div>
<!-- <div class="col-xs-6" *ngIf="supply_request.quantity"> -->
<div class="col-xs-6" *ngIf="supply_request.supply">
  <div class="row">
    <div class="col-xs-7" style="padding-right: 0">
      <dv-widget name="BuyGoodQuantity" of="Market"></dv-widget>
    </div>
    <div class="col-xs-5">
      <dv-widget name="BuyGoodButton" of="Market"></dv-widget>
    </div>
  </div>
</div>
