<!-- selector="show-supply-request" inputs="supplyRequest, user" fields="supply, quantity" -->
<div class="col-xs-4">
  <market:show-name-of-good [good]="supplyRequest"></market:show-name-of-good>
</div>
<div class="col-xs-2">
  <market:show-supply-of-good [good]="supplyRequest" (supply)="supply"></market:show-supply-of-good>
</div>
<div class="col-xs-6" *ngIf="supply > 0">
  <div class="row">
    <div class="col-xs-7" style="padding-right: 0">
      <market:create-buy-quantity [good]="supplyRequest">
      </market:create-buy-quantity>
    </div>
    <div class="col-xs-5">
      <market:buy-good-button [good]="supplyRequest" [quantity]="quantity">
      </market:buy-good-button>
    </div>
  </div>
</div>
