<dv.component name="list-card">
  <dv.tx>
    <authentication.authenticate
      user=$loggedInUser waitOn=['user'] hidden=true />
    <scoring.show-target
      id=$id target=$target
      showId=false
      showScores=false
      hidden=true />
  </dv.tx>

  <div>
    <listify.list-summary
      id=$id object=$object
      loggedInUser=$loggedInUser
      showVote=$showVote
      showOptionToClose=true
      showMarkers=true />
    <dv.link href=$gotoOnClick params={ id: $id }>View</dv.link>
  </div>
</dv.component>
