<dv.action name="list-card">
  <scoring.show-target
    id=$id
    showId=false
    showScores=false
    hidden=true />

  <div>
    <dv.if condition=$listScoring>
      <listify.list-summary
        listScoring=$listScoring
        loggedInUser=$loggedInUser
        showVote=$showVote
        showMarkers=true />
    </dv.if>
    <dv.if condition=!$listScoring && scoring.show-target.loadedTarget>
      <listify.list-summary
        listScoring=scoring.show-target.loadedTarget
        loggedInUser=$loggedInUser
        showVote=$showVote
        showMarkers=true />
    </dv.if>

    <dv.link href=$gotoOnClick params={ id: $id }>View</dv.link>
  </div>
</dv.action>
