<div id="map-container">
  <button id="map-minimize-btn" 
          class="btn btn-default btn-xs"
          [ngClass]="{'minimized': minimized}"
          [style.height]="dimensions.height+'px'"
          [style.width]="dimensions.width+'px'">
    <ng-container *ngIf="minimized"; else minimizer>
      Map
    </ng-container>
    <ng-template #minimizer>
      _
    </ng-template>
  </button>
  <div id="map" 
      [hidden]="minimized"
      [scrollTop]="scrollTop"
      [scrollLeft]="scrollLeft"
      (click)="mapClick($event)">
      <div id="map-full-area"
            [style.height]="screenDimensions.height*mapScale+'px'"
            [style.width]="screenDimensions.width*mapScale+'px'"></div>
      <div id="zoom-selected-screen-size"></div>
      <div id="map-component-sizes"
          [style.zoom]="zoom"
          [style.height]="widget.getDimensions().height * this.mapScale + 'px'"
          [style.width]="widget.getDimensions().width * this.mapScale + 'px'">
        <div *ngFor="let size of mapWidgetSizes"
        class="map-inner-component-size">

        </div>
      </div>
      <!-- Map position is the little thing you drag to move your map -->
      <div id="map-position"
          [style.top]="top+'px'"
          [style.left]="left+'px'"
          [style.height]="(containerDimensions.height * mapScale)+'px'"
          [style.width]="(containerDimensions.width * mapScale)+'px'"></div>
  </div>
</div>
