<div id="map-container"
    [style.height]="dimensions.height+'px'"
    [style.width]="dimensions.width+'px'">
  <button id="map-minimize-btn" 
          class="btn btn-default"
          [ngClass]="{'minimized': minimized}"
          (click)="minimizeButtonClick()">
    <ng-container *ngIf="minimized; else minimizer">
      Map
    </ng-container>
    <ng-template #minimizer>
      <span class="glyphicon glyphicon-minus"></span>
    </ng-template>
  </button>
  <div id="map" 
      [hidden]="minimized"
      [scrollTop]="scrollPosition.top"
      [scrollLeft]="scrollPosition.left"
      (click)="mapClick($event)">
      <div id="map-full-area"
      [style.height]="_screenDimensions.height*mapScale+'px'"
      [style.width]="_screenDimensions.width*mapScale+'px'"></div>
      <div id="zoom-selected-screen-size"
      [style.height]="_screenDimensions.height*mapScale+'px'"
      [style.width]="_screenDimensions.width*mapScale+'px'"></div>
      <div *ngIf="_selectedWidget"
          id="map-component-sizes"
          [style.zoom]="zoom"
          [style.height]=
          "(_selectedWidget.getDimensions().height * this.mapScale) + 'px'"
          [style.width]=
          "(_selectedWidget.getDimensions().width * this.mapScale) + 'px'">
        <div *ngFor="let size of mapWidgetSizes"
              class="map-inner-component-size"
              [style.height]= "(size.height * this.mapScale) + 'px'"
              [style.width]= "(size.width * this.mapScale) + 'px'"
              [style.top]= "(size.top * this.mapScale) + 'px'"
              [style.left]= "(size.left * this.mapScale) + 'px'"></div>
      </div>
      <!-- Map position is the little thing you drag to move your map -->
      <div id="map-position"
          [style.top]="mapPosition.top+'px'"
          [style.left]="mapPosition.left+'px'"
          [style.height]="(outerContainerDimensions.height * mapScale)+'px'"
          [style.width]="(outerContainerDimensions.width * mapScale)+'px'"></div>
  </div>
</div>
