.eventName {
  font-size: 24px;
  padding-left: 10px;
}

.event-info-table {
  background-color: #FFEFEE;
  border: 1px solid #CC9088;
  margin-bottom: 20px;
}


#jn-lv-grp {
  float: left;
  margin-top: 30px;
  margin-left: 0px;
}

#jn-lv-grp button {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  border: none;
  background: #ffd0cc;
}

#add-comment {
  border-color: #CC9088;
  background-color: #F0F0F0;
  padding: 15px;
}

.show-comment {
  background-color: #FFEFEE;
  padding: 15px;
}

#comment-table {
  text-align: left;
  border: 1px solid #CC9088;
  margin-top: 0px;
}

#comment-table li {
  width: 100%;
  padding: 0;
}

#comment-table ul {
  padding: 0;
  margin: 0;
}

#comment-table tr {
  display: block;
}

#add-comment-row {
  display: table-row !important;
}

#comment-table td {
  display: block;
}

#attendeesDiv li {
  display: inline-block;
  padding: 0;
  margin-right: 10px;
}

#attendeesDiv show-member {
  color: black;
  margin-left: 5px;
  background-color: white;
  border: 1px solid #B3594D;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
}

#attendeesDiv ul {
  margin: 0;
}

/* makes labels show as a plain comma-separated list */
#rlvnt-intrsts ul {
  padding: 0 !important;
  margin: 0;
}
#rlvnt-intrsts li {
  background: none;
  color: black;
  font-size: 12;
  top: 0;
  margin-left: 1px;
  margin-right: 2px;
  padding: 0;
}
#rlvnt-intrsts li:after {
  content: ",";
  margin-left: -3px;
}
#rlvnt-intrsts li:last-child:after {
  content: "";
}
