<div class="input-action">
  <mat-form-field *ngIf="data?.app"> 
    <mat-select
      name="action"
      placeholder="Replace With Action"
      [(ngModel)]="actionDefinition"
      (selectionChange)="onSelectAction(actionCollection)"
    >
      <mat-option [value]="undefined">-- Default --</mat-option>
      <mat-optgroup
        *ngFor="let actionCollection of data.app.actionCollections"
        [label]="actionCollection.name"
      >
        <mat-option
          *ngFor="let action of actionCollection.actions"
          [value]="action"
        >
          {{action.name}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  <div *ngIf="actionInstance" class="set-inputs-container">
    <app-set-inputs
      *ngIf="actionInstance"
      [app]="data.app"
      [actionInstance]="actionInstance"
    ></app-set-inputs>
  </div>
</div>
