<div style="width:100%;text-align:center">
  <mat-form-field>
    <mat-select
      name="action"
      placeholder="Replace With Action"
      [(ngModel)]="actionDefinition"
      (selectionChange)="onSelectAction(actionCollection)"
    >
      <mat-option [value]="undefined">-- Default --</mat-option>
      <mat-optgroup
        *ngFor="let actionCollection of data.app.actionCollections"
        [label]="actionCollection.name"
      >
        <mat-option
          *ngFor="let action of actionCollection.actions"
          [value]="action"
        >
          {{action.name}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="actionInstance" class="inputs">
  <mat-form-field *ngFor="let input of actionDefinition.inputs">
    <input
      matInput
      [placeholder]="input"
      [name]="input"
      [(ngModel)]="actionInstance.inputSettings[input]">
  </mat-form-field>
</div>