<potluck-nav-bar (loggedInUser)="user=$event"></potluck-nav-bar>

<div class="container" id="homepage-container">
  <div class="row">
    <div class="col-md-3" id="box">
    <h1>Your Parties</h1>
    <dv-link href="/create-party" class="btn btn-primary">
      <i class="material-icons">add</i>
      Create a New Party
    </dv-link>
    </div>

    <div class="col-md-9">
      <dv-tx>
        <authorization-show-resources
          [viewableBy]="user?.id"
          [showResource]="{
            type: showParty,
            inputMap: {id: 'partyId'},
            inputs: {loggedInUserId: user?.id}
          }"
          noResourcesText="No parties to show">
        </authorization-show-resources>
        <authentication-authenticate [id]="user?.id" [hidden]="true">
        </authentication-authenticate>
      </dv-tx>
    </div>
  </div>
</div>
