<mapmit-nav-bar (loggedInUser)="user=$event"></mapmit-nav-bar>

<div id="homepage-container">
  <div id="homepage-left">
    <!--TODO-->
    <h2>Coming Soon: Search for events!</h2>
  </div>
  <div id="homepage-right">
    <div class="panel panel-default">
      <div class="panel-body">
        <div id="map-container">
          <geolocation-display-map id="homeMapId"></geolocation-display-map>
        </div>

        <!-- Show All Events -->
        <mapmit-show-events-info></mapmit-show-events-info>
      </div>
    </div>
  </div>
</div>
