<div class="panel panel-default">
  <div class="panel-heading">
    <!-- Event Title -->
    <!-- TODO: remove link once visible in marker popup -->
    <property-show-object
      dvAlias="show-event-title" dvOf="eventDetails"
      [id]="eventId" [showOnly]="['title']">
    </property-show-object>
    <dv-link href="/event-details" [params]="{ id: eventId }">
      Go to event details
    </dv-link>
    <!-- <dv-link href="/event-details" [params]="{ id: eventId }">
      <property-show-object
        dvAlias="show-event-title" dvOf="eventDetails"
        [id]="eventId" [showOnly]="['title']">
      </property-show-object>
    </dv-link> -->
  </div>

  <div class="panel-body">
    <!-- Number of attendees -->
    <button class="displayButtons btn btn-info" style="width:100%">
      Attendees
      <span class="badge" style="color: black; margin-left: 5px;">
        <group-show-members
          [inGroupId]="eventId" [showMembersList]="false">
        </group-show-members>
      </span>
    </button>

    <table class="event_info event_display table"
      style="margin-top: 10px; margin-bottom: 0px;">

      <!-- Location -->
      <tr>
        <th>Location</th>
        <td>
          <geolocation-show-marker
            [id]="eventId"
            [showId]="false"
            [showMapId]="false">
          </geolocation-show-marker>
        </td>
      </tr>

      <!-- Date + Time -->
      <tr>
        <th>Date + Time</th>
        <td>
          <event-show-event [id]="eventId"></event-show-event>
        </td>
      </tr>
    </table>
  </div>
</div>
