@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

.main {
    margin-top: 56px; /* height of navbar */ 
    padding: 40px;
    background-color: #f6f6ef; /* hacker news bg color */
    min-height: 100vh;
}
