<div (window:resize)="handleWindowResize()"></div>
<div class="work-surface widget-work-surface"
    [style.height.px] ="selectedScreenDimensions.height"
    [style.width.px]="selectedScreenDimensions.width"
    [style.zoom]="zoom | async">
  <ng-container *ngIf="selectedWidget$ | async">
    <dv-widget 
      *ngFor="let widget of activeWidgets"
      [ngClass]="{'hidden': widget.getId() !== this.selectedWidgetId}"
      [activated]="widget.getId() === this.selectedWidgetId"
      [widget]="widget"
      [isSelected]="true"
      [isMovable]="true">
    </dv-widget>  
  </ng-container>
</div>