.tiles {
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.tiles li {
  list-style: none;
  background: white;
  border: 1px solid black;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tiles li p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tiles li > :nth-child(1) {
  font-weight: bold;
}

.tiles li > :nth-child(2) {
  font-style: italic;
  height: 75px;
}

.tiles .btn {
  display: inline-block;
  height: 30px;
  color: #555;
  text-align: center;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 300;
  width: 70px;
}

.tiles .btn:hover {
  color: #333;
  border-color: #888;
  outline: 0;
  outline-color: currentcolor;
  outline-style: none;
  outline-width: 0px;
}
