<div class="panel panel-default resultPanel" [dvLink]="to_spot_details">
  <div class="panel-heading">
    <h4>
      <dv-widget name="ShowNameOfPublisher" of="Follow"></dv-widget>
    </h4>
  </div>
  <div class="panel-body">
    <dv-widget name="ShowLabels" of="Label"></dv-widget>
    <dv-widget name="ShowAverageRating" of="Rating"></dv-widget>
  </div>
</div>

<!-- HACK: Remove once default fields are populated always -->
<dv-widget name="SignOutWithRedirect" of="StandardAuthentication" style="display:none!important">
</dv-widget>
