.floating-menu {
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  border-bottom: 1px solid black;
  background: rgb(245, 245, 245);
  .handle {
    flex: 1;
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90%;
  }
}

.content {
  flex: 1;
  overflow-y: auto;
}
