<!-- Request claimed by current user, and has already set a delivery time 
  (i.e. completed but not approved). The user rates the requester here once 
  he/she has delivered the request. -->
<div class="col-xs-12 col-ms-6 col-sm-4 col-md-4 col-lg-3">
  <div class="tile notification-tile" (click)="openRequestDetailsDialog();">
    <div class="tile-icon" style="float: left">
      <img src="/assets/cart.png">
    </div>

    <h4 class="tile-title">
      <property-show-object
        dvOf="request" [id]="request?.id" [showOnly]="['itemName']">
      </property-show-object>
    </h4>
    <p class="tile-subtitle">
      Requester:
      <authentication-show-user [id]="request.assigner.id">
      </authentication-show-user>
    </p>

    <p class="tile-content">Deliver on:
      <event-show-event [id]="request.id"></event-show-event>
    </p>

    <button
      class="close-notification-items btn btn-success btn-xs"
      (click)="openCloseDeliveryDialog($event);">
      Close Delivery
    </button>
  </div>
</div>
