<dv.component name="view-list-rankings">
  <listify.navbar />

  <dv.tx>
    <authentication.logged-in />
    <dv.redirect
      href="/login"
      params={ callback: '/home/trending' }
      onEvalFailure=true />
  </dv.tx>

  <dv.tx>
    <authentication.authenticate as auth-show-target
      user=listify.navbar.loggedInUser waitOn=['user'] hidden=true />
    <scoring.show-target id=$id hidden=true />
  </dv.tx>
  <dv.tx>
    <authentication.authenticate as auth-show-members
      user=listify.navbar.loggedInUser waitOn=['user'] hidden=true />
    <group.show-members inGroupId=$id hidden=true />
  </dv.tx>
  <dv.tx>
    <authentication.authenticate as auth-show-rankings
      user=listify.navbar.loggedInUser waitOn=['user'] hidden=true />
    <ranking.show-rankings id=$id hidden=true />
  </dv.tx>

  <dv.if class="main"
    condition=scoring.show-target.loadedTarget &&
      group.show-members.loadedMemberIds>
    <div class="container">
      <listify.ranking-info-card class="right-container"
        list=scoring.show-target.loadedTarget
        listVotes=ranking.show-rankings.loadedRankings?.length
        loggedInUser=listify.navbar.loggedInUser />

      <listify.list-summary
        id=$id
        loggedInUser=listify.navbar.loggedInUser
        showMarkers=true />

      <dv.tx>
        <authentication.authenticate as auth-show-fractional-ranking
          user=listify.navbar.loggedInUser waitOn=['user'] hidden=true />
        <ranking.show-fractional-ranking
          noTargetsText="No rankings submitted yet."
          targetIds=group.show-members.loadedMemberIds
          showTarget=<listify.list-option
            listOption=$target
            loggedInUser=listify.navbar.loggedInUser /> />
      </dv.tx>
    </div>
  </dv.if>
</dv.component>
