dv-map {
  position: fixed;
  left: 300px;
  bottom: 20px;
  pointer-events: none;
  z-index: 1000;
  height: 120px;
  width: 180px;
}

dv-zoom {
  position: fixed;
  bottom: 20px;
  right: 15px;
  height: 60px;
  display: flex;
}

.edit {
  width: 100%;
  display: flex;
} 

.project-options-container{
  background: paleturquoise;
  width: 250px;
}

dv-worksurface {
  flex-grow: 4;
  min-width: 250px;
  overflow: scroll;
}

.style {
  display: none;
}

.project-name {
  background-color: white;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
}

.project-options {
  width: 100%;
}
