.edit {
  display: flex;
} 

.project-options-container{
  flex-grow: 1;
  background: paleturquoise;
}

dv-worksurface {
  flex-grow: 4;
}

.style {
  display: none;
}

.header {
  border-top: solid 5px #D5D5D5;
  text-align: center;
  line-height: 250%;
  background-color: #EBEBEB;
}

.project-name .header{
  border: none;
  background-color: white;
  font-weight: bold;
}

.project-options {
  width: 250px;
  height: 75px;
}