<dv.component name="profile">
  <listify.navbar />

  <dv.tx>
    <authentication.logged-in />
    <dv.redirect
      href="/login"
      onEvalFailure=true />
  </dv.tx>

  <div class="main">
    <div class="container">
      <dv.if class="right-container" condition=listify.navbar.loggedInUser>
        <listify.profile-card
          loggedInUser=listify.navbar.loggedInUser />
      </dv.if>

      <h2 class="tabs">
        <dv.tx>
          <dv.button>
            <span class=$showYourRankings ? 'selected-tab' : ''>Your Rankings</span>
          </dv.button>
          <dv.link href="/profile/rankings" />
        </dv.tx>|
        <dv.tx>
          <dv.button>
            <span class=$showYourLists ? 'selected-tab' : ''>Your Lists</span>
          </dv.button>
          <dv.link href="/profile/lists" />
        </dv.tx>
      </h2>
      <dv.if condition=$showYourRankings>
        <ranking.show-rankings
          sourceId=listify.navbar.loggedInUser?.id
          noRankingsText="No rankings yet."
          showRanking=<listify.list-card
            gotoOnClick="/ranking"
            id=$id
            loggedInUser=listify.navbar.loggedInUser
            showVote=false /> />
      </dv.if>
      <dv.if condition=$showYourLists>
        <list.show-objects
          fieldMatching={ creator:listify.navbar.loggedInUser?.id }
          noObjectsToShowText="No lists yet."
          showObject=<listify.list-card
            gotoOnClick="/lists/consensus"
            id=$object.id
            loggedInUser=listify.navbar.loggedInUser
            showVote=true /> />
      </dv.if>

      <div>
        <dv.tx>
          <dv.button class="bottom-right-button">
            <img src="assets/plus.svg" />
          </dv.button>
          <dv.callback defaultHref="/lists/create" onExecSuccess=true
            hidden=true />
        </dv.tx>
      </div>
    </div>
  </div>
</dv.component>
