<div *ngIf="widget.getValue(); let value">
  <!-- TODO it seems that dynamically created tabs don't work? -->
  <ul class="nav nav-pills nav-stacked display-component">
    <li role="presentation" class="active">
      <a href="#1a" data-toggle="tab">Example tab</a>
    </li>
    <li role="presentation" *ngFor="let tab of value">
      <a [href]="'#'+tab.target" data-toggle="tab">{{tab.text}}</a>
    </li>
  </ul>
  
  <div class="tab-content">
    <div class="tab-pane active" id="1a">Example content</div>
    <div *ngFor="let tab of value" class="tab-pane" [id]="tab.target">
      some content
    </div>
  </div>
</div>
