@import "~rating/node_modules/css-star-rating/dist/css/star-rating.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

md-icon {
  font-family: 'Material Icons' !important;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

.instructions > p {
  font-size: 15px;
  max-width: 60em;
  text-align: justify;
  margin-bottom: 30px;
}

.white-text {
  color: white;
}

#main-content {
  margin: 40px;
}
