@import "~css-star-rating/dist/css/star-rating.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~leaflet/dist/leaflet.css";
@import "~leaflet-routing-machine/dist/leaflet-routing-machine.css";
@import "~leaflet-control-geocoder/dist/Control.Geocoder.css";
@import url('https://fonts.googleapis.com/css?family=Mogra');
md-icon {
  font-family: 'Material Icons' !important;
}

/* Basics */
p {
  white-space: pre-wrap;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #696969;
}

a:hover {
  cursor: pointer;
}

h1 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #696969;
  margin:0;
}

h2 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #696969;
  margin:0;
}

h3 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #696969;
  margin: 0 0 5px 0;
}

div {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
  list-style: none;
}

hr {
  margin-top: 0px;
}

html,
body,
main {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0 !important;
}

/* Layouts */
.center-column {
  margin: 30px 70px;
}

.center-column-dynamic-thin {
  padding-top: 40px;
  margin: auto;
  width: 25%;
}

.align-center-middle {
  text-align: center;
}

.center-column-dynamic-medium {
  padding-top: 40px;
  margin: auto;
  width: 35%;
}

.center-column-dynamic-auth {
  margin: auto;
  padding-top: 40px;
  width: 280px;
}

.left-column {
  float: left;
  width: 25%;
  padding: 30px 50px;
}

.left-column-50 {
  float: left;
  width: 50%;
  padding: 30px 50px;
}

.left-column-80-thin-padding {
  float: left;
  width: 80%;
  padding: 10px 10px;
}

.left-column-20-thin-padding {
  float: left;
  width: 20%;
  padding: 10px 10px;
}

.fourth-column {
  float: left;
  width: 25%;
  padding: 30px 50px;
}

.inline-column-80-thin-padding {
  display: inline-block;
  width: 80%;
  padding: 10px 10px;
}

.inline-column-10-thin-padding {
  display: inline-block;
  width: 10%;
  padding: 10px 10px;
}

.inline-column-25-thin-padding {
  display: inline-block;
  width: 25%;
  padding: 10px 10px;
}


.right-column{
  float: right;
  width: 75%;
  padding: 30px 50px;
}

.individual-card {
  margin: 30px 0;
}

.inline-block {
  display: inline-block;
}

.small-vertical-margin {
  margin: 10px 0;
}

.small-margin {
  margin: 10px;
}

.large-margin {
  margin: 15px 50px;
}

/* Buttons */
.theme-button button.mat-button,
authentication-sign-in button.mat-button {
  background-color: #696969;
  color: #FFFFFF !important;
  border: 2px solid white;
  font-size: 20px;
  line-height: 20px;
  transition: all 250ms ease;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 25px;
  display: block;
}

.theme-button button.mat-button:hover, .sign-up-btn button.mat-button:hover,
authentication-sign-in button.mat-button:hover {
  color: #696969 !important;
  background-color: white;
  border: 2px solid #696969;
}

.highlight-button button.mat-button {
  border-color: #208a46;
  color: #fff;
  background: #29b35b linear-gradient(to bottom, #2ec866, #29b35b);
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(32, 138, 70, 0.3);
}

.highlight-button button.mat-button:hover {
  background: #449d44;
  border-color: #398439;
}

/* Navbar */
.navbar a{
  color: #262626;
  display: inline-block;
  text-align:center;
  vertical-align: middle;
  margin:10px;
}

.navbar a:hover {
  text-decoration: none;
}

.navbar-right a, .navbar-right-elem {
  vertical-align: middle;
  margin:10px;
  text-align: center;
  display: inline-block;
  color: #262626;
}

.navbar {
  background-color: #ffffff;
}

.login-btn a,
.register-btn a {
  color: #696969;
}

/* Other */
.mat-option {
  font-size: inherit;
  line-height: 2em !important;
  height: 4.5em !important;
}

.panel {
  border: solid 1px rgba(160, 160, 160, 0.3);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  margin: 50px 70px;
  padding: 50px;
  background: #ffffff;
  border-radius: 4px;
}

.panel-tight {
  margin: 0px 70px;
  padding: 15px 50px;
  border: solid 1px rgba(160, 160, 160, 0.3);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 4px;
}

.bold {
  font-weight: 600 !important;
}

.plain {
  display: inline-block !important;
}

.pull-right {
  float: right;
}

.disabled {
  float: none;
  color: #959ca6;
}

.inline-card {
  display: inline-block;
  float: left;
  width: 350px;
}

.authentication-show-user-username {
  display: inline-block;
}

.rating {
  display: inline-block;
  text-align: left;
  vertical-align: bottom;
}

.rating-show-avg-rating-stars-container {
  display: inline-block;
}

.rating-show-avg-rating-stars-vote-count {
  display: inline-block;
}

.property-show-object-property {
  display: inline-block;
}

.property-show-object {
  display: inline-block;
}

.rating-filter-targets-option {
  display: block;
}

.property-show-objects-object-item {
  margin: 10px 0px;
  padding: 0;
  border: solid 1px rgba(160, 160, 160, 0.3);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 4px;
}

.group-show-groups-group-item {
  margin: 0;
  padding: 0;
  border: solid 1px rgba(160, 160, 160, 0.3);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 4px;
  text-align: center;
}
