<!-- inputs="party, user" -->
<div class="container-fluid" style="padding:none">
  <div class="row row-bordered" style="font-weight:bold">
    <div class="col-xs-4">Item</div>
    <div class="col-xs-2">Quantity</div>
    <div class="col-xs-6">Contributor</div>
  </div>
  <market:show-all-goods
    [showGood]="show-supply-request"
    [showGoodInputs]="{'supplyRequest': !good, 'user': user}"
    [market]="party"></market:show-all-goods>
  <market:show-all-transactions
    [showTransaction]="show-commitment"
    [showTransactionInputs]="{'commitment': !transaction}"
    [market]="party"></market:show-all-transactions>
</div>
<br />
