<dv-widget name="LoggedIn" of="StandardAuthentication"></dv-widget>

<!-- TODO: dropdown with links to profile and logout if possible -->
<div class="inline" style="float:right;">
  <a class="btn button btn-info" id="userMenu"
    style="margin-right:30px;text-align:center;"
    [dvLink]="to_profile">
    <span class="glyphicon glyphicon-user"></span>
  </a>
</div>

<!-- HACK: Remove once default fields are always populated -->
<dv-widget name="SignOutWithRedirect" of="StandardAuthentication" style="display:none">
</dv-widget>
