<dv.component name="profile-card">
  <dv.if condition=$loggedInUser>
    <dv.tx>
      <authentication.authenticate as auth-show-rankings
        user=$loggedInUser hidden=true />
      <ranking.show-rankings
        sourceId=$loggedInUser?.id hidden=true />
    </dv.tx>
    <dv.tx>
      <authentication.authenticate as auth-list-count
        user=$loggedInUser hidden=true />
      <list.show-objects as list-count
        fieldMatching={ creator: $loggedInUser?.id, waitOn: ['creator'] }
        hidden=true />
    </dv.tx>
  </dv.if>

  <div class="card-container">
    <div class="profile-card-filler"></div>
    <img src="assets/profile-icon.svg" class="profile-image" />
    <dv.if condition=$username>
      <p class="username">@{{$loggedInUser?.username}}</p>
    </dv.if>
    <div class="stats-container">
      <dv.if condition=list-count.objects?.length gt= 0>
        <p class="stats-header">Lists Created</p>
        <p>{{list-count.objects?.length}}</p>
      </dv.if>
      <dv.if condition=ranking.show-rankings.loadedRankings?.length gt= 0>
        <p class="stats-header">Rankings Submitted</p>
        <p>{{ranking.show-rankings.loadedRankings?.length}}</p>
      </dv.if>
    </div>
  </div>
</dv.component>
