<!-- EditComment(User) -->
<div class="container">
  <button (click)="startEditing()" type="submit" class="btn btn-default btn-sm">Edit</button>
  <form (ngSubmit)="onSubmit()" #postForm="ngForm" class="form-horizontal" [hidden]="!isEditing">
    <div class="form-group">
      <label class="sr-only" for="content">Content</label>
      <textarea required id="content"
        [(ngModel)]="editedContent" ngControl="content" name="edit"
        placeholder="The content of this comment"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default btn-sm"
       [disabled]="!postForm.form.valid">Update Comment</button>
      <button (click)="stopEditing()" type="button" class="btn btn-default btn-sm">Cancel</button>
    </div>
  </form>
</div>
