<!-- fields="user" -->
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<standard-authentication:logged-in (user)="user">
</standard-authentication:logged-in>
<nav class="navbar navbar-default navbar-fixed-top" id="main-navbar">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="logo" routerLink="/">
        <img src="http://i.imgur.com/O3k7YpU.png" alt="Accord" style="width:100%; height:120%">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- TODO -->
        <li *ngIf="!user.username"><a routerLink="/landing">Login</a></li>
        <li *ngIf="user.username"><a routerLink="/bands">Dashboard</a></li>
        <li><a routerLink="/about">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!user.username"><a routerLink="/">Not Logged In</a></li>
        <li *ngIf="user.username">
          <a [routerLink]="['/account']">
            {{user.username}}
          </a>
        </li>
        <li *ngIf="user.username">
          <standard-authentication:sign-out next="landing">
          </standard-authentication:sign-out>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
