#nav {
  margin-bottom: 100px;
}

#main-navbar {
  background-color: #28bdb1;
}

.navbar-header {
  width: 150px;
  height: 50px;
  margin-top: 5px;
}

.navbar-brand {
  color: white !important;
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}

.navbar-text {
  cursor: default;
}
