<!-- Displays a request under My Requests in the dashboard -->
<style>
/* General tile styling */
.tile-icon img {
  height: 40px;
  display: block;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 5px;
}

.tile p {
  margin-bottom: 15px;
  word-wrap: break-word;
  line-height: 1.25;
}

.tile-title, .tile-subtitle, .request-tile-content {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tile {
  text-align: left;
  height: 165px;
  z-index: 200; /*high enough for each request to be above the previous request, but low enough to be darkened when there is an open modal*/
}

.tile-content {
  line-height: 2.5ex;
  height: 5ex;
  vertical-align: center;
}

.tile:hover{
  background-color: rgba(22, 160, 133,0.25);
}
</style>

<div class="col-xs-12 col-ms-6 col-sm-4 col-md-3 col-lg-3">
  <div class="tile request-tile" data-toggle="modal" attr.data-target="#request-modal-{{task.atom_id}}">
    <h4 class="tile-title">{{task.name}}</h4>
    <p class="tile-subtitle">{{task.assignee ? 'Shopper: ' + task.assignee.atom_id : 'unclaimed'}}</p>

    <!-- A request can only be canceled if no one has claimed it yet. -->
    <div *ngIf="!task.assignee">
      <dv-widget name="CancelCompoundTransactionButton" of="Market" [init]="{compoundTransaction: task, submit_ok: submit_ok}"></dv-widget>
      <dv-widget name="CompleteTask" of="Task" style="display: none"></dv-widget>
      <dv-widget name="ApproveTask" of="Task" style="display: none"></dv-widget>
    </div>
  </div>
</div>

<div id="request-modal-{{task.atom_id}}" class="modal fade notif-action-modal request-modal" role="dialog">
  <div class="modal-messages"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Request Details</h3>
      </div>
      <div class="modal-body">
        <table>
          <tr>
              <th>Item Name</th>
              <td class="item-name">{{task.name}}</td>
          </tr>
          <tr>
              <th>Deadline</th>
              <td class="deadline">{{task.expiration_date}}</td>
          </tr>
          <tr>
            <dv-widget name="ShowCompoundTransaction" of="Market" [init]="{compoundTransaction: task}"></dv-widget>
          </tr>
        </table>
        <div *ngIf="task.assignee">
          <b>Shopper:</b>
          <dv-widget name="ShowContactInformation" of="Profile" [init]="{profile: task.assignee}"></dv-widget>
          <dv-widget name="ShowAverageRating" of="Rating" [init]="{target: task.assignee}"></dv-widget>
        </div>
      </div> <!-- end of modal-body -->  
    </div>
  </div>
</div>
