.registration-pages {
  width: 75%;
  padding-top: 25px;
  margin: 0 auto;
}

.card-header {
  background-color: #ffa599;
}

#heading {
  text-align: center;
}

.card-body {
  padding: 15px;
  text-align: center;
}

#finish-button {
  float: right;
  margin-right: 10px;
  margin-top: 0px;
}
