<div class="content" 
      [ngClass]="{'selected': (selected | async)}">
  <div class="name-container">
    <button [routerLink]="['/ui-editor', {id: widget.getId()}]">
      <img [src]="widget.getIconLocation()" width="15px" height="15px">
    </button>
    <span class="name" (dblclick)="renameStart($event)"
      [hidden]="renameVisible"> {{widget.getName()}} </span>
    <div class="submit-rename"
        *ngIf="!createNew"
          [hidden]="!renameVisible">
      <input type="text" 
              class="new-name-input form-control" 
              autofocus
              (input)="rename($event)"
              (keyup.enter)="renameVisible = false"
              (blur)="renameVisible = false" [value]="widget.getName()">
    </div>
  </div>
  <button *ngIf="isDeletable"
          type="button"
          class="btn btn-default btn-delete"
          (click)="handleDelete()">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
  <ng-container *ngIf="innerWidgets | async as currInnerWidgets">  
    <button *ngIf="currInnerWidgets.length > 0"
            class="btn btn-default"
            (click)="toggleShow()">
      <span [hidden]="innerShown"> > </span>
      <span [hidden]="!innerShown"> v </span>
    </button>
    <div *ngFor="let innerWidget of currInnerWidgets">
      <dv-list-item [widget]="innerWidget"
                    [isDraggable]="false"
                    [isDeletable]="true"
                    [hidden]="!innerShown">
      </dv-list-item>
    </div>
  </ng-container>
</div> 

<dv-widget *ngIf="isDraggable"
            class="drop-widget"
            #ghost 
            [hidden]="true"
            [widget]="widget"
            [isSelected]="false"
            [isMovable]="false">
</dv-widget>