<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<dv-widget name="LoggedIn" of="StandardAuthentication"></dv-widget>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']">Potluck</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="user.username">
        <a>
          {{user.username}}
        </a>
      </li>
      <li *ngIf="user.username">
        <dv-widget name="SignOutWithRedirect" of="StandardAuthentication">
        </dv-widget>
      </li>
    </ul>
  </div>
</nav>
