<div class="panel panel-default" [dvLink]="to_event_details">
  <div class="panel-heading">
    {{event.title}}
  </div>
  <div class="panel-body">
    <dv-widget name="ShowGroupMembers" of="Group" style="display:none">
    </dv-widget>
    <button type="button" style="width: 100%;"
      class="displayButtons btn btn-info">
      Attendees
      <span style="color: black; margin-left: 5px;" class="badge">
        {{event?.members?.length}}
      </span>
    </button>
    <p>Coming soon: location</p>
    <dv-widget name="ShowEvent" of="Event"></dv-widget>
  </div>
  <dv-widget name="OverlayMarker" of="Map"></dv-widget>
</div>

<!-- HACK: Remove once default fields are always populated -->
<dv-widget name="SignOutWithRedirect" of="Auth" style="display:none">
</dv-widget>
