$navbarButtonPadding: 0;

@import "~@deja-vu/themes/scss/baby-blue.scss";
@import url('https://fonts.googleapis.com/css?family=Fruktur&display=swap');

h1, h2, h4 {
  text-align: center;
}

.white-box {
  background-color: white;
  padding: 10px;
  border-radius: 25px;
  margin-bottom: 10px;
}

.right-box {
  margin-left: 20px;
}

.navbar-brand {
  font-size: 20pt;
  font-family: 'Fruktur', sans-serif;
  color: gray !important;
}

div.scroll {
  height: 200px;
  overflow: scroll;
}

.main {
  padding-top: 100px;
}

.icon {
  vertical-align: bottom;
  width: 25px;
}

h3 .icon {
  vertical-align: baseline;
  width: 25px;
}

.username {
  line-height: 35px;
  margin-right: 10px;
}

transfer-add-to-balance .form-group {
  margin-bottom: 0;
}
