<navbar (output)="user"></navbar>

<div class="container" id="homepage-container">
  <div class="col-md-3" id="box">
    <h1>Your Parties</h1>
    <a [routerLink]="['/new-party']" class="btn btn-primary">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
      Create a New Party
    </a>
  </div>

  <div class="col-md-9">
    <show-groups-by-member of="Group" [member]="user">
      <show-party party="party" [user]="user"></show-party>
    </show-groups-by-member>
  </div>
</div>
