<div class="group-im-in">
  <div class="group-im-in-container">
    <h4 class="group-im-in-name">
      <group-show-group
        [group]="group"
        [showMembers]="false">
      </group-show-group>
    </h4>
    <dv-tx>
      <group-join-leave
        class="btn btn-default remove-from-group-btn"
        [group]="group"
        [memberId]="loggedInUserId">
      </group-join-leave>
    </dv-tx>

    <h5>Add User</h5>
    <!-- Adding users to groups reserved for owners of group, but not supported yet -->
    <authentication-choose-user
      class="add-member-input"
      [showChooseButton]="false"
      (selectedUser)="chosen=$event">
    </authentication-choose-user>
    <dv-tx>
      <group-add-to-group
        class="add-member-btn"
        [id]="group?.id"
        [member]="chosen ? chosen : undefined"
        [showInput]="false">
      </group-add-to-group>
    </dv-tx>
    <!-- <authorization-can-view
      dvAlias="can-view-groups"
      [principalId]="loggedInUserId"
      [resourceId]="group.id"
      [hidden]="true">
    </authorization-can-view>
    <authentication-authenticate 
      dvAlias="authenticate-groups"
      [id]="loggedInUserId" 
      [hidden]="true">
    </authentication-authenticate> -->
  </div>
</div>