<div class="group-im-in">
  <div class="group-im-in-container">
    <authorization-show-owner
      [resourceId]="group.id"
      (ownerId)="hostId=$event" [hidden]="true">
    </authorization-show-owner>

    <div *ngIf="createdByUser && loggedInUserId === hostId">
      <group-show-group
        dvAlias="group-owned-by-user"
        [group]="group"
        [showMembers]="true">
      </group-show-group>
      <dv-tx>
        <group-join-leave
          dvAlias="join-leave-group-owned-by-user"
          class="btn btn-default remove-from-group-btn"
          [group]="group"
          [memberId]="loggedInUserId">
        </group-join-leave>
      </dv-tx>
      <h5>Add User</h5>
      <authentication-choose-user
        class="add-member-input"
        [showChooseButton]="false"
        (selectedUser)="chosen=$event">
      </authentication-choose-user>
      <dv-tx >
        <dv-status savedText="Member added to group"></dv-status>
        <group-add-to-group
          [id]="group?.id"
          [member]="chosen"
          [showInput]="false"
          [hidden]="true">
        </group-add-to-group>
        <authorization-can-view
          [principalId]="loggedInUserId"
          [resourceId]="group.id"
          [hidden]="true">
        </authorization-can-view>
        <authorization-add-viewer
          [id]="group?.id"
          [viewer]="chosen"
          [hidden]="true">
        </authorization-add-viewer>
        <authentication-authenticate
          [id]="loggedInUserId"
          [hidden]="true">
        </authentication-authenticate>
        <dv-button>Add Member to Group</dv-button>
      </dv-tx>
    </div>

    <div *ngIf="isMemberOf">
      <group-show-group
        dvAlias="group-user-is-member-of"
        [group]="group"
        [showMembers]="false">
      </group-show-group>
      <dv-tx>
        <group-join-leave
          dvAlias="join-leave-group-user-is-member-of"
          class="btn btn-default remove-from-group-btn"
          [group]="group"
          [memberId]="loggedInUserId">
        </group-join-leave>
      </dv-tx>
    </div>

  </div>
</div>
