<div id="map-container"
    [style.height]="mapComponentDimensions.height+'px'"
    [style.width]="mapComponentDimensions.width+'px'">
  <button id="map-minimize-btn" 
          class="btn btn-default"
          [ngClass]="{'minimized': minimized}"
          (click)="minimizeButtonClick()">
    <ng-container *ngIf="minimized; else minimizer">
      Map
    </ng-container>
    <ng-template #minimizer>
      <span class="glyphicon glyphicon-minus"></span>
    </ng-template>
  </button>
  <div id="map" 
      [hidden]="minimized"
      (click)="mapClick($event)">
      <!-- the full area isn't useful right now -->
      <div id="map-full-area"></div>
      <div id="zoom-selected-screen-size"
        [style.height]="screenDimensions.height*mapScale+'px'"
        [style.width]="screenDimensions.width*mapScale+'px'"></div>
      <div *ngIf="selectedWidget"
          id="map-component-sizes"
          [style.zoom]="zoom"
          [style.top]=
          "(selectedWidget.getPosition().top * this.mapScale) + 'px'"
          [style.left]=
          "(selectedWidget.getPosition().left * this.mapScale) + 'px'"
          [style.height]=
          "(selectedWidget.getDimensions().height * this.mapScale) + 'px'"
          [style.width]=
          "(selectedWidget.getDimensions().width * this.mapScale) + 'px'">
        <div *ngFor="let size of mapWidgetSizes"
              class="map-inner-component-size"
              [style.height]= "(size.height * this.mapScale) + 'px'"
              [style.width]= "(size.width * this.mapScale) + 'px'"
              [style.top]= "(size.top * this.mapScale) + 'px'"
              [style.left]= "(size.left * this.mapScale) + 'px'"></div>
      </div>
      <!-- Map window is the little thing you drag to move your map -->
      <div id="map-window"
          [style.top]="mapVisibleWindowPosition.top+'px'"
          [style.left]="mapVisibleWindowPosition.left+'px'"
          [style.height]="mapVisibleWindowDimensions.height+'px'"
          [style.width]="mapVisibleWindowDimensions.width+'px'"></div>
  </div>
</div>
