<div class="row">
  <div class="col-md-7">
    <potluck-show-supply
      [supply]="supply" [useIdForObject]="true">
    </potluck-show-supply>
  </div>
  <div class="col-md-5">
    <transfer-create-transfer
      [fromId]="partyId"
      [toId]="loggedInUserId"
      [inputAmount]="{
        type: transferCreateItemCount,
        tag: 'transfer-create-item-count',
        outputMap: { amount: 'itemCountAsAmount' },
        inputs: {
          showOptionToCreate: false, showOptionToInputItemId: false,
          itemId: supply.id
        }
      }"
      [showOptionToInputFromId]="false"
      [showOptionToInputToId]="false"
      buttonLabel="Claim"
      newTransferSavedText="Supplies claimed">
    </transfer-create-transfer>
  </div>
</div>
