<div id="designer" class="flex" *ngIf="!previewMode">
  <div class="flex dir-col grow">
    <app-top-bar
      [app]="app"
      [openAction]="openAction"
      (load)="load($event)"
      (ioChange)="ioChange.emit()"
      (preview)="showPreview()"
    ></app-top-bar>
    <div class="grow scroll">
      <app-action-definition
        class="grow"
        [actionInstance]="openActionInstance"
        [app]="app"
        [ioChange]="ioChange"
      >
      </app-action-definition>
    </div>
  </div>
  <app-side-menu
    [app]="app"
    [openAction]="openAction"
    class="scroll"
    (clicheAdded)="addCliche($event)"
    (clicheRemoved)="removeCliche($event)"
  >
  </app-side-menu>
</div>
<app-action-instance
  *ngIf="previewMode"
  [actionInstance]="openActionInstance"
>
</app-action-instance>