<div *ngIf="!previewMode" class="designer flex" >
  <div class="flex dir-col grow">
    <app-top-bar
      [app]="app"
      [openAction]="openAction"
      (load)="load($event)"
      (preview)="showPreview()"
      (showIoHintChange)="showIoHints=$event"
      ></app-top-bar>
    <div class="grow scroll">
      <app-action-definition
        class="grow"
        [actionInstance]="openActionInstance"
        [app]="app"
        [dragging]="dragging"
        [showIoHints]="showIoHints"
      >
      </app-action-definition>
    </div>
  </div>
  <app-side-menu
    [app]="app"
    [openAction]="openAction"
    class="scroll"
    (clicheAdded)="addCliche($event)"
    (clicheRemoved)="removeCliche($event)"
  >
  </app-side-menu>
</div>
<app-action-instance
  *ngIf="previewMode"
  class="designer"
  [actionInstance]="openActionInstance"
>
</app-action-instance>
