<div *ngIf="!previewMode" class="designer flex" >
  <div class="flex dir-col grow">
    <app-top-bar
      [app]="app"
      [openComponent]="openComponent"
      (load)="load($event)"
      (preview)="showPreview()"
      (showIoHintChange)="showIoHints=$event"
      ></app-top-bar>
    <div class="grow scroll">
      <app-component-definition
        class="grow"
        [componentInstance]="openComponentInstance"
        [app]="app"
        [dragging]="dragging"
        [showIoHints]="showIoHints"
      >
      </app-component-definition>
    </div>
  </div>
  <app-side-menu
    [app]="app"
    [openComponent]="openComponent"
    class="scroll"
    (conceptAdded)="addConcept($event)"
    (conceptRemoved)="removeConcept($event)"
  >
  </app-side-menu>
</div>
<app-component-instance
  *ngIf="previewMode"
  class="designer"
  [componentInstance]="openComponentInstance"
>
</app-component-instance>
