<div class="row">
  <div class="col-md-4">
    <property-show-object
      dvOf="reward"
      [id]="reward.id"
      [showOnly]="['name']">
    </property-show-object>
  </div>
  <div class="col-md-4">
    <i class="material-icons icon">star_rate</i>
    <market-show-good
      [good]="reward"
      [showId]="false"
      [showSupply]="false"
      [showSeller]="false"
      [showMarket]="false">
    </market-show-good>
  </div>
  <div class="col-md-4">
    <dv-tx *ngIf="showOptionToPurchase">
      <market-create-transaction
        [goodId]="reward.id"
        [buyerId]="user?.id"
        quantity=1
        [hidden]=true>
      </market-create-transaction>
      <dv-button>Purchase</dv-button>
    </dv-tx>
  </div>
</div>
