<div class="row">
    <div class="col-xs-2 center">
        <dv-widget name="CompleteTask" of="Task" [init]="{task: task}"></dv-widget>
    </div>
    <div class="col-xs-2 problem-number">
        <dv-widget name="ShowTask" of="Task" [init]="{task: task}"></dv-widget>
    </div>
    <div class="col-xs-1 right col-xs-offset-3">
        <span class="right-pad">
            category: score
        </span>
    </div>
    <div class="col-xs-2 text-center">
        <img src="./components/show-and-log-climb/sent.png" class="others">
        <span>#climbers</span>
    </div>
    <div class="col-xs-2 text-center">
        <span class="arrow marg-right">-</span>
        <span class="red marg-right">#falls</span>
        <span class="arrow marg-right">+</span>
    </div>
</div>
<div class="edit-status">
    <hr/>
    <div class="row">
        <div class="col-xs-offset-2 col-xs-10">
            <dv-widget name="ApproveTask" of="Task" [init]="{task: task}"></dv-widget>
        </div>
    </div>
  </div>
