<dv.component name="list-summary">
  <dv.tx>
    <list.show-object id=$id object=$object hidden=true />
    <authentication.authenticate as auth-show-object
      user=$loggedInUser waitOn=['user'] hidden=true />
  </dv.tx>

  <dv.if condition=($object || list.show-object.loadedObject) && $id>
    <dv.if condition=$showVote>
      <listify.vote listId=$id loggedInUser=$loggedInUser />
    </dv.if>

    <div>
      <span class="list-card-title">
        <list.show-object class="inline-block"
          object=$object || list.show-object.loadedObject
          showOnly=['name'] />
      </span>
    </div>
    <div class="list-info">
      <span class="list-card-creator">
        created by
        <authentication.show-user
          id=$object ? $object.creator : list.show-object.loadedObject.creator
          showId=false />
      </span>

      <dv.if condition=$showMarkers>
        <dv.if class="inline-block"
          condition=$object ?
            $object.locked :
            list.show-object.loadedObject.locked>
          <div class="locked-list-marker"></div>
        </dv.if>

        <dv.tx>
          <authentication.authenticate as auth-show-ranking
            user=$loggedInUser waitOn=['user'] hidden=true />
          <ranking.show-ranking
            id=$id
            sourceId=$loggedInUser?.id
            hidden=true />
        </dv.tx>
        <dv.if class="inline-block" condition=ranking.show-ranking.loadedRanking>
          <div class="contributed-marker"></div>
        </dv.if>
      </dv.if>

      <dv.if class="inline-block"
        condition=$showOptionToClose && (($object ?
          $object.creator :
          list.show-object.loadedObject.creator) === $loggedInUser?.id)>
        <dv.tx>
          <authentication.authenticate
            user=$loggedInUser waitOn=['user'] hidden=true />
          <authorization.verify-can-edit
            resourceId=$id principalId=$loggedInUser?.id
            hidden=true />
          <list.update-object useObject=$object || list.show-object.loadedObject
            initialValue={ locked: true } hidden=true />
          <dv.button valid=$object ?
            !$object.locked :
            !list.show-object.loadedObject.locked>
            Close Voting
          </dv.button>
          <dv.link hidden=true />
        </dv.tx>
      </dv.if>
    </div>
  </dv.if>
</dv.component>
