<dv.action name="list-summary">
  <list.show-object id=$listScoring?.id hidden=true />
  <scoring.show-score
    sourceId=$loggedInUser?.id
    targetId=$listId
    hidden=true />

  <dv.if condition=list.show-object.loadedObject && $listScoring>

    <dv.if condition=$showVote>
      <listify.vote
        listId=$listScoring.id
        loggedInUser=$loggedInUser />
    </dv.if>

    <div>
      <span class="list-card-title">
        <list.show-object class="inline-block"
          object=list.show-object.loadedObject
          showOnly=['name'] />
      </span>
    </div>
    <div>
      <span class="list-card-creator">Created by <authentication.show-user id=list.show-object.loadedObject.creator showId=false /></span>

      <dv.if class="inline-block"
        condition=list.show-object.loadedObject.locked>
        <div className="locked-list-marker"></div>
      </dv.if>

      <ranking.show-ranking id=$listId sourceId=$loggedInUser?.id hidden=true />
      <dv.if class="inline-block" condition=ranking.show-ranking.loadedRanking>
        <div className="contributed-marker"></div>
      </dv.if>

      <dv.if class="inline-block"
        condition=list.show-object.loadedObject.creator === $loggedInUser?.id>
        <dv.tx>
          <!-- TODO: authorization -->
          <dv.button>Close Voting</dv.button>
          <!-- TODO: edit list object locked property to true -->
        </dv.tx>
      </dv.if>
    </div>
  </dv.if>
</dv.action>
