<div class="index">
  <div id="returnToMain" routerLink="/main">R E N D E Z V O U S</div>
  <!-- TODO: profile button -->
  <a id="back" type="button" style="margin-right: 50px;"
    class="btn button btn-info" routerLink="/main">
    <span class="glyphicon glyphicon-arrow-left"></span>
  </a>
  <div class="new_event">
    <div class="panel panel-default">
      <div style="background-color: #ffa599;" class="panel-heading eventName">
        Coming Soon: Event Name
      </div>
      <div style="padding: 15px;" class="panel-body">
        <div style="overflow: auto; margin-bottom: 15px">
          <div id="hostBadge"
            style="float: left; margin-top: 4px; cursor: pointer;">
            <!--TODO: Link to host profile -->
            <button id="barryam3@mit.edu" type="button"
              class="displayButtons btn btn-info">
              Hosted By
              <span style="color: black; margin-left: 5px;"
                class="badge userBadge">
                Coming Soon!
              </span>
            </button>
          </div>
          <div style="float: left; margin-top: 4px;">
            <button id="attendees" type="button" style="cursor: pointer;"
              class="btn btn-info">
              Attendees
              <span style="color: black; margin-left: 5px;" class="badge">
                Coming Soon!
              </span>
            </button>
          </div>
          <div style="float: left; margin-top: 4px;">
            <button type="button" class="displayButtons btn btn-info">
              Relevant Interests
              <span style="color: black; margin-left: 5px;" class="badge">
                <dv-widget name="ShowLabels" of="Label" id="rlvnt-intrsts">
                </dv-widget>
              </span>
            </button>
          </div>
        </div>
        <div class="event-info-table">
          <!-- TODO: Show attendees when button is pressed -->
          <dv-widget name="ShowEvent" of="Event"></dv-widget>
          <p>Coming Soon: Event Location</p>
        </div>
        <div class="event_details">
          <label> Event Details</label>
          <div style="background-color: #FFEFEE; border: 1px solid #CC9088">
            Coming Soon: Event Details
          </div>
        </div>
        <div style="float: right; margin-top: 10px;"
          class="inline btn-group form-group">
          <button class="btn button">Coming Soon: Edit Event</button>
        </div>
        <div>
          <label style="margin-top: 80px;">Comments</label>
        </div>
        <dv-widget name="ShowComments" of="Comment"></dv-widget>
        <dv-widget name="AddComment"></dv-widget>
      </div>
    </div>
  </div>
</div>
