<dv-widget name="LoggedIn" of="Auth"></dv-widget>

<div class="index">
  <div id="returnToMain" routerLink="/main">R E N D E Z V O U S</div>
  <!-- TODO: profile button -->
  <a id="back" type="button" style="margin-right: 50px;"
    class="btn button btn-info" routerLink="/main">
    <span class="glyphicon glyphicon-arrow-left"></span>
  </a>
  <div class="new_event">
    <div class="panel panel-default">
      <div style="background-color: #ffa599;" class="panel-heading eventName">
        {{event?.title}}
      </div>
      <div style="padding: 15px;" class="panel-body">
        <div style="overflow: auto; margin-bottom: 15px">
          <div id="hostBadge"
            style="float: left; margin-top: 4px; cursor: pointer;">
            <!--TODO: Link to host profile -->
            <button id="barryam3@mit.edu" type="button"
              class="displayButtons btn btn-info">
              Hosted By
              <span style="color: black; margin-left: 5px;"
                class="badge userBadge">
                {{event?.author?.username}}
              </span>
            </button>
          </div>
          <div style="float: left; margin-top: 4px;">
            <button id="attendees" type="button" style="cursor: pointer;"
              class="displayButtons btn btn-info">
              Attendees
              <span style="color: black; margin-left: 5px;" class="badge">
                {{event?.members?.length}}
              </span>
            </button>
          </div>
          <div style="float: left; margin-top: 4px;">
            <button type="button" class="displayButtons btn btn-info">
              Relevant Interests
              <span style="color: black; margin-left: 5px;" class="badge">
                <dv-widget name="ShowLabels" of="Label" id="rlvnt-intrsts">
                </dv-widget>
              </span>
            </button>
          </div>
          <div id="attendeesDiv"
            style="display: block; margin-top: 50px;">
            <label>Attendees</label>
            <div style="background-color: #FFEFEE; border: 1px solid #CC9088"
              class="panel-body">
              <dv-widget name="ShowMembersOfGroup" of="Group"></dv-widget>
            </div>
          </div>
        </div>
        <div class="event-info-table">
          <label> Event Details</label>
          <dv-widget name="ShowEvent" of="Event"></dv-widget>
          <dv-widget name="ShowMarkerLocation" of="Geolocation"></dv-widget>
        </div>
        <div class="event_details">
          <label> Event Description</label>
          <div style="background-color: #FFEFEE; border: 1px solid #CC9088">
            <dv-widget name="ShowPost" of="Post" id="shw-pst"></dv-widget>
          </div>
        </div>
        <div style="float: right; margin-top: 10px;"
          class="inline btn-group form-group">
          <button class="btn button">Coming Soon: Edit Event</button>
        </div>
        <div class="button" id="jn-lv-grp">
          <dv-widget name="JoinLeave" of="Group"></dv-widget>
        </div>
        <div>
          <label style="margin-top: 80px;display:flex;">Comments</label>
        </div>
        <table id="comment-table" class="event_info event_display table">
          <tbody>
            <tr id="add-comment-row">
              <th id="add-comment">
                <dv-widget name="AddComment"></dv-widget>
              </th>
            </tr>
            <dv-widget name="EventComments"></dv-widget>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
