<div
  *ngIf="actionInstance"
  [attr.data-isaction]="true"
  [attr.dvAlias]="actionInstance.fqtag"
  [attr.dvOf]="actionInstance.from.name"
  [ngStyle]="actionInstance.of.styles || {}"
  [hidden]="hidden"
>
  <div
    [attr.data-isaction]="!!actionInstance.of.transaction"
    [attr.dvAlias]="'dv-tx'"
  >
    <ng-template *ngIf="actionInstance.of.component" propertyDynamicComponent>
    </ng-template>

    <div *ngIf="actionInstance.of.rows">
      <div
        *ngFor="let row of actionInstance.of.rows"
        class="dvd-row"
        [ngClass]="['j' + row.hJust, 'a' + row.vAlign]"
      >
        <div
          *ngFor="let action of row.actions"
          [ngClass]="action.styles.stretch ? 'stretch' : ''"
        >
          <app-action-instance
            [actionInstance]="action"
            [parentScopeIO]="scopeIO"
          >
          </app-action-instance>
        </div>
      </div>
    </div>
  </div>
</div>