<!-- fields="user" -->
<nav-bar (user)="user"></nav-bar>
<div class="container page-content">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Create Band</h1>
      <div dvTransaction>
        <div id="errors"></div>
        <group:create-name (name)="name"></group:create-name>
        <group:new-group-with-initial-member-button
          [initialMember]="user" [name]="name">
        </group:new-group-with-initial-member-button>
        <checklist:new-checklist dvHidden [name]="name" [errors]="#errors">
        </checklist:new-checklist>
      </div>
    </div>
  </div>
</div>
