.authentication-register-user button {
  width: 100%;
  background-color: #A52C4B !important;
  border-color: #A52C4B !important;
  color: #FFFFFF !important;
}

.authentication-register-user button:hover {
  width: 100%;
  background-color: #721129 !important;
  border-color: #721129 !important;
  color: #FFFFFF !important;
}

