/*@import "~css-star-rating/dist/css/star-rating.min.css";*/
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
/*@import "~bootstrap/dist/css/bootstrap.min.css";*/
/*@import "~leaflet/dist/leaflet.css";*/
/*@import "~leaflet-routing-machine/dist/leaflet-routing-machine.css";*/
/*@import "~leaflet-control-geocoder/dist/Control.Geocoder.css";*/
/*@import url('https://fonts.googleapis.com/css?family=Raleway');*/

/*md-icon {*/
  /*font-family: 'Material Icons' !important;*/
/*}*/

/* Basics */
/*p {*/
  /*white-space: pre-wrap;*/
  /*font-family: 'Raleway', sans-serif;*/
/*}*/

/*a {*/
  /*color: #28bdb1;*/
/*}*/

/*a:hover {*/
  /*cursor: pointer;*/
/*}*/

/*h1 {*/
  /*font-family: 'Raleway', sans-serif;*/
  /*font-weight: bold;*/
  /*font-size: 36px;*/
  /*color: #28bdb1;*/
/*}*/

/*h2 {*/
  /*font-family: 'Raleway', sans-serif;*/
  /*font-weight: bold;*/
  /*color: #28bdb1;*/
/*}*/

/*h3 {*/
  /*font-family: 'Raleway', sans-serif;*/
/*}*/

/*div {*/
  /*font-family: 'Raleway', sans-serif;*/
/*}*/

/*ul {*/
  /*list-style: none;*/
/*}*/

html,
body,
main {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff !important;
}

.logo {
  height: 50px;
}

/* Layouts */
.center-column {
  padding-top: 20px;
  margin: 0px 70px;
}

.center-column-dynamic-thin {
  padding-top: 20px;
  margin: auto;
  width: 25%;
}

.center-column-dynamic-medium {
  padding-top: 20px;
  margin: auto;
  width: 35%;
}

.center-column-dynamic-auth {
  margin: auto;
  padding-top: 20px;
  width: 290px;
}

.auth-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.left-column {
  float: left;
  width: 25%;
  padding: 20px 50px;
}

.left-column-50 {
  float: left;
  width: 50%;
  padding: 0px 50px;
}

.left-column-80-thin-padding {
  float: left;
  width: 80%;
  padding: 10px 10px;
}

.left-column-20-thin-padding {
  float: left;
  width: 20%;
  padding: 10px 10px;
}

.fourth-column {
  float: left;
  width: 25%;
  padding: 20px 50px;
}

.left-column-50-thin-padding {
  float: left;
  width: 50%;
  padding: 10px 10px;
}

.right-column {
  float: right;
  width: 75%;
  padding: 0px 50px;
}

.pad-top {
  padding-top: 20px;
}

.pad-10 {
  padding-top: 10px;
}

.added-by {
  height: 34px;
}

.inline-block {
  display: inline-block;
}

.small-vertical-margin {
  margin: 10px 0;
}

.individual-card {
  margin: 20px 0;
}

.hint {
  font-size: 12px;
  white-space: normal;
}


/* Navbar */
/*.navbar {*/
  /*background-color: #28bdb1;*/
  /*height: 60px;*/
/*}*/

/*.navbar-right, .navbar-right-elem {*/
  /*margin-bottom: 10px;*/
/*}*/

/*.navbar a, .navbar-right-elem {*/
  /*color: white;*/
  /*font-family: 'Raleway', sans-serif;*/
  /*font-weight: bold;*/
  /*font-size: 20px;*/
  /*margin-left: 5px;*/
  /*margin-right: 5px;*/
/*}*/

/*.navbar a:hover {*/
  /*text-decoration: none;*/
  /*color: #054575;*/
/*}*/

/*.login-btn a,*/
/*.register-btn a {*/
  /*color: #28bdb1;*/
/*}*/

/* Other */
.mat-option {
  font-size: inherit;
  line-height: 2em !important;
  height: 4.5em !important;
}

.panel {
  border: solid 1px rgba(160, 160, 160, 0.3);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  margin: 50px 70px;
  padding: 50px;
}

.bold {
  font-weight: 600 !important;
}

.plain {
  display: inline-block !important;
}

.pull-right {
  float: right;
}

.disabled {
  float: none;
  color: #959ca6;
}

.inline-card {
  display: inline-block;
  float: left;
  width: 350px;
}

.authentication-show-user-username {
  display: inline-block;
}

.rating {
  display: inline-block;
  text-align: left;
  vertical-align: bottom;
}

.rating-show-avg-rating-stars-container {
  display: inline-block;
}

.rating-show-avg-rating-stars-vote-count {
  display: inline-block;
}

.property-show-object-property {
  display: inline-block;
  margin: 10px;
}

.property-show-object {
  display: inline-block;
}

.rating-filter-targets-option {
  display: block;
}
