<h3 class="mat-dialog-title">Sign Up</h3>

<mat-dialog-content>
  <dv-tx>
    <dv-id (id)="userId=$event"></dv-id>
    <property-create-object
      dvOf="profile"
      [id]="userId"
      [showOptionToSubmit]="false">
    </property-create-object>

    <authentication-register-user [id]="userId">
    </authentication-register-user>

    <market-create-party
      [id]="userId"
      [hidden]="true"
      (party)="partyId=$event.id">
    </market-create-party>

    <task-create-assignee
      [id]="userId"
      [hidden]="true">
    </task-create-assignee>
    <task-create-assigner
      [id]="userId"
      [hidden]="true">
    </task-create-assigner>

    <dv-link href="/dashboard" [hidden]="true"></dv-link>
  </dv-tx>
</mat-dialog-content>
