<!-- Dialog for the shopper to set the delivery time of the request under Deliver in the dashboard -->
<h4 class="mat-dialog-title">Deliver Item</h4>

<mat-dialog-content>
  <table class="table">
    <tbody>
      <groceryship-show-request-details
        [request]="request" [myRequest]="false">
      </groceryship-show-request-details>
    </tbody>
  </table>

  Set Delivery Time:
  <dv-tx>
    <event-create-event
      [id]="request.id"
      [showOptionToSubmit]="false">
    </event-create-event>

    <market-create-good-price
      inputLabel="Actual Item Price" (price)="price = $event">
    </market-create-good-price>
    <market-create-good
      [id]="request.id + '-item'"
      [price]="price"
      [supply]="1"
      marketId="groceryship"
      [hidden]="true"
      (good)="goodId=$event.id">
    </market-create-good>
    <market-create-transaction
      [id]="request.id + '-item'"
      [paid]="false"
      [compoundTransactionId]="request.id"
      [goodId]="goodId"
      [buyerId]="request.assigner.id"
      [quantity]="1"
      [hidden]="true">
    </market-create-transaction>

    <task-complete-task [id]="request.id" [hidden]="true"></task-complete-task>

    <dv-button>Set Delivery Time</dv-button>
    <!-- TODO: success message and/or close modal -->
  </dv-tx>
</mat-dialog-content>
