<nav id="nav-bar" class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="sweet-spots-heading navbar-brand" routerLink="/">
        Sweet Spots
      </a>
    </div>

    <div role="search" class="navbar-form navbar-left">
      <dv-widget name="Search" of="Label"></dv-widget>
    </div>

    <div class="navbar-form navbar-right">

      <div role="toolbar" class="btn-toolbar" *ngIf="user.username">
        <dv-widget name="SignOutWithRedirect" of="Auth"></dv-widget>
        &nbsp;
        <a routerLink="/profile" id="profile-button" type="button"
          class="btn btn-info">
          Profile
        </a>
      </div>

      <div role="toolbar" class="btn-toolbar" *ngIf="!user.username">
        <a routerLink="/login" id="login-button" type="button"
          class="btn btn-primary">
          Login
        </a>
        &nbsp;
        <a routerLink="/register" id="register-button" type="button"
          class="btn btn-info">
          Register
        </a>
      </div>

    </div>
    <p class="navbar-text navbar-right">
      <span *ngIf="user.username">Hello, </span>
      <dv-widget name="LoggedIn" of="Auth" class="hide-first-child"></dv-widget>
    </p>
  </div>
</nav>

<!-- HACK: Remove once default fields are populated always -->
<dv-widget name="SignOutWithRedirect" of="Auth" style="display:none!important">
</dv-widget>
