<dv-widget name="NavBar"></dv-widget>

<div id="left-main-div">

  <!-- NOTE: below ngIf conditions will fail if a coordinate is 0 -->
  <!-- however, such a precise click is highly unlikely -->

  <!-- on page load, show a marker pic and tell user to click the map -->
  <dv-widget
    name="AddASpot"
    *ngIf="(!new_spot.lat || !new_spot.lng) && !search_results.arr">
  </dv-widget>

  <!-- once the map is clicked, show the new spot form -->
  <dv-widget
    name="AddASpotForm"
    *ngIf="(new_spot.lat && new_spot.lng) && !search_results.arr">
  </dv-widget>

  <!-- TODO: put this into a widget once params can be passed through -->
  <!-- HACK: change once array fields are supported -->
  <div *ngIf="search_results.arr">
    <dv-widget name="ShowSearchResults" of="Label"></dv-widget>
  </div>
</div>

<div id="map-div">
  <dv-widget name="DisplayMap" of="Location"></dv-widget>
  <dv-widget name="OverlayMarkers" of="Location" *ngIf="!search_results.arr">
  </dv-widget>
</div>
