<dv-widget name="NavBar"></dv-widget>

<div id="left-main-div">

  <!-- NOTE: below ngIf conditions will fail if a coordinate is 0 -->
  <!-- however, such a precise click is highly unlikely -->

  <!-- on page load, show a marker pic and tell user to click the map -->
  <dv-widget
    name="AddASpot"
    *ngIf="(!new_spot.lat || !new_spot.lng) && !search_results.arr">
  </dv-widget>

  <!-- once the map is clicked, show the new spot form -->
  <dv-widget
    name="AddASpotForm"
    *ngIf="(new_spot.lat && new_spot.lng) && !search_results.arr">
  </dv-widget>

  <!-- TODO: put this into a widget once params can be passed through -->
  <!-- HACK: change once array fields are supported -->
  <div *ngIf="search_results.arr">
    <div *ngFor="let result of search_results.arr">
      <h4>{{result.name}}</h4>
      <dv-widget name="ShowLabels" of="Label" [init]="{item: result}">
      </dv-widget>
      <dv-widget name="ShowAverageRating" of="Rating" [init]="{target: result}">
      </dv-widget>
      <dv-widget name="ShowComments" of="Comment" [init]="{target: result}">
      </dv-widget>
      <dv-widget name="OverlayMarker" of="Map"
        [init]="{marker: result}">
      </dv-widget>
    </div>
  </div>

</div>

<div id="map-div">
  <dv-widget name="DisplayMap" of="Map"></dv-widget>
  <dv-widget name="OverlayMarkers" of="Map" *ngIf="!search_results.arr">
  </dv-widget>
</div>
