<nav class="navbar navbar-default navbar-static-top">
  <div class="container navbar-header">
    <span class="navbar-brand">Bookmark</span>
    <ul class="nav navbar-nav">
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['home']">Home</a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['topics']">Topics</a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['users']">Users</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="padding-top: 10px">
      <dv-widget name="SignOutWithRedirect" fqelement="dv-access-auth"
       [fields]="fields">
      </dv-widget>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
