<nav class="navbar navbar-default navbar-static-top">
  <div class="container navbar-header">
    <span class="navbar-brand">Bookmark</span>
    <ul class="nav navbar-nav">
      <li [class.active]="isRouteActive('Home')">
        <a [routerLink]="['Home']">Home</a>
      </li>
      <li [class.active]="isRouteActive('Topics')">
        <a [routerLink]="['Topics']">Topics</a>
      </li>
      <li [class.active]="isRouteActive('Users')">
        <a [routerLink]="['Users']">Users</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="padding-top: 10px">
      <dv-widget name="SignOut" fqelement="dv-access-auth" [fields]="fields">
      </dv-widget>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
