table, th, td {
  border: 1px solid #CC9088;
}

table {
  margin-top: 10px;
  margin-bottom: 0px;
}

.center {
  text-align: center;
}

.reset-password {
  padding-top: 200px;
  margin: 0 auto;
}

.message-panel {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}


.card-header {
  background-color:#ffa599;
  display:flex;
}

#username-body {
  flex-grow:1;
}

#username-text {
  margin-top:15px;
}
