<dv-widget name="GuestLoggedIn" of="ClimberAuthentication"></dv-widget>
<nav class="navbar navbar-inverse navbar-fixed-top bug-fix" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <dv-widget name="GuestSignOutWithRedirect" of="ClimberAuthentication"></dv-widget>
                </li>
            </ul>
        </div>
    </div>
</nav>