<dv-widget name="NavBar"></dv-widget>
<div class="events-container">
  <div class="events-panel panel panel-default">
    <div class="panel-body events-panel-body">
      <div class="events-header-row">
        <h2 class="my-events-header">My Events</h2>
        <a routerLink="/create-event"
          class='btn btn-blue create-event-btn'>Create New Event</a>
      </div>
      <dv-widget name="ShowEvents" of="Event"></dv-widget>
      <!--TODO: Only the events the user is hosting-->
      <!--TODO: Styling-->
    </div>
  </div>
</div>
