<div class="body">
  <chorestar-nav-bar for="child" (loggedInUser)="user=$event">
  </chorestar-nav-bar>

  <group-show-groups
    [withMemberId]="user?.id"
    (groups)="parent=$event[0]"
    [hidden]="true">
  </group-show-groups>

  <div class="container-fluid main">
    <div id="child-heading" class="col-md-12">
      <div class="row">
        <div class="offset-md-4 col-md-4">
          <h3>
            StarBank Total:
            <i class="material-icons icon">star_rate</i>
            <transfer-show-balance
              [accountId]="user?.id"
              (fetchedBalance)="balance=$event"
            >
            </transfer-show-balance>
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="white-box offset-md-1 col-md-5">
          <h2>Chores</h2>
          <div class="row section">
            <div class="col-md-12">
              <h3>Uncompleted Chores</h3>
              <task-show-tasks
                [assigneeId]="user?.id"
                [completed]="false"
                [showTask]="{
                  type: showChore,
                  tag: 'chorestar-show-chore',
                  inputMap: { task: 'chore'},
                  inputs: { view: 'child' }
                }"
                [showOptionToComplete]="true"
                noTasksToShowText="No uncompleted chores">
              </task-show-tasks>
            </div>
          </div>
          <div class="row section">
            <div class="col-md-12">
              <h3>Chores Pending Approval</h3>
              <task-show-tasks
                [assigneeId]="user?.id"
                [completed]="true"
                [approved]="false"
                [showTask]="{
                  type: showChore,
                  tag: 'chorestar-show-chore',
                  inputMap: { task: 'chore'},
                  inputs: { view: 'child' }
                }"
                noTasksToShowText="No chores pending approval">
              </task-show-tasks>
            </div>
          </div>
          <div class="row section">
            <div class="col-md-12">
              <h3>Completed and Approved Chores</h3>
              <task-show-tasks
                [assigneeId]="user?.id"
                [completed]="true"
                [approved]="true"
                [showTask]="{
                  type: showChore,
                  tag: 'chorestar-show-chore',
                  inputMap: { task: 'chore'},
                  inputs: { view: 'child' }
                }"
                noTasksToShowText="No approved chores">
              </task-show-tasks>
            </div>
          </div>
        </div>

        <div class="white-box right-box col-md-5">
          <h2>Rewards</h2>
          <property-show-objects
            dvOf="reward"
            (objects)="rewards=$event"
            [hidden]="true"
            [showOnly]="['name', 'cost']">
          ></property-show-objects>
          <div class="row section">
            <div class="col-md-12">
              <h3>Rewards You Can Buy</h3>
              <div *ngFor="let reward of rewards">
                <chorestar-show-reward
                  *ngIf="reward.cost <= balance"
                  [reward]="reward"
                  [user]="user"
                  [showOptionToPurchase]="true"
                ></chorestar-show-reward>
              </div>
            </div>
          </div>
          <div class="row section">
            <div class="col-md-12">
              <h3>Rewards You Cannot Buy Yet</h3>
              <div *ngFor="let reward of rewards">
                <chorestar-show-reward
                  *ngIf="reward.cost > balance"
                  [reward]="reward"
                  [user]="user"
                  [showOptionToPurchase]="false"
                ></chorestar-show-reward>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
