<!-- A Request made by the current user. 
  The user is waiting to accept/reject the delivery from the shopper/fulfiller of the request. The user pays for the request and rates the shopper here. -->
<style>
.accept-reject-container {
  display: inline-block;
}

/* Notification tiles styling */
.notification-tile {
  height: 165px;
}

.notification-icon img {
  height: 20px;
  display: block;
  margin: auto;
}

table {
  margin: 15px;
}

/* General tile styling */
.tile-icon img {
  height: 40px;
  display: block;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 5px;
}

.tile p {
  margin-bottom: 15px;
  word-wrap: break-word;
  line-height: 1.25;
}

.tile-title, .tile-subtitle, .request-tile-content {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tile {
  text-align: left;
  height: 165px;
  z-index: 200; /*high enough for each request to be above the previous request, but low enough to be darkened when there is an open modal*/
}

.tile-content {
  line-height: 2.5ex;
  height: 5ex;
  vertical-align: center;
}

.tile:hover{
  background-color: rgba(22, 160, 133,0.25);
}
</style>

<div class="row">
  <!-- request items with a shopper and pickup time -->
  <div class="col-xs-12 col-ms-6 col-sm-4 col-md-4 col-lg-3" id="notif-container-{{task.atom_id}}">
    <div class="tile notification-tile" data-toggle="modal" attr.data-target="#notification-modal-{{task.atom_id}}">
      <div class="tile-icon" style="float: left"><img src="./components/show-accept-request-notification/clipboard.png"></div>

      <h4 class="tile-title">{{task.name}}</h4>
      <p class="tile-subtitle">Shopper: {{task.assignee.atom_id}}</p>
      <p class="tile-content">Arrival:
        <dv-widget name="ShowEvent" of="Event"></dv-widget>
        <!-- show pickup time -->
      </p>

      <div class="accept-reject-container">
        <button class="accept-notification-items btn btn-primary btn-xs" data-toggle="modal" attr.data-target="#accept-modal-{{task.atom_id}}">Accept</button>
        <button class="reject-notification-items btn btn-danger btn-xs" data-toggle="modal" attr.data-target="#reject-modal-{{task.atom_id}}">Reject</button>
      </div>
    </div>
  </div>
</div>

<!-- accept modal -->
<div id="accept-modal-{{task.atom_id}}" class="modal fade notif-action-modal accept-modal" role="dialog">
  <div class="modal-messages"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Accept Delivery</h3>
      </div>
      <div class="modal-body">
        <div class="payment-summary">
          <p>Below is a summary of the delivery from {{task.assignee.atom_id}}: </p>
          <table>
            <tr>
              <dv-widget name="ShowCompoundTransaction" of="Market" [init]="{compoundTransaction: task}"></dv-widget>
            </tr>
          </table>
        </div> <!-- end of payment-summary -->

        <hr>

        <p>Rate {{task.assignee.atom_id}}:</p>
        <dv-widget name="RateTarget" of="Rating" [init]="{target: task.assignee, source: task.assigner, rating: rating, submit_ok: submit_ok}"></dv-widget>

        <br class="hidden-ms hidden-sm hidden-md hidden-lg">
        <div class="row">
          <div class="col-xs-offset-8 col-xs-4">
            <dv-widget name="PayForCompoundTransactionButton" of="Market" [init]="{compoundTransaction: task, submit_ok: submit_ok}" style="float: right"></dv-widget>
            <dv-widget name="ApproveTask" of="Task" [init]="{task: task, submit_ok: submit_ok}" style="display: none"></dv-widget>
          </div>
        </div>

      </div> <!-- end of modal-body -->  
    </div>
  </div>
</div>

<!-- reject modal -->
<div id="reject-modal-{{task.atom_id}}" class="modal fade notif-action-modal reject-modal" role="dialog">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Reject Delivery</h3>
      </div>
      <div class="modal-body">
        <div class="modal-messages"></div>

        <div class="rejection">
            <p>Reason for rejection:</p>
            <select id="reason-{{task.atom_id}}" class="form-control reason">
                <option>The deliverer did not show up.</option>
                <option>The delivered item is not what I requested for.</option>
                <option>The delivered item is not in good condition.</option>
                <option>The price of the delivered item is incorrect.</option>
                <option>I don"t need the item anymore.</option>
            </select>
        </div>

        <hr>

        <p>Rate {{task.assignee.atom_id}}:</p>
        <dv-widget name="RateTarget" of="Rating" [init]="{target: task.assignee, source: task.assigner, rating: rating, submit_ok: submit_ok}"></dv-widget>
        <br class="hidden-ms hidden-sm hidden-md hidden-lg">
        <div class="row">
          <!-- does not work yet because there"s no rejected status to change it to -->
          <div class="col-xs-offset-8 col-xs-4">
            <button class="reject-rate-button btn btn-primary btn-wide" style="float: right">Rate</button>
          </div>
        </div>

      </div> <!-- end of modal-body --> 
    </div>
  </div>
</div>

<dv-widget name="NotificationItemModal" [init]="{task: task, user: task.assigner}"></dv-widget>
