<li data-type="label" class="draggable widget"><img src="images/label_icon.png" width="15px" height="15px"> Text</li>
<li data-type="link" class="draggable widget"><img src="images/link_icon.png" width="15px" height="15px"> Link</li>
<li data-type="image" class="draggable widget"><img src="images/image_icon.png" width="15px" height="15px"> Media</li>
<li data-type="tab-viewer" class="draggable widget"><img src="images/tabs_icon.png" width="15px" height="15px"> Nav tabs</li>
<li data-type="menu" class="draggable widget"><img src="images/menu_icon.png" width="15px" height="15px"> Menu</li>
<li data-type="panel" class="draggable widget"><img src="images/panel_icon.png" width="15px" height="15px"> Panel</li>
<li data-type="user" class="draggable widget"><img src="images/empty_icon.png" width="15px" height="15px"> Component Holder</li>
<li data-type="blank" class="draggable widget"><img src="images/empty_icon.png" width="15px" height="15px"> Blank</li>
