<!-- inputs="band" -->
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<nav-bar></nav-bar>
<div class="container page-content">
  <div class="row">
    <div class="col-md-3">
      <h2>
        <group:show-name-of-group [group]="band"></group:show-name-of-group>
      </h2>

      <dv:a next="create-setlist [band]='band'"
        class="btn btn-default">
        Create Setlist
      </dv:a>

      <p>Setlists:</p>
      <checklist:show-checklist of="SetlistList"
        [showItem]="link-to-setlist"
        [showItemInputs]="{'setlist': !item}">
      </checklist:show-checklist>
    </div>
    <div class="col-md-9">
      <h1>
        <group:show-name-of-group [group]="band">
        </group:show-name-of-group>
      </h1>

      <h2>Members</h2>
      <group:show-members-of-group [group]="band">
      </group:show-members-of-group>
    </div>
  </div>
</div>
