@import "~css-star-rating/dist/css/star-rating.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~leaflet/dist/leaflet.css";
@import "~leaflet-routing-machine/dist/leaflet-routing-machine.css";
@import "~leaflet-control-geocoder/dist/Control.Geocoder.css";
@import url('https://fonts.googleapis.com/css?family=Mogra');
@import url('https://fonts.googleapis.com/css?family=Asap');

md-icon {
  font-family: 'Material Icons' !important;
}

.inline-block {
  display: inline-block;
}

.center {
  text-align: center;
}

phoenix-register,
phoenix-signin {
  padding-top: 5em;
  font-family: 'Asap', sans-serif;
}

.title {
  font-size: 3.75em;
}

.slogan {
  font-size: 1.25em;
}

.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.panel-login .card-header {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align: center;
}

.panel-login .card-header a.dvlink {
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.panel-login .card-header .active a.dvlink {
  color: #029f5b;
  font-size: 18px;
}

.panel-login .card-header hr {
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}

.panel-login .mat-input-container {
  width: 75%;
}

.panel-login .mat-input-container input {
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

authentication-sign-in .mat-button,
.authentication-register .mat-button {
  background-color: #029f5b;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 5px 0px;
  text-transform: uppercase;
  width: 50%;
  font-family: 'Asap', sans-serif;
}

.logo {
  position: fixed;
  z-index: -1;
  margin: auto;
  left: 48%;
  top: 6%;
}

.logo>img {
  max-width: 80vh;
}

.login-container {
  position: relative;
  top: 10vh;
}

.about-us {
  margin: auto;
  width: auto;
  margin-top: 10vh;
  background-color: rgba(217, 217, 217, 0.3);
  border-radius: 5px;
}

.about-us>h2 {
  font-size: 32px;
}

.about-us>p {
  padding-top: 14px;
  font-size: 1em;
}

#sidebar-container ul a.dvlink {
  text-decoration: none;
  color: #d9d9d9;
  text-shadow: -1px 1px 3px #999999;
  transition: color .25s linear;
  line-height: 150%;
}

#sidebar-container ul .white a.dvlink {
  color: white;
}

#sidebar-container ul a.dvlink:hover {
  text-decoration: none;
  color: #a6a6a6;
}

authentication-sign-out .mat-button {
  background-color: #029f5b;
  border: 1px solid #e6e6e6;
  transition: background .25s linear;
  font-family: 'Asap', sans-serif;
}

authentication-sign-out .mat-button:hover {
  background-color: #029756;
}

#personal-and-calendar-container mat-form-field {
  width: 80%;
}

comment-create-comment mat-form-field {
  width: 90%;
}

.personal-info-desc span {
  border-left: 6px solid #ffbd00;
  padding: 0.5em 1em;
}

label-show-labels ul,
comment-show-comments ul {
  width: 80%;
  padding-bottom: 1em;
}

label-show-items li.list-group-item {
  border: none;
}

.btn-interested button.mat-button,
#close-connection-btn button.mat-button {
  background-color: lavender;
}
