<!-- inputs="song, user" -->
<div class="row">
  <div class="col-sm-8">
    <h3 style="color: #333">
      <checklist:show-item of="SongList" [item]="song">
      </checklist:show-item>
    </h3>
    <div>
      Selected?
      <checklist:edit-item-checked of="SongList" [item]="song">
      </checklist:edit-item-checked>
    </div>
  </div>
  <div class="col-sm-4">
    <div>
      <rating:rate-target [target]="song" [source]="user">
      </rating:rate-target>
    </div>
    <div>
      <rating:show-average-rating [target]="song">
      </rating:show-average-rating>
    </div>
  </div>
</div>
