<div>
  <property-show-object [id]="id"
    [hidden]="true"
    (loadedObject)="post=$event; outputPost($event)"
  >
  </property-show-object>

  <div *ngIf="!post">
    Post not found
  </div>

  <div *ngIf="post" class="post-container">
    <div class="inline-block">
      <hackernews-upvote
        [disabled]="!loggedInUser || post.author === loggedInUser.username"
        [id]="id" [isPost]="true" [loggedInUser]="loggedInUser">
      </hackernews-upvote>
    </div>
    <div class="inline-block">
      <div>
        <span class="post-title"><a [href]="post.url">{{post.title}}</a></span>
        <!-- TODO: below should link to list of all posts with that base url -->
        <span *ngIf="getBaseUrl(post.url)" class="subtext">
          ({{getBaseUrl(post.url)}})
        </span>
      </div>
      <div class="subtext">
        <scoring-show-target
          class="inline-block"
          dvOf="scoringposts"
          [id]="id"
          [showId]="false"
          [showScores]="false"
          totalLabel=""
        >
        </scoring-show-target> points by {{post.author}} | 
        <dv-link href="/item" [params]="{ id: id }">comments</dv-link>
        <!-- TODO: show number of comments -->
        <!-- TODO: save timestamp and show how long ago this was posted -->
      </div>
    </div>
  </div>
</div>
