<div *ngIf="userApp">
  <!-- for the user app -->
  <div> {{userApp.getName()}} </div>
  <div> Pages 
    <button class="btn btn-default btn-delete"
            (click)="newPage()">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
    <ng-container *ngFor="let widget of pages">
      <dv-list-item [widget]="widget"
                    [isDraggable]="false"
                    [isDeletable]="true">
      </dv-list-item>
    </ng-container>
  </div>
  <div> Unused Widgets
    <button class="btn btn-default btn-delete"
            (click)="newWidget()">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
    <ng-container *ngFor="let widget of unusedWidgets">
      <dv-list-item [widget]="widget"
                    [isDraggable]="true"
                    [isDeletable]="true">
      </dv-list-item>
    </ng-container>
  </div>
  <div> Templates
    <ng-container *ngFor="let widget of templates">
      <dv-list-item [widget]="widget"
                    [isDraggable]="true"
                    [isDeletable]="true"
                    [isTemplate]="true">
      </dv-list-item>
    </ng-container>
  </div>
</div>
<div>
  <!-- Base widgets -->
  <div> Base Widgets </div>
  <ng-container *ngFor="let widget of baseWidgets">
      <dv-list-item [widget]="widget"
                    [isDraggable]="true"
                    [isDeletable]="false"
                    [createNew]="true">
      </dv-list-item>
    </ng-container>
  </div>
<div>
  <!-- for imported cliches -->
</div>