<dv.action name="edit-list-rankings">
  <listify.navbar />

  <dv.tx>
    <authentication.logged-in />
    <dv.redirect href="/login" params={ callback: '/' }
      onEvalFailure=true>
    </dv.redirect>
  </dv.tx>

  <div class="main">
    <div class="container">
      <scoring.show-target id=$id hidden=true />
      <group.show-members inGroupId=$id hidden=true />

      <dv.if condition=listify.navbar.loggedInUser && scoring.show-target.loadedTarget && group.show-members.loadedMemberIds >
        <listify.list-summary
          id=$id
          loggedInUser=listify.navbar.loggedInUser
          listScoring=scoring.show-target.loadedTarget
          showVote=false />

        <dv.tx>
          <ranking.create-ranking
            showOptionToSubmit=false
            id=$id
            sourceId=listify.navbar.loggedInUser.id
            targetIds=group.show-members.loadedMemberIds
            showTarget=<listify.list-option listOption=$target /> />

          <dv.button class="bottom-right-button">
            <img src="assets/check.svg" />
          </dv.button>

          <dv.callback
            defaultHref='/lists/consensus'
            params={ id: $id }
            onExecSuccess=true
            hidden=true />
        </dv.tx>
      </dv.if>
    </div>
  </div>
</dv.action>
