@import url(~bootstrap/dist/css/bootstrap.min.css);
/* theming doc starts */
@import url(~@angular/material/prebuilt-themes/indigo-pink.css);
h1, h2, h3, h4 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: normal;
  color: #212529; }

div {
  font-family: inherit;
  font-weight: normal;
  color: inherit; }

a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #007bff; }
a:hover {
  color: #0056b3; }

a:root, a:root:hover {
  color: #007bff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

div:root, p:root, h1:root, h2:root, h3:root {
  color: #212529;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

nav {
  background: #FAF9F9;
  height: 58px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: 0 0;
  border-bottom: 2px solid silver; }
nav div, nav h1, nav h2, nav h3 {
  color: #FFFFFF;
  vertical-align: baseline;
  font-size: 1.25rem; }
nav a {
  color: #e52f4f;
  padding: 0;
  vertical-align: baseline;
  font-size: 1.25rem;
  font-weight: bold; }
nav a:hover {
  color: #e52f4f; }

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

body {
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding-top: 0px; }

main {
  background-color: white;
  margin-top: 58px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

/* Material UI */
.mat-error {
  color: #f44336;
  font-size: 12px; }

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background: #e52f4f; }

.mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: #f44336; }

.mat-input-element {
  caret-color: #212529; }

.dv-mat-button {
  display: inline; }

.mat-form-field-wrapper {
  width: 300px; }

.dv-ng5-slider .ng5-slider .ng5-slider-selection {
  background: #e52f4f; }
.dv-ng5-slider .ng5-slider .ng5-slider-pointer {
  background: #e52f4f; }
.dv-ng5-slider .ng5-slider .ng5-slider-pointer.ng5-slider-active:after {
  background: white; }
.dv-ng5-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
  background: #e52f4f; }
