<dv-tx>
  <h2>Add a New Chore</h2>
  <dv-id (id)="choreId=$event"></dv-id>
  <dv-status savedText="Chore created"></dv-status>
  <property-create-object dvOf="chore" [id]="choreId" [showOptionToSubmit]="false">
  </property-create-object>
  <task-create-task
    [id]="choreId"
    [assignerId]="user?.id"
    [assigneeId]="choreAssigneeId"
    [showOptionToInputAssignee]="false"
    [showOptionToSubmit]="false">
  </task-create-task>
  <div>
    <property-choose-object
      dvOf="child"
      chooseObjectSelectPlaceholder="Select Assignee"
      [showOnly]="['name']"
      (selectedObjectId)="choreAssigneeId=$event">
    </property-choose-object>
  </div>
  <!-- <market-create-good dvAlias="chore-create-good"
      [id]="choreId"
      priceLabel="Star Value"
      [sellerId]="choreAssignee?.id"
      [marketId]="user?.id"
      supply=1
      [showOptionToInputSeller]="false"
      [showOptionToInputSupply]="false"
      [showOptionToSubmit]="false">
    </market-create-good> -->
  <dv-button>Create Chore</dv-button>
</dv-tx>