<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<dv-widget name="NavBar"></dv-widget>
<div class="container page-content">
  <div class="row">
    <div class="col-md-3">
      <h2>
        <dv-widget name="ShowGroupName" of="Group"></dv-widget>
      </h2>

      <!-- Links to the add setlist page -->
      <dv-widget name="RedirectToGroup" of="Group"></dv-widget>

      <p>Setlists:</p>
      <dv-widget name="ShowList" of="SetlistList"></dv-widget>
    </div>
    <div class="col-md-9">
      <h1>
        <dv-widget name="ShowGroupName" of="Group"></dv-widget>
      </h1>

      <h2>Members</h2>
      <dv-widget name="ShowGroup" of="Group"></dv-widget>
    </div>
  </div>
</div>
