html, body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

body {
	background-color: #4FB5C3;
}

.white-back {
	background-color: white;
	color: black;
	flex: 1;
	height: 100%;
}

.btn-success {
	background-color: #4FB5C3;
	border: none;
}

.btn-success:hover, .btn-success:active, .btn-success:active:focus, .btn-success:focus {
	background-color: #218290;
	border: none;
}

.btn-danger {
	background-color: #871515;
	border: none;
}

.btn-danger:hover, .btn-danger:active, .btn-danger:active:focus, .btn-danger:focus {
	background-color: #BB2B2B;
	border: none;
}

.link {
	cursor:pointer;
	color: #218290;
}

.link:hover {
	color: #218290;
	font-weight: bold;
}

.below-navbar {
	margin-top: 75px;
}

.panel-default {
	border-color: white;
	color: black;
}

.edit {
	opacity: .3;
	height: 1.5em;
	cursor: pointer;
	margin-left: .2em;
}

.edit:hover {
	opacity: .5;
}

@media screen and (max-width: 423px) {
	.edit{
		display: block;
		margin-top:2em;
	}
}

.mycode {
	display: inline-block !important;
}

.competition-entry {
	height: 1.3em;
	display: inline-block;
	padding-right: .2em;
}

.panel {
	margin: .2em;
}

.right {
	text-align: right;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.inv-border {
	border: 1px;
}

.left-space {
	margin-left: 1em;
}

.labels {
	opacity: .9;
	color: black;
}

.red {
	color: #871515;
}

.edit-status {
	display: inline;
}

.others {
	height: 1.3em;
	margin-right: .2em;
	display: inline-block;
}

.others:hover{
	opacity:.5;
	cursor:pointer;
}

.round-checkbox {
	cursor: pointer;
	width: 1.5em;
	height: 1.5em;
	top: 0;
	border: 1px solid #bdc3c7;
	border-radius: 50%;
	background-color: white;
}

.check {
	height: 2em;
	margin-top: -1em;
	margin-left: .2em;
}

.round-checkbox:hover {
	background-color: #ecf0f1;
}