<dv.component name="home">
  <listify.navbar />

  <dv.tx>
    <authentication.logged-in />
    <dv.redirect
      href="/login"
      params={ callback: "/" }
      onEvalFailure=true />
  </dv.tx>

  <div class="main">
    <div class="container">
      <div class="right-container">
        <listify.profile-card loggedInUser=listify.navbar.loggedInUser />
        <div class="card-container legend">
          <div><div class="locked-list-marker"></div>Voting Closed</div>
          <div><div class="contributed-marker"></div>Ranking Submitted</div>
        </div>
      </div>

      <h2 class="tabs">
        <dv.tx>
          <dv.button>
            <span class=$showTrending ? 'selected-tab' : ''>Trending</span>
          </dv.button>
          <dv.link href="/home/trending" />
        </dv.tx>|
        <dv.tx>
          <dv.button>
            <span class=!$showTrending ? 'selected-tab' : ''>Most Recent</span>
          </dv.button>
          <dv.link href="/home/recent" />
        </dv.tx>
      </h2>
      <dv.if condition=$showTrending>
        <dv.tx>
          <authentication.authenticate as auth-show-targets
            user=listify.navbar.loggedInUser waitOn=['user'] hidden=true />
          <scoring.show-targets-by-score
            noTargetsText="No lists yet."
            showAscending=false
            showScores=false
            showTarget=<listify.list-card
              gotoOnClick="/lists/consensus"
              id=$id target=$target
              loggedInUser=listify.navbar.loggedInUser
              showVote=true /> />
        </dv.tx>
      </dv.if>
      <dv.if condition=!$showTrending>
        <dv.tx>
          <authentication.authenticate as auth-show-objects
            user=listify.navbar.loggedInUser waitOn=['user'] hidden=true />
          <list.show-objects
            noObjectsToShowText="No lists yet."
            showObject=<listify.list-card
              gotoOnClick="/lists/consensus"
              id=$id object=$object
              loggedInUser=listify.navbar.loggedInUser
              showVote=true /> />
        </dv.tx>
      </dv.if>

      <div>
        <dv.tx>
          <dv.button class="bottom-right-button">
            <img src="assets/plus.svg" />
          </dv.button>
          <dv.callback defaultHref="/lists/create" onExecSuccess=true
            hidden=true />
        </dv.tx>
      </div>
    </div>
  </div>
</dv.component>
