<dv-widget name="LoggedIn" of="StandardAuthentication"></dv-widget>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container navbar-header">
    <span class="navbar-brand">Bookmark</span>
    <ul class="nav navbar-nav">
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/home']">Home</a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/topics']">Topics</a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/users']">Users</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a>{{user.username}}</a>
      </li>
      <li>
        <dv-widget name="SignOutWithRedirect" of="StandardAuthentication"></dv-widget>
      </li>
    </ul>
  </div>
</nav>
