<nav class="navbar navbar-default navbar-static-top">
  <div class="container navbar-header">
    <span class="navbar-brand">Bookmark</span>
    <ul class="nav navbar-nav">
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/home']">Home</a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/topics']">Topics</a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/users']">Users</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="padding-top: 10px">
      <li style="padding-top:10px;">
        <dv-widget name="LoggedIn" of="Auth"></dv-widget>
      </li>
      <li style="padding-left:10px;">
        <dv-widget name="SignOutWithRedirect" of="Auth"></dv-widget>
      </li>
    </ul>
  </div>
</nav>
