<!-- Register --> 
<form (ngSubmit)="onSubmit()" #signInForm="ngForm" class="form-horizontal">
  <fieldset class="form-group">
    <label class="sr-only" for="username">Username</label>
    <input type="text" required class="form-control"
    [(ngModel)]="user.username" ngControl="username" placeholder="Username"/>
  </fieldset>
  <fieldset class="form-group">
    <label class="sr-only" for="password">Password</label>
    <input type="password" required class="form-control"
     [(ngModel)]="user.password" ngControl="password" placeholder="Password"/>
  </fieldset>
  <fieldset class="form-group">
    <button type="submit" class="btn btn-default btn-sm"
     [disabled]="!signInForm.form.valid">Register</button>
  </fieldset>
</form>
