<div class="btn-group display-component" role="group">
  <a  *ngFor="let menu_item of value"
      type="button" 
      class="btn btn-default" 
      role="button" 
      [href]="menu_item.target">
    {{menu_item.text}}
  </a>
</div>

<dv-widget-options 
    [widget]="widget"
    (applyChanges)="applyChanges($event)">
  <div items>
    <button mat-menu-item [matMenuTriggerFor]="styleAlignment">Alignment</button>
  </div>
  <div menus>
    <mat-menu #styleAlignment="matMenu">
      <button class="menu-horizontal"
          mat-menu-item>Vertical</button>
      <button class="menu-vertical"
          mat-menu-item>Horizontal</button>
    </mat-menu>
  </div>  

  <div tooltip>
    <!-- TODO make this better -->
    <div class="row">
      <div class="col-sm-2 form-lbl-header"> </div>
      <div class="col-sm-4 form-lbl-header"> </div>
      <div class="col-sm-5 form-lbl-header" (click)="add()">
        <button>+</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 form-lbl-header"> </div>
      <div class="col-sm-4 form-lbl-header">Title </div>
      <div class="col-sm-5 form-lbl-header">Target </div>
    </div>
    <br/>
    <div class="row" 
          *ngFor="let menu_item of value">
      <div class="col-sm-2 form-lbl">Item 1 </div>
      <div class="col-sm-4">
        <input type="text" 
        class="form-control" 
        [(ngModel)]="menu_item.text"/>
      </div>
      <div class="col-sm-5">
        <input type="text" class="form-control" 
        [(ngModel)]="menu_item.target"/>
      </div>
    </div>
  </div>
</dv-widget-options>