<div class="row">
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="add-competition-form">
                    <div class="col-xs-3">
                        <dv-widget name="EditNameOfGroup" of="CompetitionHosts"></dv-widget>
                    </div>
                    <div class="col-xs-2">
                        <dv-widget name="NewEventStartDate" of="Event"></dv-widget>
                    </div>
                    <div class="col-xs-2">
                        <!-- Race Condition: Passkey is added before check for existence -->
                        <dv-widget name="CreateCustomPasskeyContent" of="SpectatorAuthentication"></dv-widget>
                    </div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-2">
                        <dv-widget name="NewGroupWithInitialMemberButton" of="CompetitionHosts"></dv-widget>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-xs-12 center"></div>
</div>

<!-- HACK: remove once fields with default values are always included -->
<dv-widget name="SignInWithRedirect" of="HostAuthentication" style="display:none">
</dv-widget>