<form class="add-competition-form">
    <dv-widget name="EditNameOfGroup" of="CompetitionHosts"></dv-widget>
    <dv-widget name="NewEventContent" of="Event"></dv-widget>
    <dv-widget name="CreateCustomPasskeyContent" of="SpectatorAuthentication"></dv-widget>
    <dv-widget name="NewGroupWithInitialMemberButton" of="CompetitionHosts"></dv-widget>
</form>

<!-- HACK: remove once fields with default values are always included -->
<dv-widget name="SignInWithRedirect" of="HostAuthentication" style="display:none">
</dv-widget>
