// Base template
// default color palette
$primaryColor: #00237d !default;
$textColor: #000000 !default;
$linkColor: #0000EE !default;
$linkHoverColor: $linkColor !default;
$rootLinkColor: $linkColor !default;
$headingColor: $primaryColor !default;
$backgroundColor: #f5f5f5 !default;
$errorMessageColor: #f44336 !default;

$mainFont: 'Arial', sans-serif !default;
$textFont: $mainFont !default;
$textWeight: normal !default;
$headingFontWeight: bold !default;

$navbarBackgroundColor: $primaryColor !default;
$navbarFont: $mainFont !default;
$navbarTextColor: #FFFFFF !default;
$navbarTextSize: 1rem !default;
$navbarHeight: 56px !default;
$navbarButtonPadding: 0 10px !default;
$navbarLinkColor: $navbarTextColor !default;
$navbarLinkHoverColor: $navbarLinkColor !default;
$navbarLinkFontWeight: normal !default;
$navbarVerticalAlign: middle !default;
$navbarPadding: 0 0;
$navbarBorderBottom: 0 !default;

$bodyPaddingTop: 0px !default;

$sliderColor: $primaryColor !default;
$sliderActiveColor: $backgroundColor !default;
$sliderSelectionColor: $sliderColor !default;
$sliderPointerColor: $sliderColor !default;
$sliderTickColor: $sliderColor !default;

$formWidth: 300px !default;

$use-default-mat-button: false !default;
$use-bootstrap: true !default;

// load bootstrap if $use-bootstrap is set to true
%loadFile {
  @import "~bootstrap/dist/css/bootstrap.min.css";
}

html {
  @if $use-bootstrap == true {
    @extend %loadFile;
  }
}

/* theming doc starts */
// mixin utils
@mixin heading-style {
  font-family: $mainFont;
  font-weight: $headingFontWeight;
  color: $headingColor;
}

@mixin text-style {
  font-family: inherit;
  font-weight: $textWeight;
  color: inherit;
}

@mixin link-style {
  font-family: $textFont;
  color: $linkColor;

  &:hover {
    color: $linkHoverColor;
    @if mixin_exists(link-hover) {@include link-hover};
  }
}

// generic
h1, h2, h3, h4 {
  @include heading-style;
}

div {
  @include text-style;
}

a {
  @include link-style;
}

// root link
a:root, a:root:hover {
  color: $rootLinkColor;
  font-family: $mainFont;
}

div:root, p:root, h1:root, h2:root, h3:root {
  color: $textColor;
  font-family: $mainFont;
}

nav {
  background: $navbarBackgroundColor;
  height: $navbarHeight;
  font-family: $navbarFont;
  padding: $navbarPadding;
  border-bottom: $navbarBorderBottom;

  div, h1, h2, h3 {
    color: $navbarTextColor;
    vertical-align: $navbarVerticalAlign;
    font-size: $navbarTextSize;
  }

  a {
    color: $navbarLinkColor;
    padding: $navbarButtonPadding;
    vertical-align: $navbarVerticalAlign;
    font-size: $navbarTextSize;
    font-weight: $navbarLinkFontWeight;

    &:hover {
      color: $navbarLinkHoverColor;
      @if mixin-exists(dv-navbar-link-hover) {@include dv-navbar-link-hover};
    }

    @if mixin-exists(dv-navbar-link) {@include dv-navbar-link};
  }
}

html {
  font-family: $mainFont;
}

body {
  background: $backgroundColor;
  font-family: $mainFont;
  padding-top: $bodyPaddingTop;
}

main {
  background-color: $backgroundColor;
  margin-top: $navbarHeight;
  font-family: $mainFont;
}


/* Material UI */
.mat-error {
  color: $errorMessageColor;
  font-size: 12px;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background: $primaryColor;
}

.mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: $errorMessageColor;
}

.mat-input-element {
  caret-color: $textColor;
}

.dv-mat-button {
  display: inline;
}

// About mat-button
// there are three ways to overwrite the button information
//  1. Have a wrapper class called "dv-mat-button" on every button in
//     concept components [CHOSEN]
//  2. Put an important tag after class "mat-button"
//  3. Not use mat-button

// Overwrite mat-button by wrapping each
// instance of the mat-button in a different class
.dv-mat-button {
  button.mat-button {
    @if $use-default-mat-button == false {
      background: $primaryColor;
      color: $textColor;
    }
    @if mixin-exists(dv-button) {@include dv-button};
  }

  button.mat-icon-button {
    .mat-button-wrapper > * {
      @if mixin-exists(dv-mat-icon-wrapper) {@include dv-mat-icon-wrapper}
    }
  }
}

.mat-form-field-wrapper {
  width: $formWidth;
}

@import "~@angular/material/theming";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@include mat-core();

// ng5-slider
.dv-ng5-slider {
  .ng5-slider {
    .ng5-slider-selection {
      background: $sliderSelectionColor;
    }

    .ng5-slider-pointer {
      background: $sliderPointerColor;
    }

    .ng5-slider-pointer.ng5-slider-active:after {
      background: $sliderActiveColor;
    }

    .ng5-slider-tick.ng5-slider-selected {
      background: $sliderTickColor;
    }
  }
}

