<ul *ngIf="stagedMembers && stagedMembers.length > 0"
  class="list-group member-list">
  <li *ngFor="let member of stagedMembers"
    class="list-group-item member-list-item">
    <dv-widget name="ShowNameOfMember" [init]="{member: member}"></dv-widget>
    <button class="btn btn-danger pull-right"
      (click)="unstageMember(member.atom_id)">X</button>
  </li>
</ul>
<form (ngSubmit)="stageMember()" #addMembersForm="ngForm"
  class="form-horizontal">
  <fieldset class="form-group" id="{{wrapId}}">
    <label class="sr-only" for="name">Member Name</label>
    <input required class="form-control typeahead" name="name"
      type="text" autocomplete="off" placeholder="Member Name"/>
  </fieldset>
  <div class="form-group">
    <button type="submit" class="btn btn-default btn-sm pull-right"
     [disabled]="!addMembersForm.valid">Add Member</button>
  </div>
  <div class="alert alert-danger" *ngIf="failMsg">{{failMsg}}</div>
</form>
