<!-- inputs="user" output="party" alloc="party" -->
<div class="container" id="homepage-container">
  <div class="col-md-6 col-md-offset-3" id="namebox">
    <form class="form-horizontal" dvTransaction next="dv:navigate">
      <!-- all actions inside the element marked with dvTransaction
           will be executed in a transaction --->
      <event:new-event event="party"></event:new-event>
      <group:new-group-with-initial-member group="party" member="user">
      </group:new-group-with-initial-member>
      <dv:button>Create Party</dv:button>
    </form>
    <dv:a click="dv:navigate" [clickInputs]="{'to': parties}">
      Return to Your Parties
    </dv:a>
  </div>
</div>
