<dv-widget name="LoggedIn" of="ClimberAuthentication"></dv-widget>
<nav class="navbar navbar-inverse navbar-fixed-top bug-fix" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a routerLink="/climber" class="navbar-brand">{{climber.name}}</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!-- Is it possible to toggle visibility? -->
                <li class="popup">
                    <a class="mycode">My Code</a>
                    <span class="popuptext" id="my-popup">{{climber.code}}</span>
                </li>
                <li>
                    <a routerLink="/buddy-login">Buddy Log</a>
                </li>
                <li>
                    <a routerLink="/climber">Scorecard</a>
                </li>
                <li>
                    <!-- TODO: Implement leaderboard -->
                    <a>Rules</a>
                </li>
                <li>
                    <!-- TODO: Implement rules -->
                    <a>Rules</a>
                </li>
                <li>
                    <dv-widget name="SignOutWithRedirect" of="ClimberAuthentication"></dv-widget>
                </li>
            </ul>
        </div>
    </div>
</nav>
