<div id="zoom-control">
  <button id="zoom-control-minimize-btn" class="btn btn-default">
      <span class="glyphicon glyphicon-chevron-right"></span>
  </button>
  <button id="zoom-actual" class="btn btn-default">
      Actual
  </button>
  <button id="zoom-fit" class="btn btn-default">
      Fit
  </button>
  <button id="zoom-full" class="btn btn-default">
      Full
  </button>
  <button id="zoom-out" class="zoom-control-button">
      <span class="glyphicon glyphicon-zoom-out"></span>
  </button>
  <div id="zoom-slider-and-value">
      <input id="zoom-slider" type="range" min="-300" max="300" value="0"/>
      <div id="zoom-control-value"></div>
  </div>
  <button id="zoom-in" class="zoom-control-button">
      <span class="glyphicon glyphicon-zoom-in"></span>
  </button>
</div>
