<dv-widget name="LoggedIn" of="HostAuthentication"></dv-widget>
<nav class="navbar navbar-inverse navbar-fixed-top bug-fix" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a routerLink="/host" class="navbar-brand">Host</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                      
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a routerLink="/host">Competitions</a>
                </li>
                <li>
                    <dv-widget name="SignOutWithRedirect" of="HostAuthentication"></dv-widget>
                </li>
            </ul>
        </div>
    </div>
</nav>