<link href="https://fonts.googleapis.com/css?family=Fruktur|Roboto"
 rel="stylesheet">
<style>
#create-things-admin {
  text-align: center;
}
</style>
<div class="body">
  <dv-widget name="LoggedIn" of="ParentAuth"></dv-widget>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">ChoreStar</a>
      </div>
      <dv-widget name="SignOutWithRedirect" of="ParentAuth">
      </dv-widget>
    </div>
  </nav>

  <div class="row">
    <div class="col-md-offset-2 col-md-7">
      <div id="create-things-admin">
        <div class="row">
          <h2>Hi, {{parent.name}}!</h2>
        </div>
        <div class="row">
          <h2>Add a New Chore</h2>
          <dv-widget name="CreateTask" of="Task"></dv-widget>
        </div>
        <div class="row">
          <h2>Add a New Reward</h2>
          <dv-widget name="CreateReward"></dv-widget>
        </div>
        <div class="row">
          <h2>Add a New Child</h2>
          <dv-widget name="RegisterWithRedirect" of="ChildAuth"></dv-widget>
        </div>
        <div class="row">
          <h2>Assigned Chores</h2>
          <dv-widget name="ShowAssignedTasks" of="Task"></dv-widget>
        </div>
        <div class="row">
          <h2>Chores to Approve</h2>
          <dv-widget name="ShowPendingApprovalTasks" of="Task"></dv-widget>
        </div>
        <div class="row">
          <h2>Offered Rewards</h2>
          <dv-widget name="ShowMyGoodsForSale" of="Market"></dv-widget>
        </div>
      </div>
    </div>
  </div>
</div>
