<!-- fields="user" -->
<link href="https://fonts.googleapis.com/css?family=Fruktur|Roboto"
 rel="stylesheet">
<style>
#create-things-admin {
  text-align: center;
}
</style>
<div class="body">
  <standard-authentication:logged-in (user)="user" 
    of="ParentAuthentication">
  </standard-authentication:logged-in>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">ChoreStar</a>
      </div>
      <standard-authentication:sign-out of="ParentAuthentication"
        next="landing">
      </standard-authentication:sign-out>
    </div>
  </nav>

  <div class="row">
    <div class="col-md-offset-2 col-md-7">
      <div id="create-things-admin">
        <div class="row">
          <h2>
            Hi,
            <standard-authentication:username 
              of="ParentAuthentication">
            </standard-authentication:username>!
          </h2>
        </div>
        <div class="row">
          <h2>Add a New Chore</h2>
          <task:create-task [assigner]="user"></task:create-task>
        </div>
        <div class="row">
          <h2>Add a New Reward</h2>
          <create-reward [user]="user"></create-reward>
        </div>
        <div class="row">
          <h2>Add a New Child</h2>
          <!-- this really needs another cliche -->
          <standard-authentication:register of="ChildAuthentication">
          </standard-authentication:register>
        </div>
        <div class="row">
          <h2>Assigned Chores</h2>
          <task:show-assigned-tasks [assigner]="user">
          </task:show-assigned-tasks>
        </div>
        <div class="row">
          <h2>Chores to Approve</h2>
          <task:show-pending-approval-tasks [assigner]="user"
            [approveTask]="approve-and-rate-chore"
            [approveTaskInputs]="{'parent': user, 'chore': !task}">
          </task:show-pending-approval-tasks>
        </div>
        <div class="row">
          <h2>Offered Rewards</h2>
          <market:show-my-goods-for-sale [seller]="user" [market]="user">
          </market:show-my-goods-for-sale>
        </div>
      </div>
    </div>
  </div>
</div>
