.col-md-6 {
  padding-left: 5px;
  padding-right: 5px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.bigger-text {
  font-size: 20px;
  text-align: center;
}

.event-card-row .card {
  margin-top: 10px;
  margin-bottom: 0;
}

.col-md-6:nth-child(2n+1) {
  clear: both;
}

.edit-cancel-event-btn-container {
  text-align: center;
  padding-top: 2em;
}

.edit-event-btn {
  margin-right: 10px;
}

