<div class="widget-component"
      *ngIf="widget"
      [style.height.px]="widget.getDimensions().height"
      [style.width.px]="widget.getDimensions().width">
  <span>Name: {{widget.getName()}}</span>
  <ng-container *ngIf="widget.isUserType()">
    <ng-container *ngFor="let innerWidget of innerWidgets">
      <dv-widget [widget]="innerWidget"
                  [isSelected]="false"
                  [isMovable]="isSelected">
      </dv-widget>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="widget.isBaseType()">
    <dv-label-widget *ngIf="widget.getBaseWidgetType() === 'label'"
      [widget]="widget"></dv-label-widget>
    <dv-link-widget *ngIf="widget.getBaseWidgetType() === 'link'"
      [widget]="widget"></dv-link-widget>
  </ng-container>
</div>

