<div class="widget-component"
      *ngIf="widget"
      [style.height.px]="widget.getDimensions().height"
      [style.width.px]="widget.getDimensions().width">
  <span>I am a widget</span>
  <span>Name: {{widget.getName()}}</span>
  <ng-container *ngIf="widget.isUserType()">
    <ng-container *ngFor="let innerWidget of innerWidgets">
      <dv-widget [widget]="innerWidget"
                  [isSelected]="false"
                  [isMovable]="isSelected">
      </dv-widget>
    </ng-container>
  </ng-container>
</div>